.root {
  .filter-bar {
    background-color: #f6f6f6;
    width: 100%;
    position: relative;
    display: flex;
    height: 47px;
    padding: 0px 30px;

    .pretext {
      display: flex;
      align-items: center;

      img {
        cursor: pointer;
      }
    }
  }

  .bare-acts-container {
    .bare-acts-content {
      margin: 20px 30px 0 30px;

      .act-heading {
        font-family: Poppins;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--solid-black);
      }
    }


    .bare-acts-section {
      font-size: 14px;
      font-family: Poppins;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      padding-bottom: 25px !important;
      border-bottom: 1.5px solid #2e5bff0d;

      .title {
        margin: 0 30px 0 30px;
        color: #2e5bff;
      }

      .detail {
        margin: 0 30px 0 30px;
        margin-top: 10px;
      }

      hr {
        color: #2e5bff0d;
        height: 1.5px;
      }

      .color {
        box-shadow: 0px 4px 4px 0 #053bff14, 0px 0px 12px 0 #053bff14;
        background-color: #053bff0d;
      }

      .transparent {
        background-color: red;
      }
    }

    .bare-acts-section:not(:first-child) {
      margin-top: 25px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    .filter-bar {
      padding: 0 15px;
    }

    .bare-acts-container {
      .bare-acts-content {
        margin: 20px 15px;
      }

      .bare-acts-section{
        .title{
          margin: 0 15px 0 15px;
        }
        .detail{
          margin: 0 15px 0 15px;
        }
      }
    }
  }
}