<app-header [menuName]="'Case Law'"></app-header>

<div class="root">
  <div class="filter-bar">
    <div class="pretext col-lg-12 col-md-12">
      <img
        src="../../../assets/images/icons/arrow-left.svg"
        (click)="routeBack()"
      />
    </div>
  </div>

  <div class="bare-acts-container">
    <div class="bare-acts-content">
      <div class="act-heading">The Indian Panel Code, 1860</div>
      <div class="d-flex mat-input-white mt-3" style="flex-direction: column">
        <mat-label class="mat-label mb-1">Section</mat-label>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Select section" [(value)]="value">
            <mat-option
              *ngFor="let section of sections"
              [value]="section.value"
              (click)="selected($event, section.value)"
            >
              {{ section.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div style="height: calc(100vh - 330px); margin-top: 15px">
      <ng-scrollbar>
        <div
          class="bare-acts-section"
          *ngFor="let list of bareActList; index as i"
          [id]="(i + 1).toString()"
        >
          <div class="title">
            <span>{{ list.section }}</span> : {{ list.title }}
          </div>
          <div class="detail">
            <div>{{ list.detailHeader }}</div>
            <div *ngFor="let item of list.details">{{ item }}</div>
          </div>
        </div>
      </ng-scrollbar>
    </div>
  </div>
</div>
