<!-- header start -->
<app-header [menuName]="'Case Diary'"></app-header>

<!-- root-section start -->
<div class="root">
  <div class="create-case-diary">
    <div class="create-case-diary-heading">Create Case Diary</div>
    <div class="create-case-diary-fields">
      <form [formGroup]="createCaseDiaryForm">
        <div class="case-diary-col row">
          <div class="d-flex mat-input-white me-4" style="flex-direction: column">
            <mat-label class="mat-label">Registration Date</mat-label>
            <mat-form-field appearance="outline">
              <input matInput [matDatepicker]="picker" formControlName="registrationDate"
                placeholder="Select Registration Date" required>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="createCaseDiaryForm.controls['registrationDate'].errors?.['required']">Registration Date
                is Required !!</mat-error>
            </mat-form-field>
          </div>

          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label">Applicant Name</mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Type applicant name" formControlName="applicantName" required />
              <mat-error *ngIf="createCaseDiaryForm.controls['applicantName'].errors?.['required']">Applicant Name is
                Required !!</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="case-diary-col row">
          <div class="d-flex mat-input-white me-4" style="flex-direction: column">
            <mat-label class="mat-label">Court Name</mat-label>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Select court" formControlName="courtName" required>
                <mat-option *ngFor="let court of courtNameList" [value]="court.value">
                  {{ court.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createCaseDiaryForm.controls['courtName'].errors?.['required']">Court Name is Required
                !!</mat-error>
            </mat-form-field>
          </div>

          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label">Respondent Name</mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Type respondent name" formControlName="respondentName" required />
              <mat-error *ngIf="createCaseDiaryForm.controls['respondentName'].errors?.['required']">Respondent Name is
                Required !!</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="case-diary-col row">

          <div class="d-flex mat-input-white me-4" style="flex-direction: column">
            <mat-label class="mat-label">Case Name</mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Type case name" formControlName="caseName" required />
              <mat-error *ngIf="createCaseDiaryForm.controls['caseName'].errors?.['required']">Case Name is
                Required
                !!</mat-error>
            </mat-form-field>
          </div>

          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label">Case No.</mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Type case number" formControlName="caseNumber" required />
              <mat-error *ngIf="createCaseDiaryForm.controls['caseNumber'].errors?.['required']">Case No. is
                Required
                !!</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="case-diary-col row">
          <div class="d-flex mat-input-white me-4" style="flex-direction: column">
            <mat-label class="mat-label">Next Hearing Date</mat-label>
            <mat-form-field appearance="outline">
              <input matInput [matDatepicker]="picker2" formControlName="nextHearingDate"
                placeholder="Select Next Hearing Date" required>
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error *ngIf="createCaseDiaryForm.controls['nextHearingDate'].errors?.['required']">Hearing
                Date is
                Required !!</mat-error>
            </mat-form-field>
          </div>

          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label">Case Stage</mat-label>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Select stage" formControlName="caseStage" required>
                <mat-option *ngFor="let stage of stages" [value]="stage.value">
                  {{ stage.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createCaseDiaryForm.controls['caseStage'].errors?.['required']">
                Case Stage is Required !!</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="case-diary-col row">
          <div class="d-flex mat-input-white me-4" style="flex-direction: column">
            <mat-label class="mat-label">Application Type</mat-label>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Select application type" formControlName="applicationType" required>
                <mat-option *ngFor="let type of applicationType" [value]="type.value">
                  {{ type.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createCaseDiaryForm.controls['applicationType'].errors?.['required']">Application
                Type is
                Required !!</mat-error>
            </mat-form-field>
          </div>

          <div class="d-flex mat-input-white " style="flex-direction: column">
            <mat-label class="mat-label">City</mat-label>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Select city" formControlName="city" required>
                @for (city of cityList; track city) {
                <mat-option [value]="city.name">
                  {{ city.name }}
                </mat-option>
                }
              </mat-select>
              <mat-error *ngIf="createCaseDiaryForm.controls['city'].errors?.['required']">City is Required
                !!</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="case-diary-col row">
          <div class="d-flex mat-input-white me-4" style="flex-direction: column">
            <mat-label class="mat-label">Application Section</mat-label>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Select application section" formControlName="applicationSection" required>
                <mat-option *ngFor="let section of applicationSection" [value]="section.value">
                  {{ section.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createCaseDiaryForm.controls['applicationSection'].errors?.['required']">Application
                Section is Required !!</mat-error>
            </mat-form-field>
          </div>

          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label">Reason for Absent</mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Type reason for absent" formControlName="lawyreasonForAbsent" required />
              <mat-error *ngIf="createCaseDiaryForm.controls['lawyreasonForAbsent'].errors?.['required']">
                Reason for Absent is Required !!</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>

    <div class="lower-div">
      <button mat-raised-button color="primary" type="button"
        style="font-size: 14px !important; width: 124px !important" (click)="createCaseDiary()">
        <img src="../../../../assets/images/icons/create-case-diary.svg" />Create
      </button>

      <button mat-stroked-button color="primary" style="margin-left: 20px" (click)="resetForm()">
        <img src="../../../../assets/images/icons/reset.svg" />Reset
      </button>
    </div>
  </div>
  <!-- root-section ends -->
</div>