.root {
  .create-case-diary {
    margin: 30px 30px 0 30px;

    .create-case-diary-heading {
      flex-grow: 0;
      margin: 0 0 23px 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }

    .create-case-diary-fields {
      .mat-label {
        margin-bottom: 4px;
        height: 21px;
        flex-grow: 0;
        font-family: Poppins;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }

      input [type="file"] {
        font-family: Poppins;
      }
    }

    .lower-div {
      display: flex;
      margin-top: 35px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        font-size: 14px;
      }

      img {
        margin-right: 10px;
      }

      .mat-mdc-outlined-button:not(:disabled) {
        width: unset !important;
      }
    }
  }
}
