.login-form {
  font-family: Poppins;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .welcome-text {
    flex-grow: 0;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .sub-text {
    flex-grow: 0;
    margin: 12px 0 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8798ad;
  }

  .header-text {
    width: 357px;
  }

  .mat-mdc-form-field {
    display: grid;
    // width: 357px;
  }
}

.image-container {
  background-color: #1949f517;
}



@media only screen and (min-width:768px) and (max-width: 1023px) {
  .login-form {
    .header-text {
      width: 280px;
    }
  }
}