.login-form {
  font-family: Poppins;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .mat-mdc-tab-body {
    max-width: 357px;
  }

  .welcome-text {
    height: 36px;
    flex-grow: 0;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .sub-text {
    width: 312px;
    height: 18px;
    flex-grow: 0;
    margin: 12px 0 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8798ad;
  }

  .mat-mdc-form-field {
    display: grid;
  }
}

.image-container {
  background-color: #1949f517;
}
