.root {
  .mobile-responsive-img {
    display: none;
  }

  .login-form {
    font-family: Poppins;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .welcome-text {
      flex-grow: 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }

    .sub-text {
      flex-grow: 0;
      margin: 12px 0 0;
      font-family: Poppins;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #8798ad;
    }

    .header-text {
      width: 357px;
    }

    .mat-mdc-form-field {
      display: grid;
      // width: 357px;
    }
  }

  .image-container {
    background-color: #1949f517;
  }
}





@media only screen and (min-width:768px) and (max-width: 1023px) {
  .root {
    .mobile-responsive-img {
      display: none;
    }

    .login-form {
      .header-text {
        width: 280px;
      }
    }
  }

}

@media (max-width:600px) {
  .root {
    flex-wrap: wrap;

    .mobile-responsive-img {
      display: block;
      width: 100%;

      .vidhik-logo {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 20px 0;

        img {
          height: 70px;
        }
      }

      img {
        width: 100%;
        height: 300px;
      }
    }

    .login-form {
      height: unset;
      padding: 0 20px 20px 20px;

      .vidhik-logo {
        display: none;
      }
    }

    .mobile-responsive-img1 {
      display: none;
    }
  }

}