.root {
  .feed-section {
    top: 0;

    .filter-bar {
      background-color: #f6f6f6;
      width: 100%;
      position: relative;
      display: flex;
      height: 47px;
      padding: 0px 30px;

      .pretext {
        display: flex;
        align-items: center;
      }

      .posttext {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      img {
        margin-right: 20px;
        cursor: pointer;
      }
    }

    .description {
      margin: 30px;
      font-family: poppins;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: var(--solid-black);

      .bold {
        font-weight: bold;
      }
    }

  }
}



@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    .feed-section {
      .filter-bar {
        padding: 0 15px;
      }

      .description {
        margin: 15px;
      }
    }
  }
}