<!-- header -->
<app-header [menuName]="'Case Diary'"></app-header>

<!-- root-section-start -->
<div class="root">
  <!-- feed-section-start -->
  <div class="feed-section">
    <!-- case-diary-bar start-->
    <div class="filter-bar mb-2">
      <div class="pretext col-lg-6 col-md-6" (click)="backButton()">
        <img src="../../../assets/images/icons/arrow-left.svg" />
      </div>

      <!-- shareMenu, pdfMenu start-->
      <div class="posttext col-lg-6 col-md-6">
        <div [matMenuTriggerFor]="shareMenu" class="mat-menu-list">
          <img src="../../../assets/images/icons/case-diary-share.svg" />
        </div>
        <div (click)="exportAsPDF('printableArea')"><img src="../../../assets/images/icons/pdf.svg" /></div>
        <div (click)="print()"><img src="../../../assets/images/icons/print.svg" style="margin-right: 0;" /></div>
      </div>

      <mat-menu #shareMenu="matMenu" yPosition="below" [hasBackdrop]="true" class="view-application-mat-menu">
        <button mat-menu-item>
          <img src="../../../assets/images/icons/email_share.svg" alt="" class="me-2" />
          <span><a href="mailto:test123@gmail.com" style="color: black; text-decoration: none;">Share on
              email</a></span>
        </button>
        <button mat-menu-item>
          <img src="../../../assets/images/icons/wtsp_share.svg" alt="" class="me-2" />
          <span>Share on whatsapp</span>
        </button>
      </mat-menu>
    </div>
    <!-- case-diary-bar ends-->

    <!-- case-diary details start-->
    <div style="height: calc(100vh - 175px)">
      <ng-scrollbar autoHeightDisabled="false" appearance="standard">
        <div class="description" #printableContent id="printableArea">
          <div>IN THE COURT OF <span class="bold">XII ADJ, Indore</span></div>
          <div class="mt-3 print-content">
            Case No: <span class="bold">2341</span><br />
            Hearing Date: <span class="bold">15-01-24</span><br />
            Case Title: <span class="bold">Criminal</span>
          </div>
          <div class="mt-3 print-content"><span class="bold">Karan Singh</span> Applicant</div>
          <div class="mt-3 print-content">Versus</div>
          <div class="mt-3 print-content"><span class="bold">Ram Kumar</span> Respondent</div>
          <div class="mt-3 print-content">
            Application u/s <span class="bold">318</span> Cr.P.C.
          </div>
          <div class="mt-3 print-content">Bail application pending hearing of appeal</div>
          <div class="mt-3 print-content">Most respectfully showeth:-</div>
          <div class="mt-3 print-content">
            1. That petitioner has been convicted by the Hon'ble court for the
            offence under Section 318 and passed an order to undergo sentence
            RI with fine in default to suffer
          </div>
          <div class="mt-3 print-content">
            2. Applicant responded is
            <span class="bold">Out of Station </span>Today.
          </div>
          <div class="mt-3 print-content">
            It is most respectfully prayed that petitioner convict may please be
            granted bail (Short bail) in order to
            enable to lodge appeal against the conviction and sentence.
          </div>
          <div class="mt-3 print-content">It is prayed accordingly.</div>
          <div class="mt-3 print-content">Convict/Accused.</div>
          <div class="mt-3 print-content">Date:<br />Through Counsel</div>
          <div class="mt-3 print-content">
            Place:<span class="bold">Indore</span><br />U/s. 389 (3) Cr. P. C. short
            bail can be obtained for filing appeal to High Court/ Sessions Court.
          </div>
          <!-- case-diary details ends-->
        </div>
      </ng-scrollbar>
    </div>
    <!-- feed-section-ends -->
  </div>
  <!-- root-section-ends -->