.root {
  .case-diary-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 105px;

    .case-diary-repo {
      width: 283px;
      height: 32.8px;
      flex-grow: 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }

    .case-diary-l {
      width: 358px;
      height: 18.9px;
      flex-grow: 0;
      margin: 17px 0 26.3px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }

    button {
      width: 122px;
      height: 45px;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 36.2px 118px 0;
      padding: 12px 24px;
      border-radius: 12px;

      .mat-icon {
        padding-top: 8px;
      }
    }
  }

  // list-style

  .main-div {
    margin: 30px;

    .case-diary-list {
      display: flex;
      justify-content: space-between;

      .item2 {
        .mat-mdc-form-field {
          width: 700px !important;
        }
      }
      .mat-mdc-outlined-button:not(:disabled) {
        width: unset !important;
      }
    }

    table {
      border-radius: 5px rgb(200, 26, 26);
      border-collapse: collapse;
      // width: -wekit-fill-available;
      width: 1150px;
      margin-top: 10px;

      th {
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #8798ad;
      }
      .mat-icon {
        width: 20px;
        height: 20px;
        margin: 10px 0 0 7px;
        object-fit: contain;
      }

      tbody {
        margin-top: 10px;
        tr {
          cursor: pointer;
          border-color: #f5f5f5;
          border-style: solid;
          border-width: 1px;
          border-radius: 22px;
          // padding-bottom: 20px;
          // margin-top: 50px;
        }
        // td {

        // }
      }
    }
  }
}
