.root {
  //  case repository styling start 
  .case-diary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 105px;

    .case-diary-repo {
      flex-grow: 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }

    .case-diary-heading {
      flex-grow: 0;
      margin: 17px 0 26.3px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }

    button {
      // width: 122px;
      height: 40px;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 36.2px 118px 0;
      padding: 12px 24px;
      border-radius: 12px;
      background-color: #2e5bff;

      .mat-icon {
        padding-top: 8px;
      }
    }
  }
  //  case repository styling ends

  // list-style start
  .main-div {
    margin: 30px;

    .case-diary-list {
      display: flex;

      .filter-section {
        margin-right: 24px;

        .mat-mdc-form-field {
          width: 180px !important;
        }
      }

      .search-bar {
        width: 100% !important;
        margin-right: 24px;

        .mat-mdc-form-field {
          width: 100% !important;
        }
      }

      .create-sub-diary {
        width: 215px !important;
        button {
          width: 215px !important;
          background-color: #053bff0d;
          border-color: #7d818e0d !important;
        }
      }

      .mat-mdc-outlined-button:not(:disabled) {
        width: unset !important;
      }
    }

    table {
      width: 100%;
      margin-top: 20px;

      th {
        font-family: poppins;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #8798ad;
      }
      .mat-icon {
        width: 20px;
        height: 20px;
        margin: 5px 0 0 0;
      }

      tbody {
        margin-top: 10px;

        tr {
          cursor: pointer;
          font-family: poppins;
          font-size: 14px;

          .mat-mdc-menu-panel {
            .mat-mdc-menu-content {
              .mat-mdc-menu-item {
                .mat-mdc-menu-item-text {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
  }
    // list-style ends
}
