.root {
  margin: 30px;

  .mat-mdc-form-field {
    max-width: 180px;
    margin-bottom: unset;
  }

  .application-input {
    width: 180px;
  }

  //  case repository styling start
  .case-diary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 105px;

    .case-diary-repo {
      flex-grow: 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }

    .case-diary-heading {
      flex-grow: 0;
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }

    button {
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 36.2px 118px 0;
      padding: 12px 24px;
      border-radius: 12px;
      background-color: #2e5bff;

      .mat-icon {
        padding-top: 8px;
      }
    }
  }

  //  case repository styling ends

  // list-style start
  .main-div {
    .case-diary-header-menu {
      display: flex;

      .filter-section {
        margin-right: 24px;

        .mat-mdc-form-field {
          width: 185px !important;
        }

        .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix {
          padding-top: 3px !important;
        }

        .mat-mdc-select-trigger {
          padding: 9px 20px 7px 10px !important;
        }
      }

      .search-bar {
        margin-right: 24px;
        width: 100% !important;

        .mat-mdc-form-field {
          max-width: unset;
          width: 100% !important;
        }
      }

      .create-case-diary {
        margin-right: 24px;

        button {
          width: 185px !important;
          background-color: #053bff0d;
          border-color: #7d818e0d !important;
        }
      }

      .create-sub-diary {
        button {
          width: 185px !important;
          background-color: #053bff0d;
          border-color: #7d818e0d !important;
        }
      }

      .mat-mdc-outlined-button:not(:disabled) {
        width: unset !important;
      }
    }

    .case-diary-header {
      display: grid;
      grid-template-columns: 8% 12% 12% 12% 10% 16% 17% 8% 5%;
      margin-bottom: 5px;
      align-items: center;
      padding: 5px;
      color: #8798ad !important;
      font-size: 11px;
      margin-top: 30px;

      .grid-item-name {
        margin-left: 5px;
      }

      .grid-item1{
        margin-right: 10px;
      }
    }

    .case-diary-data {
      display: grid;
      grid-template-columns: 8% 12% 12% 12% 10% 16% 17% 8% 5%;
      height: 80px;
      border: 1px solid #f5f5f5;
      border-radius: 12px;
      margin-bottom: 12px;
      align-items: center;
      padding: 5px;
      font-size: 13px;

      .grid-item2 {
        margin: 0 10px 0 0;

        .action-icon {
          font-size: 20px;
          color: #000;
        }
      }
    }

    // sub-diary table styling start
    .sub-diary-header {
      display: grid;
      grid-template-columns: 7% 8% 11% 11% 11% 8% 14% 15% 10% 5%;
      margin-bottom: 5px;
      align-items: center;
      padding: 5px;
      color: #8798ad;
      font-size: 12px;
      margin-top: 30px;
    }

    .sub-diary-data {
      display: grid;
      grid-template-columns: 7% 8% 11% 11% 11% 8% 14% 15% 10% 5%;
      height: 80px;
      border: 1px solid #f5f5f5;
      border-radius: 12px;
      margin-bottom: 12px;
      align-items: center;
      padding: 5px;

      .grid-item2 {
        margin: 0 5px 0 0;

        .action-icon {
          font-size: 20px;
          color: #000;
        }
      }
    }

    // sub-diary table styling ends
  }

  // list-style ends
}



@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mat-mdc-option {
    font-size: 12px;
    padding: 0 10px !important;
  }

  .root {
    margin: 30px 15px;

    .main-div {
      .case-diary-header-menu {
        .filter-section {
          margin-right: 10px;
          font-size: 12px;

          img {
            display: none;
          }

          .mat-mdc-form-field {
            width: 100px !important;
          }

          .mat-mdc-select-trigger {
            padding: 10px 10px 7px 0px !important;
          }

          .mat-mdc-select {
            font-size: 12px;
          }
        }

        .search-bar {
          margin-right: 10px;
          width: 100% !important;

          img {
            margin-right: 12px !important;
          }

          .mdc-text-field__input {
            padding: 8px 0px !important;
            font-size: 12px !important;
          }
        }

        .create-case-diary {
          margin-right: 10px;

          button {
            width: 145px !important;
            font-size: 12px;

            img {
              display: none;
            }
          }
        }

        .create-sub-diary {
          button {
            width: 135px !important;
            font-size: 12px;

            img {
              display: none;
            }
          }
        }
      }

      .case-diary-list {
        width: 100%;
        overflow-x: scroll;

        .case-diary-header {
          width: 1180px;
        }

        .case-diary-data {
          width: 1180px;
        }
      }

      .sub-diary-list {
        width: 100%;
        overflow-x: scroll;

        .sub-diary-header {
          width: 1180px;
        }

        .sub-diary-data {
          width: 1180px;
        }
      }
    }
  }
}

@media screen and (min-width:1024px) {}