<!-- Header -->
<app-header [menuName]="'Case Diary'"></app-header>

<!-- root section start-->
<div class="root">
  <!-- case repository section start -->
  <!-- <div class="case-diary">
          <div class="case-diary-repo">Legal Cases Repository</div>
          <div class="case-diary-heading">Create a Case Empowering Your Legal Journey</div>
          <div class="case-diary-img"><img src="../../../assets/images/image/object.png" alt="NoImage" /></div>
          <div><button type="button" class="btn btn-primary" routerLink="/case-diary/create-case-diary"><span
                         matPrefix><mat-icon>edit</mat-icon></span>Create</button></div>
     </div> -->
  <!-- case repository section ends-->

  <!-- main section start -->
  <div class="main-div">
    <!-- case-diary-header-menu start -->
    <div class="case-diary-header-menu" id="header-menu">
      <!-- filter section start -->
      <div class="filter-section">
        <mat-form-field appearance="outline">
          <span matPrefix><img src="../../../assets/images/icons/funnel.svg" class="ms-3" /></span>
          <mat-select placeholder="Case Diary" required [(value)]="selectedDiary">
            <mat-option *ngFor="let case of caseDiary" [value]="case.value" class="mat-options">
              {{ case.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- filter section ends -->

      <!-- search-bar start -->
      <div class="search-bar">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Search Case Diary" required />
          <div matSuffix>
            <img
              src="../../../assets/images/icons/search-blue.svg"
              style="margin-right: 20px; cursor: pointer"
            />
          </div>
        </mat-form-field>
      </div>
      <!-- search-bar ends -->

      <!-- creat-case-diary start -->
      <div class="create-case-diary">
        <button mat-stroked-button color="primary" style="border-radius: 12px" routerLink="/lawyer/case-diary/create">
          <img class="me-1" src="../../../assets/images/icons/sub-diary.svg" /><span
            style="color: #2e5bff"></span>Create Case Diary
        </button>
      </div>
      <!-- creat-case-diary ends -->

      <!-- creat-sub-diary start -->
      <div class="create-sub-diary">
        <button mat-stroked-button color="primary" style="border-radius: 12px"
          routerLink="/lawyer/case-diary/create-sub-diary">
          <img class="me-1" src="../../../assets/images/icons/sub-diary.svg" /><span
            style="color: #2e5bff"></span>Create Sub Diary
        </button>
      </div>
      <!-- creat-sub-diary ends -->
    </div>
    <!-- case-diary-header-menu ends -->
  
    <!-- case-diary table start -->
    <div *ngIf="selectedDiary == 'caseDiary'" class="case-diary-list">
      <div class="case-diary-header">
        <div class="grid-item-name">REG. DATE</div>
        <div class="grid-item1">COURT NAME</div>
        <div class="grid-item1">CASE NO.</div>
        <div class="grid-item1">APPLICANT</div>
        <div class="grid-item1">RESPONDENT</div>
        <div class="grid-item1">CASE STAGE</div>
        <div class="grid-item1">APPLICATION</div>
        <div class="grid-item1">NEXT HEARING</div>
        <div class="grid-item1">CITY</div>
        <div class="grid-item1">OWNER</div>
        <div class="grid-item1">ACTIONS</div>
      </div>

      <div *ngFor="let item of caseDiaryList" class="case-diary-data">
        <div class="grid-item2">{{ item.regDate }}</div>
        <div class="grid-item2">{{ item.courtName }}</div>
        <div class="grid-item2">{{ item.caseNo }}</div>
        <div class="grid-item2">{{ item.applicant }}</div>
        <div class="grid-item2">{{ item.respondent }}</div>
        <div class="grid-item2">{{ item.caseStage }}</div>
        <div class="grid-item2">{{ item.application }}</div>
        <div class="grid-item2">{{ item.nextHearing }}</div>
        <div class="grid-item2">{{ item.city }}</div>
        <div class="grid-item2">{{ item.owner }}</div>
        <div class="grid-item2">
          <button mat-icon-button [matMenuTriggerFor]="caseDiaryMenu">
            <mat-icon class="action-icon">more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #caseDiaryMenu="matMenu">
          <button mat-menu-item  routerLink="/lawyer/case-diary/create">
            <img src="../../../assets/images/icons/black_edit.svg" alt="" class="me-2"
              style="width: 22px; height: 22px" />
            <span class="mat-menu-list">Edit</span>
          </button>

          <button mat-menu-item (click)="viewCase('edadsfalkdlk2jkldas2255E')">
            <img src="../../../assets/images/icons/view_application.svg" alt="" class="me-2"
              style="width: 20px; height: 20px" />
            <span class="mat-menu-list">View Application</span>
          </button>
        </mat-menu>
      </div>
      <!-- case-diary list ends-->
    </div>
    <!-- case-diary table ends -->

    <!-- sub-diary list start -->
    <div *ngIf="selectedDiary == 'subDiary'" class="sub-diary-list">
      <div class="sub-diary-header">
        <div class="grid-item1">REG. DATE</div>
        <div class="grid-item1">COURT NAME</div>
        <div class="grid-item1">CASE NO.</div>
        <div class="grid-item1">APPLICANT</div>
        <div class="grid-item1">RESPONDENT</div>
        <div class="grid-item1">CASE STAGE</div>
        <div class="grid-item1">NEXT HEARING</div>
        <div class="grid-item1">APPLICATION</div>
        <div class="grid-item1">CITY</div>
        <div class="grid-item1">ASSIGNED TO</div>
        <div class="grid-item1">ACTIONS</div>
      </div>

      <div *ngFor="let item of subDiaryList" class="sub-diary-data">
        <div class="grid-item2">{{ item.regDate }}</div>
        <div class="grid-item2">{{ item.courtName }}</div>
        <div class="grid-item2">{{ item.caseNo }}</div>
        <div class="grid-item2">{{ item.applicant }}</div>
        <div class="grid-item2">{{ item.respondent }}</div>
        <div class="grid-item2">{{ item.caseStage }}</div>
        <div class="grid-item2">{{ item.nextHearing }}</div>
        <div class="grid-item2">{{ item.application }}</div>
        <div class="grid-item2">{{ item.city }}</div>
        <div class="grid-item2">{{ item.assignedTo }}</div>
        <div class="grid-item2">
          <button mat-icon-button [matMenuTriggerFor]="subDiaryMenu">
            <mat-icon  class="action-icon">more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #subDiaryMenu="matMenu" >
          <div mat-menu-item routerLink="/lawyer/case-diary/create-sub-diary">
            <img src="../../../assets/images/icons/black_edit.svg" alt="" class="me-2"
              style="width: 22px; height: 22px" />
            <span class="mat-menu-list">Edit</span>
          </div>

          <div mat-menu-item>
            <img src="../../../assets/images/icons/view_application.svg" alt="" class="me-2"
              style="width: 20px; height: 20px" />
            <span class="mat-menu-list">View Application</span>
          </div>
        </mat-menu>
      </div>
      <!-- case-diary list ends-->
    </div>
    <!-- sub-diary list ends -->
  </div>
  <!-- main section ends -->
</div>
<!-- root section ends -->