.root {
  //  case repository styling start
  .case-diary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 105px;

    .case-diary-repo {
      flex-grow: 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }

    .case-diary-heading {
      flex-grow: 0;
      margin: 17px 0 26.3px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }

    button {
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 36.2px 118px 0;
      padding: 12px 24px;
      border-radius: 12px;
      background-color: #2e5bff;

      .mat-icon {
        padding-top: 8px;
      }
    }
  }
  //  case repository styling ends

  // list-style start
  .main-div {
    margin: 30px;

    .case-diary-header-menu {
      display: flex;

      .filter-section {
        margin-right: 24px;

        .mat-mdc-form-field {
          width: 180px !important;
        }
      }

      .search-bar {
        width: 100% !important;
        margin-right: 24px;

        .mat-mdc-form-field {
          width: 100% !important;
        }
      }

      .create-sub-diary {
        width: 215px !important;
        button {
          width: 215px !important;
          background-color: #053bff0d;
          border-color: #7d818e0d !important;
        }
      }

      .mat-mdc-outlined-button:not(:disabled) {
        width: unset !important;
      }
    }

    .case-diary-header {
      display: grid;
      grid-template-columns: 8% 9% 7% 10% 10% 10% 15% 12% 7% 6% 4%;
      margin-bottom: 5px;
      align-items: center;
      padding: 5px;
      color: #8798ad !important;
      font-size: 12px;
      margin-top: 30px;

      .grid-item-name {
        margin-left: 5px;
      }
    }

    .case-diary-data {
      display: grid;
      grid-template-columns: 8% 9% 7% 10% 10% 10% 15% 12% 7% 6% 4%;
      height: 80px;
      border: 1px solid #f5f5f5;
      border-radius: 12px;
      margin-bottom: 12px;
      align-items: center;
      padding: 5px;
      font-size: 14px;

      .grid-item2{
        .action-icon{
          font-size: 20px;
          color: #000;
        }
      }
    }

    // sub-diary table styling start
    .sub-diary-header {
      display: grid;
      grid-template-columns: 8% 9% 7% 9% 9% 8% 11% 16% 8% 9% 4%;
      margin-bottom: 5px;
      align-items: center;
      padding: 5px;
      color: #8798ad;
      font-size: 12px;
      margin-top: 30px;
    }

    .sub-diary-data {
      display: grid;
      grid-template-columns: 8% 9% 7% 9% 9% 8% 11% 16% 8% 9% 4%;
      height: 80px;
      border: 1px solid #f5f5f5;
      border-radius: 12px;
      margin-bottom: 12px;
      align-items: center;
      padding: 5px;

      .grid-item2{
        .action-icon{
          font-size: 20px;
          color: #000;
        }
      }
    }
    // sub-diary table styling ends
  }
  // list-style ends
}



@media only screen and (min-width: 768px) and (max-width: 1023px) {

.root {.main-div{
  margin: 30px 15px;
}
}
}