<!-- Header -->
<app-header [menuName]="'Case Diary'"></app-header>

<!-- main content -->
<div class="root">

     <!-- <div class="case-diary-image">
          <div class="case-diary-repo">Legal Cases Repository</div>
          <div class="case-diary-l">Create a Case Empowering Your Legal Journey</div>
          <div class="case-diary-img"><img src="../../../assets/images/object.png" alt="NoImage" /></div>
          <div><button type="button" class="btn btn-primary" routerLink="/case-diary/create-case-diary"><span
                         matPrefix><mat-icon>edit</mat-icon></span>Create</button></div>
     </div>
     <div class="case-diary-list"></div> -->

     <div class="main-div">
          <div class="case-diary-list">
               <div class="item1">
                    <mat-form-field appearance="outline">
                         <span matPrefix><img src="../../../assets/images/case-diary.svg" class="ms-3"></span>
                         <mat-select placeholder="Case Diary" required>
                              <mat-option *ngFor="let case of caseDiary" [value]="case.value">
                                   {{ case.viewValue }}
                              </mat-option>
                              <mat-option>Select</mat-option>
                         </mat-select>
                    </mat-form-field>
               </div>

               <div class="item2">
                    <mat-form-field appearance="outline">
                         <input matInput formControlName="password" placeholder="Search Case Diary" required>
                         <span matSuffix><mat-icon style="color: #2E5BFF;">search</mat-icon></span>
                    </mat-form-field>
               </div>


               <div class="item3">
                    <button mat-stroked-button color="primary" style="border-radius: 12px; "
                         routerLink="/case-diary/create-sub-diary"><img class="mx-1"
                              src="../../../assets/images/sub-diary.svg"><span style="color:#2E5BFF;"></span>Create Sub
                         Diary</button>
               </div>
          </div>

          <table>
               <thead>
                    <tr>
                         <th>REG. DATE</th>
                         <th>COURT NAME</th>
                         <th>CASE NO.</th>
                         <th>APPLICANT</th>
                         <th>RESPONDENT</th>
                         <th>CASE STAGE</th>
                         <th>NEXT HEARING</th>
                         <th>APPLICATION</th>
                         <th>CITY</th>
                         <th>ACTION</th>
                    </tr>
               </thead>
               <tbody>
                    <tr>
                         <td>01-01-23</td>
                         <td>Indore HG</td>
                         <td>2341</td>
                         <td>Karan Singh</td>
                         <td>Ram Kumar</td>
                         <td>Stag 4</td>
                         <td>12 Mar 2024</td>
                         <td>Criminal, Section 318</td>
                         <td>Indore</td>
                         <td><mat-icon>more_vert</mat-icon></td>
                    </tr>
                    <tr>
                         <td>21-11-23</td>
                         <td>Jabalpur HG</td>
                         <td>2341</td>
                         <td>Rajiram</td>
                         <td>Ghisa Ram</td>
                         <td>Stag 2</td>
                         <td>18 Dec 2024</td>
                         <td>Criminal, Section 318</td>
                         <td>Jabalpur</td>
                         <td><mat-icon>more_vert</mat-icon></td>
                    </tr>
               </tbody>
          </table>
     </div>

</div>