<div class="main-container" style="position: relative">
    <div mode="side" opened class="sidenav">
        <div class="logo">
            <img src="../../assets/images/icons/vidhiklogo.svg" alt="Vidhik" routerLink="/seller/activity-feed"
                style="cursor: pointer" />
        </div>
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/seller/user-profile">
                <!-- <mat-icon>storefront</mat-icon> -->
                <img src="../../assets/images/icons/inactive_profile.svg" class="in-active" />
                <img src="../../assets/images/icons/active_profile.svg" class="active" />
                Profile</a>
        </li>

        <li [routerLinkActive]="'active-link'">
            <a routerLink="/seller/marketplace/dashboard">
                <!-- <mat-icon>storefront</mat-icon> -->
                <img src="../../assets/images/icons/marketplace.svg" class="in-active" />
                <img src="../../assets/images/icons/active_marketplace.svg" class="active" />
                Marketplace</a>
        </li>

        <li [routerLinkActive]="'active-link'">
            <a routerLink="/seller/marketplace/advertisement">
                <!-- <mat-icon>storefront</mat-icon> -->
                <img src="../../assets/images/icons/marketplace.svg" class="in-active" />
                <img src="../../assets/images/icons/active_marketplace.svg" class="active" />
                Advertisement</a>
        </li>
    
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/seller/transactions">
                <!-- <mat-icon>storefront</mat-icon> -->
                <img src="../../assets/images/icons/inactive_transaction.svg" class="in-active" />
                <img src="../../assets/images/icons/active_transaction.svg" class="active" />
                Transactions</a>
        </li>

        <li [routerLinkActive]="'active-link'">
            <a routerLink="/seller/contact-us">
                <!-- <mat-icon>storefront</mat-icon> -->
                <img src="../../assets/images/icons/inactive_contact_us.svg" class="in-active" />
                <img src="../../assets/images/icons/active_contact_us.svg" class="active" />
                Contact Us</a>
        </li>
       
        <li>
            <a (click)="logout()">
                <img src="../../assets/images/icons/power.svg" class="in-active" style="width:24px" />
                <img src="../../assets/images/icons/power_active.svg" class="active" style="width:24px" />
                Logout</a>
        </li>

        <div class="social-icon">
            <div class="me-2">
                <img src="../../assets/images/icons/facebook_icon.svg" class="in-active" />
                <img src="../../assets/images/icons/hover_facebook.svg" class="active" />
            </div>
            <div class="me-2">
                <img src="../../assets/images/icons/instagram_icon.svg" class="in-active" />
                <img src="../../assets/images/icons/hover_instagram.svg" class="active" />
            </div>
            <div class="me-2">
                <img src="../../assets/images/icons/twitter_icon.svg" class="in-active" />
                <img src="../../assets/images/icons/hover_twitter.svg" class="active" />
            </div>
            <div class="me-2">
                <img src="../../assets/images/icons/whatsapp_icon.svg" class="in-active" />
                <img src="../../assets/images/icons/hover_whatsapp.svg" class="active" />
            </div>
        </div>
    </div>

    <div class="main-content">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>
