.root {
  margin: 30px;
  margin-right: 0;

  .contact-us-container {
    .header-menu {
      display: flex;
      margin-top: 30px;
      margin-right: 30px;

      .filter-section {
        margin-right: 24px;

        .mat-mdc-form-field {
          width: 180px !important;
        }
      }

      .search-bar {
        width: 100% !important;
        margin-right: 24px;

        .mat-mdc-form-field {
          max-width: unset;
          width: 100% !important;
          max-width: unset;


          .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
            background-color: transparent !important;
          }
        }
      }

      .add-ticket {
        width: 215px !important;

        button {
          width: 215px !important;
          background-color: #053bff0d;
          border-color: #7d818e0d !important;
        }
      }

      .mat-mdc-outlined-button:not(:disabled) {
        width: unset !important;
      }
    }

    .ticket-list {
      margin-bottom: 20px;
      overflow-x: auto;
      width: 100%;

      .ticket-header {
        display: grid;
        grid-template-columns: 10% 25% 20% 20% 15% 10%;
        margin-bottom: 5px;
        align-items: center;
        padding: 0px 15px 0px 15px;
        color: #8798ad !important;
        font-size: 12px;
        margin-top: 30px;
        width: 100%;
      }

      .ticket-data {
        display: grid;
        grid-template-columns: 10% 25% 20% 20% 15% 10%;
        height: 80px;
        border: 1px solid #f5f5f5;
        border-radius: 12px;
        margin-bottom: 12px;
        align-items: center;
        padding: 0px 15px;
        font-size: 14px;
        width: 100%;

        .id {
          padding-left: 15px;
        }

        .grid-item2 {
          // padding-left: 10px;

          .oval-div {
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            padding: 8px 12px;
            border-radius: 40px;
            font-size: 12px;
            min-width: 100px;
            justify-content: center;
          }

          img {
            cursor: pointer;
          }

          .close-status {
            background-color: #FF2E2E0D;
            color: #ff2e2e;
          }

          .process-status {
            background-color: #2580170D;
            color: #258017;
          }

          .pending-status {
            background-color: #EF7E1526;
            color: #ef7e15;
          }

          .action-icon {
            font-size: 20px;
            color: #000;
          }

          mat-menu {
            mat-menu-item {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}


//  add ticket popup styling start
.add-ticket-popup {
  width: 400px !important;

  h1 {
    font-size: 16px !important;
    color: #000000;
    font-family: Poppins;
    font-weight: 400 !important;
  }

  .modal-body {
    padding: 25px;

    .mat-label {
      text-align: left;
      font-size: 14px;
      font-family: Poppins;
      font-weight: 400;
      color: #000000;
    }

    textarea {
      line-height: 1.43;
      font-size: 14px;
      resize: none;
      font-family: Poppins;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      color: #000000;
    }
  }
}

// add ticket popup styling ends



@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    margin: 15px;
    margin-right: 0;

    .contact-us-container {
      .header-menu{
        margin-right: 15px;

        .filter-section {
          margin-right: 15px;
  
          .mat-mdc-form-field {
            width: 180px !important;
          }
      }

      .search-bar {
        margin-right: 15px;
      }

      .add-ticket {
        width: 180px !important;

        button {
          width: 180px !important;
        }
      }
    }
      .ticket-list {
        overflow-x: scroll;
        width: calc(100vw - 210px);
        white-space: nowrap;
        margin-right: 15px;

        .ticket-header {
          min-width: 1000px;
        }

        .ticket-data {
          min-width: 1000px;
        }
      }
    }
  }
}