.root {
    height: calc(100vh - 0px);

    .root-container {
        background: url('../../../../assets/images/icons/landing1.svg');
        background-repeat: no-repeat;
        padding: 30px 60px;

        // .landing-vector {
        //     position: absolute;
        //     right: -80px;
        //     top: 0;
        // }

        .justify-content-space-between {
            justify-content: space-between;
        }

        .main-header {
            align-items: center;
        }

        .description {
            height: 550px;
            justify-content: center;
            display: flex;
            flex-direction: column;

            .header {
                font-size: 35px;
                font-weight: 500;
            }

            .sub-description {
                width: 40%;
                margin-top: 50px;
                line-height: 35px;
                font-size: 16px;
            }
        }

    }


    .services {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 60px;

        .service-header {
            font-size: 30px;
            font-weight: 600;
        }

        .sub-description {
            width: 80%;
            margin-top: 20px;
            line-height: 30px;
        }

        .feature-container {
            background-color: #F4F3FB;
            padding: 30px;
            border-radius: 4px;
            line-height: 30px;

            .header {
                display: flex !important;
                gap: 20px;
                align-items: center;
                margin-bottom: 20px;
                color: #2e5bff;
            }

            .bold-text {
                font-weight: 500;
                font-size: 16px;
                width: 370px;
                margin-bottom: 10px;
            }
        }

    }

    .more-features {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        padding: 0 60px;

        .feature {
            clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #2e5bff;
            color: white;
            width: 282px;
            height: 300px;
            padding: 30px;
            border-radius: 4px;
        }

        .feature2 {
            background-color: #F4F3FB;
            width: 282px;
            height: 300px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            border-radius: 4px;

            .header {
                display: flex !important;
                gap: 20px;
                align-items: center;
                margin-bottom: 20px;
                color: #2e5bff;
            }

            .bold-text {
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 10px;
            }

            .description-text {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
            }
        }

        .feature2:nth-child(odd) {
            clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
        }

        .feature2:nth-child(even) {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
        }
    }

    .why-vidhik {
        margin: 60px 0 100px 0;
        padding: 0 60px;

        .section3-header {
            display: flex;
            justify-content: center;
            align-items: center;

            .header {
                font-size: 30px;
                font-weight: 700;
                line-height: 55px;
            }
        }

        .section3-description {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .vidhik-feature {
            display: flex;

            .heading {
                font-size: 16px;
                font-weight: 600;
                line-height: 27px;
            }

            .detail {
                font-size: 14px;
                width: 450px;
                line-height: 22.5px;
            }
        }

        .more-space {
            margin-top: 30px;
        }

        .section3-img {
            height: 475px;
        }
    }

    .location-carousel {
        margin-top: 100px;
        background-color: #0021750A;
        padding: 0;

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            font-weight: 700;
            line-height: 75px;
        }

        .image-carousel {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            padding: 0 60px;
            gap: 26px;
        }


        .image-outer {
            background-color: white;
            border-radius: 12px;
            padding: 6px;

            .city-name {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5px 0 10px 0;
                font-weight: 700;
            }
        }

    }

    .below-section {
        padding: 100px 60px 85px 60px;

        .col-data {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .below-section-desc {
                width: 450px;
            }
        }

        .heading {
            font-size: 30px;
            font-weight: 700;
            line-height: 35px;
            margin-bottom: 30px;
            width: 700px;
        }

        .social-btn {
            display: flex;
            gap: 30px;
            margin-top: 35px;

            img {
                height: 45px;
            }
        }
    }



    .footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #3C3C3C;
        padding: 50px 60px;
        color: #B2BBC2;

        .sections {
            display: flex;
            justify-content: space-between;
            color: #C8DFE1;
            font-weight: 200;
            font-size: 13px;
            cursor: pointer;

            .detail {
                width: 280px;
                margin: 25px 0;
            }

            .social-icon {
                display: flex;
                gap: 10px;
            }


            .heading {
                font-size: 14px;
                font-weight: 400;
                color: #FFFFFF;
                margin-top: 20px;
                cursor: default;
            }
        }

        .footer-detail {
            margin-top: 30px;
            text-align: center;
            color: #C8DFE1;
            font-size: 13px;
            font-weight: 200;
        }
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .root {
        .root-container {
            padding: 30px 30px;
            background-size: cover;

            .main-header {
                flex-wrap: wrap;
            }

            .description {
                height: 260px;

                .header {
                    font-size: 25px;
                    font-weight: 600;
                }

                .sub-description {
                    width: 50%;
                    margin-top: 15px;
                }
            }

        }

        .services {
            padding: 0 30px;
            flex-wrap: wrap;

            .sub-description {
                width: 100%;
            }

            .feature-container {
                width: 100%;
                margin-top: 15px;
                padding: 40px;

                .header {
                    display: flex !important;
                    gap: 20px;
                    align-items: center;
                    margin-bottom: 20px;
                    color: #2e5bff;
                }

            }
        }

        .more-features {
            padding: 0 30px;
            flex-wrap: wrap;

            .feature {
                flex-wrap: wrap;
            }

            .feature2 {
                flex-wrap: wrap;
                margin-top: 10px;
            }
        }

        .why-vidhik {
            padding: 0 30px;

            .section3-header {
                .header {
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 55px;
                }
            }


            .vidhik-feature {

                .heading {
                    font-size: 15px;
                }

                .detail {
                    width: unset;
                    line-height: 18.5px;
                    font-size: 13px;
                }
            }

            .more-space {
                margin-top: 15px;
            }

            .section3-img-div {
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 10px;
            }

            .section3-img {
                height: 280px;
            }
        }

        .location-carousel {
            margin-top: 100px;
            background-color: #0021750A;
            padding: 0;

            .header {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                font-weight: 700;
                line-height: 75px;
            }

            .image-carousel {
                overflow-x: scroll;
            }
        }

        .below-section {
            padding: 70px 30px 85px 30px;

            .col-data {
                .below-section-desc {
                    width: 330px;
                }

                .social-btn {
                    img {
                        height: 40px;
                    }
                }
            }

            .heading {
                width: 330px;
                font-weight: 600;
                font-size: 20px;
            }


            .below-section-img {
                width: 350px;
                height: 400px;

                img {
                    width: 350px;
                    height: 400px;
                }
            }
        }

        .footer {
            .sections {
                display: flex;
                gap: 40px;

                .detail {
                    width: 160px;
                }
            }

            .footer-detail {
                img {
                    width: 650px;
                    height: 7px;
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {}

#disclaimerModal,
#communityModal,
#cookiesModal,
#trustModal,
#copyrightModal,
#myVidhikModal .modal-dialog {
    .modal-content {
        .modal-header {
            display: flex;
            justify-content: flex-start;

            h1 {
                padding-left: 16px;
            }
        }

        .modal-body {
            text-align: left !important;

            .list-heading {
                font-family: Poppins;
                font-size: 14px;
                font-weight: 700 !important;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: var(--solid-black);
            }

            .list-description {
                padding-bottom: 20px;
                padding-right: 20px;
            }

            .policy-list {
                font-size: 14px;
                font-family: Poppins;

                ul {
                    li {
                        line-height: 2.5em;
                        text-decoration: underline;
                        text-underline-offset: 6px;

                        a {
                            color: #000000;
                            margin-left: 5px;
                            cursor: pointer;
                        }

                        :hover {
                            color: #2e5bff;
                            transition: all 0.3s ease-in-out;
                        }
                    }

                    :hover {
                        color: #2e5bff;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

            .policy-container {
                margin-left: 16px;
                margin-bottom: 30px;
                font-family: Poppins;
                padding-right: 20px;

                .heading {
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                .sub-heading {
                    // font-weight: 500;
                    font-size: 18px;
                    margin-top: 20px;
                    margin-bottom: 8px;
                    color: #2e5bff;
                }

                .details {
                    font-size: 14px;
                }
            }
        }
    }
}

// Terms And Services styling Start
.terms-service {
    width: 688px;

    .modal-content {
        .modal-header {
            display: flex;
            justify-content: flex-start;

            h1 {
                padding-left: 16px;
            }
        }
    }

    .modal-body {
        text-align: left;

        .policy-container {
            margin-left: 16px;
            margin-bottom: 30px;
            font-family: Poppins;
            padding-right: 20px;

            .heading {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .sub-heading {
                // font-weight: 500;
                font-size: 18px;
                margin-top: 20px;
                margin-bottom: 8px;
                color: #2e5bff;
            }

            .details {
                font-size: 14px;
            }
        }
    }
}

// Terms And Services styling ends