.root {
    height: calc(100vh - 0px);

    .root-container {
        padding: 30px 60px;
        position: relative;

        .justify-content-space-between {
            justify-content: space-between;
        }

        .main-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            .login-btn {
                width: fit-content !important;
                padding: 12px 36px;
            }

            .signup-btn {
                width: fit-content !important;
                padding: 12px 36px;
                margin-left: 20px;
            }

            .landing-page-image {
                position: absolute;
                top: -35px;
                right: -560px;
                z-index: 0;
                height: 700px;
            }
        }

        .carousel {
            height: 600px;

            .carousel-inner {
                margin-top: 50px;

                .carousel-item {
                    .description {
                        height: 550px;
                        justify-content: center;
                        display: flex;
                        flex-direction: column;

                        .header {
                            font-size: 40px;
                            font-weight: 600;
                            margin-top: 60px;
                            width: 365px;
                            line-height: 50px;
                        }

                        .sub-description {
                            margin-top: 20px;
                            line-height: 35px;
                            font-size: 16px;
                            text-align: justify;
                        }
                    }

                    img {
                        width: 700px;
                        z-index: 1;
                    }

                }
            }
        }

    }

    .why-vidhik {
        margin: 60px 0 100px 0;
        padding: 0 60px;

        .section3-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .header {
                font-size: 35px;
                font-weight: 700;
                line-height: 50px;
            }

            .sub-header {
                font-size: 25px;
                font-weight: 600;
                line-height: 45px;

                span {
                    color: #2e5bff;
                }
            }
        }

        .section3-description {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
            text-align: justify;
            font-weight: 400;
            font-size: 16px;
        }

        .responsive-why-vidhik {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;

            .box {
                box-shadow: 0px 0px 12px 0 rgba(0, 0, 0, 0.1);
                padding: 20px;
                width: 300px;
                border-radius: 12px;
                cursor: pointer;

                .box-img {
                    display: flex;
                    justify-content: center;

                    img {
                        width: 50px;
                        height: 50px;
                    }
                }

                .heading {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 600;
                    margin-top: 25px;
                }

                .description {
                    font-weight: 400;
                    line-height: 24px;
                    margin-top: 10px;
                    text-align: justify;
                    display: flex;
                    justify-content: center;
                    color: #8C8CA1;
                }

                &:hover {
                    transform: scale(1.1);
                    transition: all .3s ease-in-out;
                    box-shadow: 0px 0px 8px 0 #85ccff;
                }
            }
        }

        .vidhik-feature {
            display: flex;

            .margin-start {
                margin-left: 20px;
            }

            .heading {
                font-size: 16px;
                font-weight: 600;
                line-height: 27px;
            }

            .detail {
                font-size: 14px;
                width: 450px;
                line-height: 22.5px;
                text-align: justify;
            }
        }

        .more-space {
            margin-top: 30px;
        }

        .section3-img {
            height: 475px;
        }
    }

    .video-container {
        width: 100%;
        margin-top: 80px;
        background-color: #0094FF7A;
        // background-color: #0021750A;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;

        .responsive-video-text {
            display: none;
        }

        video {
            width: 470px;
            height: 300px;
        }

        .video-text {
            display: block;
            font-size: 30px;
            font-weight: 600;
            // color: #FFFFFF;
            color: #20212C;
            width: 500px;
            line-height: 42px;
        }
    }

    .location-carousel {
        margin-top: 100px;
        background-color: #0021750A;
        padding: 0;

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            font-weight: 700;
            line-height: 75px;
        }

        .image-carousel {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            padding: 0 60px;
            gap: 26px;
        }


        .image-outer {
            background-color: white;
            border-radius: 12px;
            padding: 6px;

            .city-name {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5px 0 10px 0;
                font-weight: 700;
            }
        }

    }

    .below-section {
        padding: 120px 60px 85px 60px;

        .inside-below-section {
            display: flex;
            justify-content: space-between;

            .col-data {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .heading {
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 35px;
                    margin-bottom: 30px;
                    width: 700px;
                }

                .social-btn {
                    display: flex;
                    gap: 30px;
                    margin-top: 40px;

                    img {
                        height: 45px;
                    }
                }

                .below-section-desc {
                    width: 450px;
                    line-height: 30px;
                    font-size: 16px;
                    text-align: justify;
                }
            }
        }



        .below-section-img {
            width: 500px;
            height: 600px;

            img {
                width: 100%;
                height: 100%;
            }
        }


    }

    .footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #3C3C3C;
        padding: 50px 60px;
        color: #B2BBC2;

        .sections {
            display: flex;
            justify-content: center;
            color: #C8DFE1;
            font-weight: 200;
            font-size: 13px;
            cursor: pointer;
            gap: 150px;

            .detail {
                width: 280px;
                margin: 25px 0;
            }

            .social-icon {
                display: flex;
                gap: 25px;
                margin-top: 35px;

                .line {
                    border-left: 2px solid #b3b3b3;
                }
            }


            .heading {
                font-size: 14px;
                font-weight: 400;
                color: #FFFFFF;
                margin-top: 20px;
                cursor: default;
            }
        }

        .footer-detail {
            margin-top: 30px;
            text-align: center;
            color: #C8DFE1;
            font-size: 13px;
            font-weight: 200;
        }
    }
}

#disclaimerModal,
#communityModal,
#cookiesModal,
#trustModal,
#copyrightModal,
#myVidhikModal .modal-dialog {
    .modal-content {
        .modal-header {
            display: flex;
            justify-content: flex-start;

            h1 {
                padding-left: 16px;
            }
        }

        .modal-body {
            text-align: left !important;

            .list-heading {
                font-family: Poppins;
                font-size: 14px;
                font-weight: 700 !important;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: var(--solid-black);
            }

            .list-description {
                padding-bottom: 20px;
                padding-right: 20px;
            }

            .policy-list {
                font-size: 14px;
                font-family: Poppins;

                ul {
                    li {
                        line-height: 2.5em;
                        text-decoration: underline;
                        text-underline-offset: 6px;

                        a {
                            color: #000000;
                            margin-left: 5px;
                            cursor: pointer;
                        }

                        :hover {
                            color: #2e5bff;
                            transition: all 0.3s ease-in-out;
                        }
                    }

                    :hover {
                        color: #2e5bff;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

            .policy-container {
                margin-left: 16px;
                margin-bottom: 30px;
                font-family: Poppins;
                padding-right: 20px;

                .heading {
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                .sub-heading {
                    // font-weight: 500;
                    font-size: 18px;
                    margin-top: 20px;
                    margin-bottom: 8px;
                    color: #2e5bff;
                }

                .details {
                    font-size: 14px;
                }
            }
        }
    }
}

// Terms And Services styling Start
.terms-service {

    .modal-content {
        .modal-header {
            display: flex;
            justify-content: flex-start;

            h1 {
                padding-left: 16px;
            }
        }
    }

    .modal-body {
        text-align: left;

        .policy-container {
            margin-left: 16px;
            margin-bottom: 30px;
            font-family: Poppins;
            padding-right: 20px;

            .heading {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .sub-heading {
                // font-weight: 500;
                font-size: 18px;
                margin-top: 20px;
                margin-bottom: 8px;
                color: #2e5bff;
            }

            .details {
                font-size: 14px;
                // width: 200px;
            }
        }
    }
}

// Terms And Services styling ends


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .root {
        .root-container {
            padding: 30px 30px;
            background-size: cover;

            .main-header {
                flex-wrap: wrap;

                .landing-page-image {
                    position: absolute;
                    top: -70px;
                    right: -975px;
                    z-index: 0;
                }
            }

            .carousel {
                height: 500px;

                .carousel-inner {
                    margin-top: 50px;

                    .carousel-item {
                        .description {
                            display: flex;
                            justify-content: flex-start;
                            flex-direction: column;
                            height: unset;

                            .header {
                                font-size: 22px;
                                margin-top: unset;
                                width: 380px;
                                line-height: 35px;
                            }

                            .sub-description {
                                margin-top: 5px;
                                line-height: 30px;
                                font-size: 14px;
                            }
                        }

                        .carousel-img {
                            margin-top: 30px;

                            img {
                                width: 355px;
                            }
                        }
                    }
                }
            }

        }

        .why-vidhik {
            padding: 0 30px;

            .section3-header {
                .header {
                    font-size: 25px;
                    font-weight: 600;
                    line-height: 30px;
                }

                .sub-header {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 45px;

                    span {
                        color: #2e5bff;
                    }
                }
            }

            .responsive-why-vidhik {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 30px;
            }
        }

        .video-container {
            gap: 15px;
            flex-wrap: wrap;

            .responsive-video-text {
                display: block;
                text-align: center;
                font-size: 30px;
                font-weight: 600;
                // color: #FFFFFF;
                color: #000000;
                width: 500px;
                line-height: 42px;
                margin-top: 20px;
                margin-bottom: unset;
            }

            .video-text {
                display: none;
            }
        }

        .location-carousel {
            margin-top: 100px;
            background-color: #0021750A;
            padding: 0;

            .header {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                font-weight: 700;
                line-height: 75px;
            }

            .image-carousel {
                overflow-x: scroll;
            }
        }

        .below-section {
            padding: 70px 30px 85px 30px;

            .inside-below-section {
                .col-data {
                    .heading {
                        width: 400px;
                    }

                    .below-section-desc {
                        width: 360px;
                    }

                    .social-btn {
                        img {
                            height: 40px;
                        }
                    }
                }
            }


            .below-section-img {
                width: 320px;
                height: 380px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .footer {
            .sections {
                display: flex;
                gap: 40px;

                .detail {
                    width: 160px;
                }

                .social-icon {
                    gap: 15px;
                }
            }

            .footer-detail {
                img {
                    width: 650px;
                    height: 7px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .root {
        height: calc(100vh - 0px);

        .root-container {
            padding: 20px;

            .main-header {

                .btns {
                    margin-left: 10px;
                }

                img {
                    height: 42px;
                }

                .login-btn,
                .signup-btn {
                    height: 35px;
                    padding: 10px 16px;
                    font-size: 13px;
                }

                .mat-mdc-raised-button {
                    padding: 10px 16px;
                }

            }

            .carousel {
                height: 850px;

                .carousel-inner {
                    margin-top: 50px;

                    .carousel-item {
                        .responsive-root {
                            flex-wrap: wrap;

                            .description {
                                display: flex;
                                justify-content: flex-start;
                                flex-direction: column;
                                height: unset;

                                .header {
                                    font-size: 20px;
                                    margin-top: unset;
                                    width: 100%;
                                    line-height: 30px;
                                }

                                .sub-description {
                                    margin-top: 5px;
                                    line-height: 30px;
                                    font-size: 13px;
                                    width: 100%;
                                }
                            }

                            .carousel-img {
                                margin-top: 30px;
                                width: 100%;
                                display: flex;
                                justify-content: center;

                                img {
                                    width: 360px;
                                }
                            }

                        }
                    }
                }
            }

            .justify-content-space-between {
                justify-content: unset;
            }

            .responsive-root {
                .description {
                    height: unset;

                    .header {
                        font-size: 22px;
                    }

                    .sub-description {
                        width: 100%;
                        margin-top: 15px;
                        line-height: 30px;
                        font-size: 13px;
                    }
                }

                .landing-page-image {
                    display: none;
                }
            }
        }

        .why-vidhik {
            margin: 30px 0 30px 0;
            padding: 0 20px;

            .section3-header {
                .header {
                    font-size: 24px;
                    line-height: 48px;
                }

                .sub-header {
                    font-size: 18px;
                    line-height: unset;
                    text-align: center;
                }
            }

            .section3-description {
                margin: 10px 0 40px 0;
                font-size: 14px;
                text-align: center;
            }

            .responsive-why-vidhik {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .section3-img-div {
                    margin-top: 30px;
                    width: 100%;
                    height: 230px;
                    display: flex;
                    justify-content: center;

                    img {
                        // width: 100%;
                        height: 100%;
                    }
                }
            }

            .vidhik-feature {
                .margin-start {
                    margin-left: 10px;
                }

                .heading {
                    font-size: 16px;
                    line-height: 27px;
                }

                .detail {
                    font-size: 13px;
                    width: 100%;
                }

                img {
                    width: 25px;
                    height: 25px;
                }
            }

            .more-space {
                margin-top: 30px;
            }

            .section3-img {
                height: 275px;
            }
        }


        .video-container {
            gap: 15px;
            flex-wrap: wrap;

            .responsive-video-text {
                display: block;
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                // color: #FFFFFF;
                color: #000000;
                width: 290px;
                line-height: 30px;
                margin-top: 20px;
                margin-bottom: unset;
            }

            video {
                width: 340px;
                height: 200px;
                margin-bottom: 20px;
            }

            .video-text {
                display: none;
            }
        }


        .location-carousel {
            margin-top: 50px;

            .header {
                justify-content: flex-start;
                font-size: 25px;
                padding-left: 20px;
                line-height: 65px;
            }

            .image-carousel {
                display: flex;
                justify-content: space-between;
                margin-top: 15px;
                padding: 0 20px;
                gap: 15px;
            }


            .image-outer {
                background-color: white;
                border-radius: 12px;
                padding: 6px;

                .city-name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 5px 0 10px 0;
                    font-weight: 700;
                }
            }

        }

        .below-section {
            padding: 75px 30px 55px 30px;

            .inside-below-section {
                display: flex;
                flex-wrap: wrap;

                .col-data {
                    .heading {
                        width: unset;
                    }

                    .below-section-desc {
                        width: unset;
                    }

                    .social-btn {
                        display: flex;
                        justify-content: center;
                        gap: 30px;
                        margin-top: 35px;

                        img {
                            height: 35px;
                        }
                    }
                }



                .below-section-img {
                    width: 100%;
                    height: 380px;
                    margin-top: 50px;
                    display: flex;
                    justify-content: center;

                    img {
                        width: 340px;
                        height: 100%;
                    }
                }
            }




        }

        .footer {
            padding: 50px;
            text-align: center;

            .sections {
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;

                .detail {
                    width: unset;
                    margin: 25px 0;
                }

                .social-icon {
                    justify-content: center;
                }

                .heading {
                    font-size: 14px;
                    margin-top: 35px;
                }

                .gradient-line {
                    display: none;
                }
            }

            .footer-detail {
                img {
                    width: 100%;
                }
            }
        }

    }
}