<div class="root">
    <!-- <div class="landing-vector">
        <img src="../../../../assets/images/icons/landing3.svg" alt="">
    </div> -->
    <ng-scrollbar autoHeightDisabled="true">
        <div class="root-container">
            <div class="main-header d-flex justify-content-space-between">
                <img src="../../../../assets/images/icons/vidhiklogo.svg" alt="">
                <div class="d-flex">
                    <button mat-stroked-button color="primary" style="
                      width: fit-content !important;
                      padding: 12px 36px;
                    " data-bs-dismiss="modal" [routerLink]="'/auth/login'">
                        Login
                    </button>
                    <button mat-raised-button color="primary" style="width: fit-content !important; padding: 12px 36px;
                      margin-left: 20px;" [routerLink]="'/auth/signup'">
                        Signup
                    </button>
                </div>
            </div>
            <div class="d-flex justify-content-space-between">
                <div class="mt-5 description">
                    <div class="header">Connecting Lawyers</div>
                    <div class="sub-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione quis
                        tempore
                        sed itaque, dolore recusandae ullam eius voluptas, magnam atque quidem aperiam? Molestias
                        consequatur, reiciendis labore porro dicta eligendi blanditiis.</div>
                </div>
                <div class="landing-page-image"><img src="../../../../assets/images/image/landing_page_img.png" alt=""></div>
            </div>
        </div>

        <div class="why-vidhik">
            <div class="section3-header">
                <div class="header">Why Vidhik</div>
            </div>
            <div class="section3-description">Let's dive deeper into the features that make Kopyst your documentation
                dream
                team</div>
            <div class="d-flex justify-content-space-between mt-5">
                <div class="col-lg-6 col-md-6">
                    <div class="vidhik-feature">
                        <div>
                            <img src="../../../../assets/images/image/interactive_feed.png" alt="">
                        </div>

                        <div class="ms-3">
                            <div class="heading">Interactive Feed</div>
                            <div class="detail">Forget manual typing and formatting. Walk through your process, and
                                Kopyst captures everything, transforming it into a polished document in a flash</div>
                        </div>
                    </div>

                    <div class="vidhik-feature more-space">
                        <div>
                            <img src="../../../../assets/images/image/client_centric.png" alt="">
                        </div>

                        <div class="ms-3 ">
                            <div class="heading">Client - Centric Approach</div>
                            <div class="detail">Whether you need user manuals, SOPs, product documentation, or training
                                materials, Kopyst is your one-stop shop for document creation excellence.</div>
                        </div>
                    </div>

                    <div class="vidhik-feature more-space">
                        <div>
                            <img src="../../../../assets/images/image/genuine_rated.png" alt="">
                        </div>

                        <div class="ms-3">
                            <div class="heading">Genuine Rated Lawyers</div>
                            <div class="detail">Our smart AI assistant understands your steps, anticipates your needs,
                                and ensures your documents are clear, concise, and easy to follow.</div>
                        </div>
                    </div>

                    <div class="vidhik-feature more-space">
                        <div>
                            <img src="../../../../assets/images/image/user-centric.png" alt="">
                        </div>

                        <div class="ms-3">
                            <div class="heading">User Centric Services</div>
                            <div class="detail">Invite team members to view, edit, and discuss documents effortlessly.
                                Keep everyone in the loop and ensure smooth workflows.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 section3-img-div">
                    <img src="../../../../assets/images/icons/why-vidhik.svg" alt="" class="section3-img">
                </div>
            </div>
        </div>

        <div class="services mt-5">
            <div>
                <div class="service-header">Our Services</div>
                <div class="sub-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione quis
                    tempore
                    sed itaque, dolore recusandae ullam eius voluptas</div>
            </div>
            <div class="feature-container">
                <div class="d-flex header">
                    <img src="../../../../assets/images/icons/spark.svg" alt="">
                    <div>Virtual Case Diary</div>
                </div>
                <div class="bold-text">Slash document creation time from hours to minutes.</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum velit dolor</div>
            </div>
        </div>

        <div class="more-features">
            <div class="feature">
                Kopyst's AI ensures your documents are always flawless and up to date, reflecting your
                professionalism with every click.
            </div>
            <div class="feature2">
                <div class="header">
                    <img src="../../../../assets/images/icons/spark.svg" alt="">
                    <div>Confrence</div>
                </div>
                <div class="bold-text">Share and edit documents seamlessly with your team..</div>
            </div>
            <div class="feature2">
                <div class="header">
                    <img src="../../../../assets/images/icons/spark.svg" alt="">
                    <div>Case law & Bare Act</div>
                </div>
                <div class="bold-text">No more formatting nightmares.</div>
            </div>
            <div class="feature2">
                <div class="header">
                    <img src="../../../../assets/images/icons/spark.svg" alt="">
                    <div>Activity Feed</div>
                </div>
                <div class="bold-text">Kopyst adapts to your needs.</div>
            </div>
        </div>

        <div class="location-carousel">
            <div class="header">Hunt The Lawyers By Location</div>
            <ng-scrollbar appearance="standard" track="all" style="height: 220px;" autoHeightDisabled="true">
                <div class="image-carousel">
                    <div class="image-outer" *ngFor="let detail of location">
                        <img [src]="detail.image" alt="">
                        <div class="city-name">{{detail.city}}</div>
                    </div>
                </div>
            </ng-scrollbar>
        </div>

        <div class="below-section">
            <div class="d-flex justify-content-space-between inside-below-section">
                <div class="col-lg-6 col-md-6 col-data">
                    <div class="heading">If You Would Like to Take Our Service , Download our App</div>
                    <div class="below-section-desc">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has
                        been the industry's standard dummy text ever</div>

                    <div class="social-btn">
                        <img src="../../../../assets/images/image/google_play.png">
                        <img src="../../../../assets/images/image/app_store.png">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 below-section-img">
                    <img src="../../../../assets/images/image/mobile_demo.png" alt="">
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="sections">
                <div class="">
                    <img src="../../../../assets/images/icons/white_vidhik_logo.svg" alt="">

                    <div class="detail">You can now order your prescription via the website. For the last few weeks the
                        website has been
                        under test …</div>

                    <div class="social-icon">
                        <img src="../../../../assets/images/icons/footer_facebook_icon.svg">
                        <img src="../../../../assets/images/icons/footer_twitter_icon.svg">
                        <img src="../../../../assets/images/icons/footer_insta_icon.svg">
                        <img src="../../../../assets/images/icons/footer_wtsp_icon.svg">
                    </div>

                </div>
                <div class="">
                    <img src="../../../../assets/images/icons/gradient_line.svg" alt="">
                </div>
                <div class="">
                    <div class="heading">Practicing Area</div>
                    <div class="mt-3">Solutions</div>
                    <div class="mt-3">How It Works</div>
                    <div class="mt-3">Advertising</div>
                    <div class="mt-3">Donation</div>
                    <div class="mt-3">Child Care</div>
                </div>

                <div class="">
                    <div class="heading">About</div>
                    <div class="mt-3">About us</div>
                    <div class="mt-3">Our Team</div>
                    <div class="mt-3">Practice Area</div>
                    <div class="mt-3">Help Guide</div>
                    <div class="mt-3">Tutorials</div>
                </div>
                <div class="">
                    <div class="heading">Support</div>
                    <div class="mt-3">Support</div>
                    <div class="mt-3">Documentation</div>
                    <div class="mt-3">Faq</div>
                    <div class="mt-3">Contact Us</div>
                </div>

            </div>

            <div class="footer-detail">
                <img src="../../../../assets/images/icons/footer_horizontal_line.svg" alt="">
                <div class="mt-2">©2024 All Rights Reserved. a product of Peraturb Decimo</div>
            </div>
        </div>
    </ng-scrollbar>
</div>