<div class="root">
    <!-- <div class="landing-vector">
        <img src="../../../../assets/images/icons/landing3.svg" alt="">
    </div> -->
    <div class="root-container">
        <div class="main-header d-flex justify-content-space-between">
            <img src="../../../../assets/images/icons/vidhiklogo.svg" alt="">
            <div class="d-flex">
                <button mat-stroked-button color="primary" style="
                      width: fit-content !important;
                      padding: 12px 36px;
                    " data-bs-dismiss="modal" [routerLink]="'/auth/login'">
                    Login
                </button>
                <button mat-raised-button color="primary" style="width: fit-content !important; padding: 12px 36px;
                      margin-left: 20px;" [routerLink]="'/auth/signup'">
                    Signup
                </button>
            </div>
        </div>
        <div class="mt-5 description">
            <div class="header">Connecting Lawyers</div>
            <div class="sub-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione quis tempore
                sed itaque, dolore recusandae ullam eius voluptas, magnam atque quidem aperiam? Molestias
                consequatur, reiciendis labore porro dicta eligendi blanditiis.</div>
        </div>
        <div class="services mt-5">
            <div>
                <div class="service-header">Our Services</div>
                <div class="sub-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione quis
                    tempore
                    sed itaque, dolore recusandae ullam eius voluptas</div>
            </div>
            <div class="feature-container">
                <div class="d-flex header">
                    <img src="../../../../assets/images/icons/spark.svg" alt="">
                    <div>Virtual Case Diary</div>
                </div>
                <div class="bold-text">Slash document creation time from hours to minutes.</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum velit dolor</div>
            </div>
        </div>

        <div class="more-features">
            <div class="feature">
                Kopyst's AI ensures your documents are always flawless and up to date, reflecting your
                professionalism with every click.
            </div>
            <div class="feature2">
                <div class="header">
                    <img src="../../../../assets/images/icons/spark.svg" alt="">
                    <div>Confrence</div>
                </div>
                <div class="bold-text">Share and edit documents seamlessly with your team..</div>
            </div>
            <div class="feature2">
                <div class="header">
                    <img src="../../../../assets/images/icons/spark.svg" alt="">
                    <div>Case law & Bare Act</div>
                </div>
                <div class="bold-text">No more formatting nightmares.</div>
            </div>
            <div class="feature2">
                <div class="header">
                    <img src="../../../../assets/images/icons/spark.svg" alt="">
                    <div>Activity Feed</div>
                </div>
                <div class="bold-text">Kopyst adapts to your needs.</div>
            </div>
        </div>

        <div class="why-vidhik">
            <div class="section3-header">
                <span class="header">Why Vidhik</span>
                <span class="description">Let's dive deeper into the features that make Kopyst your documentation dream
                    team</span>
            </div>
            <div class="d-flex">
                <div class="col-lg-6">
                    <div class="vidhik-feature">
                        <div class="d-flex header">
                            <img src="../../../../assets/images/icons/spark.svg" alt="">
                            <div>Virtual Case Diary</div>
                        </div>
                        <div class="bold-text">Slash document creation time from hours to minutes.</div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum velit dolor
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="../../../../assets/images/icons/why-vidhik.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>