<div class="paginator">
    <button mat-raised-button color="primary" (click)="previousPage()" [disabled]="currentPage === 1"
        style="width: max-content !important;margin-right: 10px;">Previous</button>
    <span style="margin-right: 10px;">Page {{ currentPage }}{{' of '+getPageCount(recordCount/pageSize)}}</span>
    <button mat-raised-button [disabled]="currentPage*pageSize >= recordCount" color="primary" (click)="nextPage()"
        style="width: max-content !important;">Next</button>
</div>