marquee {
  color: #2e5bff;
  background-color: #053bff0d;
  height: 46px;
  display: flex;
  align-items: center;
  // margin-bottom: 30px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}


.root {

  .fab-container {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 3;
    transition: all 0.3s ease-in-out;
  }

  .fab {
    background-color: #2e5bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }

  .fab span {
    margin-bottom: 4px;
  }

  .fab:hover {
    background-color: #2447c5;
  }

  .feed-section {
    margin-top: 30px;
    margin-right: 2px;

    .section-2 {
      display: flex;
      flex-direction: column;
      margin: 10px 0 0 10px;
      font-family: Poppins;
      font-size: 14px;
      width: -webkit-fill-available;
      width: -moz-available;
      padding: 10px;
    }

    .section-2 input,
    textarea {
      color: #c4c4c4;
      background-color: #2e5bff00;
      outline: none;
      border-style: none;
      line-height: 1.43;
      font-size: 14px;
      resize: none;
      font-family: Poppins;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      color: #18214d;
    }

    .section-2 textarea {
      height: -webkit-fill-available;
      height: -moz-available;
      height: 68%;
    }

    .section-2-btn {
      height: 40px;
      position: absolute;
      right: 20px;
      bottom: 20px;
      flex-grow: 0;
      gap: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 12px 24px;
      border-radius: 12px;
      background-color: #2e5bff;
    }

    .up-section-1 {
      // width: 70%;
      display: flex;
      background-color: #2e5bff0d;
      border-radius: 12px;
      height: 250px;
      padding: 20px;
      margin: 0 30px 0 30px;
      position: relative;

      .profile-container {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin: 20px 0 0 0;

        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
      }
    }

    .up-section {
      padding: unset;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .advertisement {
      img {
        width: 300px;
        height: 250px;
      }
    }


    .feed {
      margin-top: 33px;

      .down-section-1 {
        display: flex;
        justify-content: space-between;
        height: 58px;
        width: -webkit-fill-available;
        width: -moz-available;
        // padding: 0 24.5px 13.1px 2.5px;
        margin: 0 0 0 30px;

        .profile-container1 {
          width: 48px;
          height: 48px;
          flex-grow: 0;
          border-radius: 50px;

          img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
          }
        }
      }

      .down-section-2 {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 5px;
        font-size: 14px;
        width: -webkit-fill-available;
        width: -moz-available;
        padding: 10px;
        line-height: 0.1em;
      }

      .name {
        flex-grow: 0;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--solid-gray);
      }

      .name {
        flex-grow: 0;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--solid-gray);
      }

      .location {
        flex-grow: 0;
        font-family: Poppins;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--form-subtext);
        color: #8798ad;
        margin-top: 10px;
        display: flex;
        align-items: center;


        img {
          margin-right: 5px;
        }
      }

      .post-date {
        // margin-right: 40px;
        flex-grow: 0;
        font-family: Poppins;
        font-size: 13px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--solid-black);
      }

      .activity-feed {
        margin: 0px 20px 0 30px;
        width: -webkit-fill-available;
        width: -moz-available;
      }

      .comment-section {
        margin-left: 65px;
        width: -webkit-fill-available;
        width: -moz-available;
        height: 300px;

        .comment {
          margin-top: 33px;

          .down-section-1a {
            display: flex;
            justify-content: space-between;
            border-radius: 5px;
            height: 80px;
            width: -webkit-fill-available;
            padding: 20px 0;

            .profile-container1 {
              width: 48px;
              height: 48px;
              flex-grow: 0;
              border-radius: 50px;

              img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
              }
            }
          }
        }

        .hr-line {
          width: -webkit-fill-available !important;
          width: -moz-available !important;
        }
      }

      // ::-webkit-scrollbar {
      //   width: 4px;
      //   background-color: #fbfbfb;
      //   border-radius: 5px;
      // }

      // ::-webkit-scrollbar-thumb {
      //   background-color: #c4c4c4;
      //   border-radius: 2px;
      // }

      .comment-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #fbfbfb;
        border-radius: 12px;
        // height: 73px;
        margin: 20px 40px 30px 65px;

        .profile-container2 {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border-style: none;
          margin: 20px 0 20px 24px !important;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        .comment-box-textarea {
          font-size: 14px;
          width: 100%;
          width: -moz-available;
          margin: 0px 10px;

          textarea {
            width: 100%;
            width: -moz-available;
            margin-left: 2px;
            padding-top: 20px;
            // padding-bottom: 15px;
          }
        }

        .comment-btn {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 5px;
          margin: 0 20px 0 0;
          padding: 7px 24px;
          border-radius: 12px;
        }
      }

      .activity-feed-heading {
        flex-grow: 0;
        margin: 0 0 14px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: normal;
        text-align: left;
        color: var(--form-subtext);
        color: #8798ad;
      }

      .activity-feed-comment {
        font-size: 14px;
        flex-grow: 0;
        color: #8798ad;
      }

      .like-comment {
        font-family: Poppins;
        font-size: 10px;
        padding-top: 5px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--website-solid-dark-blue);

        .like-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: Poppins;

          img {
            margin-right: 5px;
          }
        }
      }

      .activity-feed-bottom {
        margin-top: 15px;
        height: 40px;
        width: -webkit-fill-available;
        width: -moz-available;
        display: flex;
        align-items: center;
        background-color: #fbfbfb;
        font-family: Poppins;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--website-solid-dark-blue);

        .like-comment-share-buttons {
          display: flex;
          margin-left: 30px;

          .activity-feed-bottom-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            border-style: none;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #18214d;
            background-color: #fbfbfb;
            padding-right: 30px;
            padding-left: 0px;
          }
        }
      }

      hr {
        margin: 0 0 15px 0;
      }
    }
  }

  .modal-dialog {
    .modal-content {
      .modal-header {
        display: flex;
        justify-content: flex-start;

        h1 {
          padding-left: 16px;
        }
      }

      .modal-body {
        text-align: left !important;

        .list-heading {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 700 !important;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: var(--solid-black);
        }

        .list-description {
          padding-bottom: 20px;
          padding-right: 20px;
        }

        .policy-list {
          font-size: 14px;
          font-family: Poppins;

          ul {
            li {
              line-height: 2.5em;
              text-decoration: underline;
              text-underline-offset: 6px;

              a {
                color: #000000;
                margin-left: 5px;
                cursor: pointer;
              }

              :hover {
                color: #2e5bff;
                transition: all 0.3s ease-in-out;
              }
            }

            :hover {
              color: #2e5bff;
              transition: all 0.3s ease-in-out;
            }
          }
        }

        .policy-container {
          margin-left: 16px;
          margin-bottom: 30px;
          font-family: Poppins;
          padding-right: 20px;

          .heading {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
          }

          .sub-heading {
            // font-weight: 500;
            font-size: 18px;
            margin-top: 20px;
            margin-bottom: 8px;
            color: #2e5bff;
          }

          .details {
            font-size: 14px;
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    .feed-section {
      .up-section-1 {
        margin: 0 15px;
        margin-right: unset;
      }

      .advertisement {
        display: none;

        img {
          display: none;
        }
      }

      .feed {
        .down-section-1 {
          margin: 0 15px;
        }

        .post-date {
          margin-right: unset;
          padding: unset;
        }

        .activity-feed {
          margin: 0 15px;
        }

        .activity-feed-bottom {
          .like-comment-share-buttons {
            margin-left: 15px;
          }
        }
      }

      .comment-section {
        margin-left: 52px !important;
      }

      .comment-box {
        margin-left: 52px !important;
      }
    }
  }

  .terms-service-checkbox {
    margin-bottom: 50px;
  }
}