<!-- header  -->
<app-header [menuName]="'Activity feed'"></app-header>

<!--marquee -->
<marquee behavior="'smooth'" direction="rtl" onMouseOver="this.setAttribute('scrollamount', 0, 0);this.stop()"
  OnMouseOut="this.setAttribute('scrollamount', 2, 0);this.start();" scrollamount="2">To comply with any
  legal advertising regulations in your jurisdiction and ensure that your messages adhere to professional and ethical
  standards</marquee>

<!-- root section & feed section start-->
<div class="root">
  <div id="fab-container" class="fab-container" [ngStyle]="refreshVisible?{'display':'block'}:{'display':'none'}">
    <button class="fab" (click)="getActivityFeeds()">
      <span>&#x21bb;</span>
    </button>
  </div>

  <div style="height: calc(100vh - 196px)">
    <ng-scrollbar autoHeightDisabled="false" appearance="standard">
      <div class="feed-section">
        <div class="d-flex w-100">
          <div class="up-section-1 w-100" [ngClass]="userType != 'lawyer'?'up-section':''">

            <div class="d-flex w-100" *ngIf="userType === 'lawyer'">
              <div class="profile-container">
                <img src="../../assets/images/image/anurag_goyal.jpg" />
              </div>
              <div class="section-2">
                <input type="text" placeholder="Tittle" [(ngModel)]="post.title" />
                <textarea matInput placeholder="Enter Text Here..." [(ngModel)]="post.description"></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-primary section-2-btn" (click)="addPost()">
                  <img src="../../../../assets/images/icons/post.svg" />Post
                </button>
              </div>
            </div>

            <div *ngIf="userType != 'lawyer'">
              <img src="../../assets/images/image/mcdonald.jpg" alt="" style="object-fit: cover;">
            </div>
          </div>
          <div class="advertisement">
            <img src="../../assets/images/image/lawyer_2.jpg" [width]="300" />
          </div>
        </div>
        <!-- Post section ends -->

        <!--Feedlist section start-->
        @for (item of feedList; track item) {
        <div>
          <div class="feed">
            <div class="down-section-1">
              <div class="d-flex">
                <div class="profile-container1">
                  <img src="../../../../assets/images/image/anurag_goyal.jpg" />
                </div>
                <div class="down-section-2">
                  <div class="name">{{ item.lawyerName }}</div>
                  <div class="location">
                    <img src="../../../../assets/images/icons/location.svg" alt="" />{{ item.location }}
                  </div>
                </div>
              </div>
              <div class="post-date">{{ getDaysAgo(item.createdAt)>0?getDaysAgo(item.createdAt) + ' days ago':'Today' }}
              </div>
            </div>
            <hr />
            <div class="activity-feed">
              <div class="activity-feed-heading">{{ item.title }}</div>
              <div class="activity-feed-comment">{{ item.description }}</div>
              <div class="d-flex mt-1 like-comment">
                <div class="like-icon">
                  <img src="../../../../assets/images/icons/like.svg" alt="" />{{ item.likeCount }}
                </div>
                <div class="mx-3 like-icon">
                  <img src="../../../../assets/images/icons/comment.svg" alt="" />
                  {{ item.comments.length }}
                </div>
              </div>
            </div>

            <div id="comment-section" *ngIf="item.isCommentExpanded || isPost" class="comment-section"
              [ngStyle]="item.comments.length == 0?{'height':'0px'}:{'height':'300px'}">
              <ng-scrollbar #commentScroll autoHeightDisabled="false" appearance="standard">
                @for (comment of item.comments; track comment) {
                <div class="comment">
                  <div class="down-section-1a">
                    <div class="d-flex">
                      <div class="profile-container1">
                        <img src="../../../../assets/images/image/anurag_goyal.jpg" />
                      </div>
                      <div class="down-section-2 d-flex">
                        <div class="name">{{ comment.lawyerName }}</div>
                        <div class="location">
                          <img src="../../../../assets/images/icons/location.svg" alt="" />{{comment.location}}
                        </div>
                      </div>
                    </div>
                    <div class="post-date">{{getDaysAgo(comment.createdAt)>0?getDaysAgo(comment.createdAt) + ' days
                      ago':'Today' }}</div>
                  </div>
                  <hr class="hr-line" />
                  <div class="activity-feed1">
                    <div class="activity-feed-comment">
                      {{ comment.commentText }}
                    </div>
                    <!-- <div class="d-flex mt-1 like-comment">
                      <div class="like-icon">
                        <img src="../../../../assets/images/icons/like.svg" alt="" />{{ item.likesCount }}
                      </div>
                      <div class="mx-3 like-icon">
                        <img src="../../../../assets/images/icons/comment.svg" alt="" />
                        {{ comment.commentsCount }}
                      </div>
                    </div> -->
                  </div>
                </div>
                }
              </ng-scrollbar>
            </div>

            <div class="comment-box" *ngIf="item.isCommentExpanded">
              <div class="profile-container2">
                <img src="../../../../assets/images/image/anurag_goyal.jpg" />
              </div>
              <div class="comment-box-textarea">
                <textarea matInput placeholder="Enter Text Here..." [(ngModel)]="item.comment"></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-primary comment-btn" (click)="addComment(item);">
                  <img src="../../assets/images/icons/post.svg" alt="" />Post
                </button>
              </div>
            </div>
            <div class="activity-feed-bottom">
              <div class="like-comment-share-buttons">
                <button class="activity-feed-bottom-btn">
                  <img
                    [src]="item.isLiked?'../../assets/images/icons/like.svg':'../../assets/images/icons/like_icon.svg'"
                    style="width: 18px;height: 18px;" class="me-1" (click)="likePost(item)" />Like
                </button>
                <button class="activity-feed-bottom-btn" (click)="openCommentBox(item)" *ngIf="userType === 'lawyer'">
                  <img src="../../../../assets/images/icons/comment_icon.svg" class="me-1" />Comment
                </button>
                <button class="activity-feed-bottom-btn" [matMenuTriggerFor]="shareMenu">
                  <img src="../../../../assets/images/icons/share_icon.svg" class="me-1" />Share
                </button>
              </div>
            </div>
            <mat-menu #shareMenu="matMenu">
              <a mat-menu-item target="_blank" href="https://www.facebook.com"><span><img
                    src="../../assets/images/icons/facebook_share.svg" alt="" class="me-2" /></span>Share on
                Facebook</a>
              <a mat-menu-item target="_blank" href="https://www.whatsapp.com"><span><img
                    src="../../assets/images/icons/whatsapp_share.svg" alt="" class="me-2" /></span>Share on
                Whatsapp</a>
            </mat-menu>
          </div>
          <!-- comment-box section end-->
        </div>
        <!--Feedlist section ends-->
        }
      </div>
    </ng-scrollbar>
  </div>
  <!-- root & feed section ends -->
</div>