<!-- header  -->
<app-header [menuName]="'Activity feed'"></app-header>

<!-- root section & feed section start-->
<div class="root">
    <div class="feed-section">

        <!--marquee -->
        <marquee behavior="'smooth'" direction="rtl" onmouseover="this.stop()" onmouseout="this.start()">comply with any
            legal advertising regulations in your jurisdiction
            and ensure that your messages dhere to professional
            and ethical standards</marquee>

        <!--Post-section start -->
        <div class="d-flex flex-row">
            <div class="up-section-1">
                <div>
                    <img src="../../../../assets/images/anurag_goyal.jpg" class="profile-container">
                </div>
                <div class="section-2">
                    <input type="text" placeholder="Tittle" />
                    <textarea matInput row="5" placeholder="Enter Text Here..."></textarea>
                </div>
                <div>
                    <button type="button" class="btn btn-primary section-2-btn"><img
                            src="../../../../assets/images/create.svg">Post</button>
                </div>
            </div>

            <!-- carousel  -->
            <!-- <div class="advertisement"><iframe width="300" height="250" src="https://www.youtube.com/embed/
                    7q0TRgDvT9k?si=xxLExguht48Lh3ja" title="YouTube video player" frameborder="0" allow="accelerometer; autopla
                    y; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div> -->
        </div>
        <!-- Post section ends -->


        <!--Feedlist section start-->
        <div *ngFor="let item of feedList">
            <div class="down-section-1">
                <div class="d-flex">
                    <div>
                        <img src="../../../../assets/images/anurag_goyal.jpg" class="profile-container1">
                    </div>
                    <div class="down-section-2">
                        <div class="name">{{item.name}}</div>
                        <div class="location"><img src="../../../../assets/images/location.svg">{{item.location}}</div>
                    </div>
                </div>
                <div class="post-date">{{item.postDate}}</div>
            </div>

            <hr>

            <div class="activity-feed">
                <div class="activity-feed-heading">{{item.heading}}</div>
                <div class="activity-feed-comment">{{item.comment}}</div>
                <div class="d-flex mt-1 like-comment">
                    <div class="like-icon"><img src="../../../../assets/images/like.svg">{{item.likesCount}}</div>
                    <div class="mx-3 like-icon"><img src="../../../../assets/images/comment.svg">{{item.commentsCount}}
                    </div>
                </div>
            </div>
            <!--Feedlist section ends-->


            <!-- comment-section start -->
            <div id="comment-section" *ngIf="isCommentBoxOpen || isPost" class="comment-section">
                <div *ngFor="let comment of item.comments">
                    <div class="down-section-1a">
                        <div class="d-flex">
                            <img src="../../../../assets/images/anurag_goyal.jpg" class="profile-container1">
                            <div class="down-section-2">
                                <div class="name">{{comment.name}}</div>
                                <div class="location"><img
                                        src="../../../../assets/images/location.svg">{{comment.location}}
                                </div>
                            </div>
                        </div>
                        <div class="post-date">{{comment.postDate}}</div>
                    </div>
                    <hr class="hr-line">
                    <div class="activity-feed1">
                        <div class="activity-feed-comment">{{comment.comment}}</div>
                        <div class="d-flex mt-1 like-comment">
                            <div><img src="../../../../assets/images/like.svg">{{comment.likesCount}}</div>
                            <div class="mx-3"><img src="../../../../assets/images/comment.svg">
                                {{comment.commentsCount}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- comment-section ends -->


            <!-- comment-box section start -->
            <div class="comment-box" *ngIf="isCommentBoxOpen">
                <div style="display: flex; justify-content: center; align-items: center;">
                    <div>
                        <img src="../../../../assets/images/anurag_goyal.jpg" class="profile-container2">
                    </div>
                    <div class="comment-box-textarea">
                        <textarea matInput placeholder="Enter Text Here..." [(ngModel)]="comment"></textarea>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary comment-btn" (click)="addComment()"><img
                            src="../../../../assets/images/create.svg">Post</button>
                </div>
            </div>
            <div class="activity-feed-bottom">
                <button class="activity-feed-bottom-btn"><img src="../../../../assets/images/like_icon.svg"
                        class="mx-1">Like</button>
                <button class="activity-feed-bottom-btn" (click)="isCommentBoxOpen = !isCommentBoxOpen"><img
                        src="../../../../assets/images/comment_icon.svg" class="mx-1">Comment</button>
                <button class="activity-feed-bottom-btn"><img src="../../../../assets/images/share_icon.svg"
                        class="mx-1">Share</button>
            </div>
            <!-- comment-box section end-->
        </div>
        <!--Feedlist section ends-->

    </div>
    <!-- root & feed section ends -->



    <button id="modalButton" data-bs-toggle="modal" data-bs-target="#exampleModal" style="display: none;"></button>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Disclaimer</h1>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <ol>
                    <li class="mb-3"><span class="list-heading">No Legal
                            Advise : </span><span class="list-description">The information
                            contained on the Website
                            is for general informational purposes only and is not intended to provide legal
                            advice. You should consult with a qualified legal professional for advice regarding your
                            individual situation.
                        </span></li>
                    <li class="mb-3"><span class="list-heading">No Attorney-Client Relationship : </span><span
                            class="list-description">Your use of the
                            Website
                            does not create an attorney-client
                            relationship between you and vidhik. Such a relationship can only be established through a
                            specific written agreement with us.
                        </span></li>
                    <li class="mb-3"><span class="list-heading">Accuracy of Information : </span><span>While we strive
                            to provide
                            accurate and up-to-date information, we
                            make no representations or warranties of any kind, express or implied, about the
                            completeness, accuracy, reliability, suitability, or availability of the information
                            contained on the Website.
                        </span></li>
                    <li class="mb-3"><span class="list-heading">Acceptance of Terms : </span><span>By clicking
                            &quot;Accept&quot;
                            below, you acknowledge that you have
                            read, understood, and agree to be bound by the terms of this disclaimer. If you do not agree
                            to these terms, pleas click &quot;Reject&quot; and refrain from using the Website.</span>
                    </li>
                </ol>
                <div class="text-center">
                    <button mat-raised-button
                        style="border: 1px solid blue; width: fit-content !important; color: blue;"
                        routerLink="/auth/login" data-bs-dismiss="modal">Reject</button>

                    <button mat-raised-button color="primary" style="width: fit-content !important; margin-left: 10px;"
                        data-bs-dismiss="modal">Accept</button>
                </div>
            </div>
        </div>
    </div>
</div>