.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 151px);

  .case-diary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    flex-grow: 0;
    border-radius: 12px;
    box-shadow: 0 0 42px 0 rgba(46, 91, 255, 0.18);
    background-color: var(--solid-white);

    .login-text {
      flex-grow: 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }

    .sub-text {
      flex-grow: 0;
      font-family: Poppins;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #8798ad;
    }

    .diary-container {
      padding: 40px;
    }

    .mat-mdc-form-field {
      display: grid;
    }
  }
}
