<app-header [menuName]="'Case Diary'"></app-header>
<div class="root">
     <div class="case-diary">
          <div class="upper-div"></div>
          <div>
               <div class="login-text mt-3">Login </div>
               <div class="sub-text mt-3 mb-1">Sign in using your username & password</div>
          </div>

          <form class="col mt-3" [formGroup]="caseDiaryForm">
               <mat-form-field appearance="outline">
                    <span matPrefix><mat-icon>person</mat-icon></span>
                    <input type="text" matInput placeholder="Enter Username" formControlName="username" required>
                    <mat-error *ngIf="caseDiaryForm.controls['username'].hasError('required')">Username is
                         Required</mat-error>
                    <mat-error *ngIf="!caseDiaryForm.controls['username'].hasError('required') && 
                                 caseDiaryForm.controls['username'].invalid">Username
                         Invalid</mat-error>
               </mat-form-field>

               <mat-form-field appearance="outline" class="">
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                         placeholder="Enter Password">
                    <span matPrefix><mat-icon>lock</mat-icon></span>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                         [attr.aria-pressed]="hide">
                         <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="caseDiaryForm.controls['password'].errors?.['required']">Password is
                         Required !!</mat-error>
                    <mat-error
                         *ngIf="!caseDiaryForm.controls['password'].errors?.['required'] && caseDiaryForm.controls['password'].invalid">Enter
                         atleast 10 characters
                         !!</mat-error>
               </mat-form-field>

               <div class="row">
                    <a class="text-align-right forgot-password" routerLink="/case-diary/case-diary-forgot">Forgot
                         Password
                         ?</a>
               </div>
               <div class="text-center mt-3">
                    <button mat-raised-button color="primary w-100" routerLink="/case-diary/case-diary-list">Sign
                         In</button><br>

                    <button routerLink="/case-diary/case-diary-signup" mat-stroked-button class="mt-2 w-100"
                         color="primary"><span class="gray-font">Don't have an account ? </span><span
                              style="color:#2E5BFF">Sign
                              up</span></button>
               </div>
          </form>
     </div>
</div>