<app-header [menuName]="'Case Diary'"></app-header>
<div class="root">
     <div class="case-diary-reset-password">
          <div class="diary-container">
               <div>
                    <div class="login-text">Reset Password</div>
                    <div class="sub-text mt-3 mb-1">Create your password for case diary</div>
               </div>

               <form class="col mt-3" [formGroup]="caseDiaryresetPasswordForm">
                    <mat-form-field appearance="outline">
                         <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldPassword"
                              placeholder="Enter Old Password">
                         <span matPrefix><mat-icon>lock</mat-icon></span>
                         <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                              [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                         </button>
                         <mat-error *ngIf="caseDiaryresetPasswordForm.controls['oldPassword'].errors?.['required']"> Old
                              Password
                              is
                              Required !!</mat-error>
                         <mat-error
                              *ngIf="!caseDiaryresetPasswordForm.controls['oldPassword'].errors?.['required'] && caseDiaryresetPasswordForm.controls['oldPassword'].invalid">Enter
                              atleast 10 characters
                              !!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                         <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword"
                              placeholder="Enter New Password">
                         <span matPrefix><mat-icon>lock</mat-icon></span>
                         <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                              [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                         </button>
                         <mat-error *ngIf="caseDiaryresetPasswordForm.controls['newPassword'].errors?.['required']"> New
                              Password
                              is
                              Required !!</mat-error>
                         <mat-error
                              *ngIf="!caseDiaryresetPasswordForm.controls['newPassword'].errors?.['required'] && caseDiaryresetPasswordForm.controls['newPassword'].invalid">Enter
                              atleast 10 characters
                              !!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                         <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmNewPassword"
                              placeholder="Confirm New Password">
                         <span matPrefix><mat-icon>lock</mat-icon></span>
                         <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                              [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                         </button>
                         <mat-error
                              *ngIf="caseDiaryresetPasswordForm.controls['confirmNewPassword'].errors?.['required']">
                              Confirm
                              Password is
                              Required !!</mat-error>
                         <mat-error
                              *ngIf="!caseDiaryresetPasswordForm.controls['confirmNewPassword'].errors?.['required'] && caseDiaryresetPasswordForm.controls['confirmNewPassword'].invalid">Enter
                              atleast 10 characters
                              !!</mat-error>
                    </mat-form-field>



                    <div class="text-center mt-3">
                         <button mat-raised-button color="primary w-100">Done</button><br>
                    </div>
               </form>
          </div>
     </div>
</div>