<app-header [menuName]="'Case Diary'"></app-header>
<div class="root">
  <div class="case-diary-reset-password">
    <div class="diary-container">
      <div>
        <div class="login-text">Reset Password</div>
        <div class="sub-text mt-3 mb-1">
          Create your password for case diary
        </div>
      </div>

      <form class="col mt-3" [formGroup]="caseDiaryresetPasswordForm">
        <mat-form-field appearance="outline">
          <input matInput [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPassword"
            placeholder="Enter Old Password" />
          <span matPrefix><mat-icon><img src="../../../assets/images/icons/lock-icon.svg" alt="" /></mat-icon></span>
          <button type="button" mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
            <mat-icon>{{
              hideOldPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
          </button>
          <mat-error *ngIf="caseDiaryresetPasswordForm.controls['oldPassword'].errors?.['required']">
            Old Password is Required !!</mat-error>
          <mat-error
            *ngIf="!caseDiaryresetPasswordForm.controls['oldPassword'].errors?.['required'] && caseDiaryresetPasswordForm.controls['oldPassword'].invalid">Enter
            atleast 10 characters !!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
            placeholder="Enter New Password" />
          <span matPrefix><mat-icon><img src="../../../assets/images/icons/lock-icon.svg" alt="" /></mat-icon></span>
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="caseDiaryresetPasswordForm.controls['password'].errors?.['required']">
            New Password is Required !!</mat-error>
          <mat-error
            *ngIf="!caseDiaryresetPasswordForm.controls['password'].errors?.['required'] && caseDiaryresetPasswordForm.controls['password'].invalid">Enter
            atleast 10 characters !!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword"
            placeholder="Confirm New Password" />
          <span matPrefix><mat-icon><img src="../../../assets/images/icons/lock-icon.svg" alt="" /></mat-icon></span>
          <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{
              hideConfirmPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
          </button>
          <mat-error *ngIf="caseDiaryresetPasswordForm.controls['confirmPassword'].errors?.['required']">
            Confirm Password is Required !!</mat-error>
          <mat-error *ngIf="
            caseDiaryresetPasswordForm.controls.confirmPassword.errors?.passwordMatch
          ">Password does not match</mat-error>
        </mat-form-field>

        <div class="text-center mt-3">
          <button mat-raised-button color="primary w-100" (click)="resetPassword()">Done</button><br />
        </div>
      </form>
    </div>
  </div>
</div>