<div class="d-flex h-100 ">
  <div class="col-lg-5 d-flex create-form">


    <div style="width:357px;">
      <img src='../../../assets/images/icons/vidhiklogo.png' width=" 134" height="38.75" alt="vidhik">

      <div class="welcome-text mt-3">Set New Password</div>
    </div>

    <form [formGroup]="setNewPassword" class="form mt-3">
      <mat-form-field appearance="outline" class="input-field">
        <input matInput placeholder="Set new password" [type]="hide ? 'password' : 'text'"
          formControlName="setPassword" />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="setNewPassword.controls['setPassword'].errors?.['required']">Password is Required
          !!</mat-error>
        <mat-error *ngIf="!setNewPassword.controls['setPassword'].errors?.['required'] &&
              setNewPassword.controls['setPassword'].invalid">Enter atleast 10 characters !!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field">
        <input matInput placeholder="Set confirm password" [type]="hide ? 'password' : 'text'"
          formControlName="confirmPassword" />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="setNewPassword.controls['confirmPassword'].errors?.['required']">Password is Required
          !!</mat-error>
        <mat-error *ngIf="!setNewPassword.controls['confirmPassword'].errors?.['required'] &&
              setNewPassword.controls['confirmPassword'].invalid">Enter atleast 10 characters !!</mat-error>
      </mat-form-field>

      <div>
        <button class="reset-btn" mat-raised-button color="primary" style="width : 357px;">
          Reset Password</button>
      </div>
    </form>
  </div>
  <div class="col-lg-7 image-container d-flex align-item-center justify-content-center">
    <img src="../../../assets/images/image/login.png" alt="" style="display: block; margin: auto" />

  </div>
</div>