.root {
  .mobile-responsive-img {
    display: none;
  }

  .create-form {
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .welcome-text {
      flex-grow: 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }

    .form {
      display: flex;
      flex-direction: column;
    }


    .sub-text {
      flex-grow: 0;
      margin-top: 5px 0 0 5px;
      font-family: Poppins;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      // line-height: 1.2em;
      letter-spacing: normal;
      text-align: left;
      color: #8798ad;
    }

    .reset-btn {
      margin-top: 15px;
    }

    .header-text {
      width: 357px;
    }

    .form {
      width: 357px;
    }
  }

  .image-container {
    background-color: #1949f517;
  }
}



@media only screen and (min-width:768px) and (max-width:1023px) {
  .root {
    .create-form {
      .header-text {
        width: 280px;
      }

      .form {
        width: 280px;
      }
    }
  }

}

@media (max-width:600px) {
  .root {
    flex-wrap: wrap;

    .mobile-responsive-img {
      display: block;
      width: 100%;

      .vidhik-logo {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 20px 0;

        img {
          height: 70px;
        }
      }

      img {
        width: 100%;
        height: 300px;
      }
    }

    .create-form {
      height: unset;
      padding: 0 20px 20px 20px;
      align-items: unset;

      .vidhik-logo {
        display: none;
      }

      .resend-otp {
        white-space: nowrap !important;
      }
    }

    .image-container {
      display: none !important;
    }
  }

}