.create-form {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .welcome-text {
    flex-grow: 0;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .form {
    display: flex;
    flex-direction: column;
  }


  .sub-text {
    flex-grow: 0;
    margin-top: 5px 0 0 5px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: normal;
    text-align: left;
    color: #8798ad;
  }

  .reset-btn {
    margin-top: 15px;
  }

  .header-text {
    width: 357px;
  }

  .form {
    width: 357px;
  }
}

.image-container {
  background-color: #1949f517;
}

@media only screen and (min-width:768px) and (max-width:1023px) {
  .create-form {
    .header-text {
      width: 280px;
    }

    .form {
      width: 280px;
    }
  }
}