.create-form {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .welcome-text {
    width: 222px;
    height: 36px;
    flex-grow: 0;
    margin: 0 176px 12px 0;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    background-color: #1949f517;
  }

  .sub-text {
    width: 317px;
    // height: 18px;
    flex-grow: 0;
    margin-top: 5px 0 0 5px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: normal;
    text-align: left;
    color: #8798ad;
  }

  .input-field {
    width: 357px;
  }

  .reset-btn {
    margin-top: 15px;
  }
}
