<!-- header start -->
<app-header [menuName]="'Case Diary'"></app-header>
<!-- header ends -->

<!-- root-section-start -->
<div class="root">
  <!-- create-case-diary-start -->
  <div class="create-sub-diary">
    <div class="create-sub-diary-heading">Create Sub Diary</div>
    <div class="create-sub-diary-fields">
      <form [formGroup]="createSubDiaryForm">
        <div class="row">
          <div class="d-flex mat-input-white me-4" style="flex-direction: column">
            <mat-label class="mat-label">Case Name</mat-label>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Select case" formControlName="caseName" required>
                <mat-option *ngFor="let case of caseList" [value]="case.value">
                  {{ case.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createSubDiaryForm.controls['caseName'].errors?.['required']">Case name
                is Required !!</mat-error>
            </mat-form-field>
          </div>

          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label">Members Name</mat-label>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Select member" formControlName="memberName" required>
                <mat-option *ngFor="let member of memberList" [value]="member.value">
                  {{ member.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createSubDiaryForm.controls['memberName'].errors?.['required']">Member name is
                Required !!</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>

    <div class="lower-div">
      <button mat-raised-button color="primary" type="button"
        style="font-size: 14px !important; width: 124px !important">
        <img src="../../../../assets/images/icons/create-case-diary.svg" />Create
      </button>

      <button mat-stroked-button color="primary" style="margin-left: 20px">
        <img src="../../../../assets/images/icons/reset.svg" />Reset
      </button>
    </div>
  </div>
  <!-- create-case-diary-ends -->
</div>
<!-- root-section-ends-->