<!-- header start -->
<app-header [menuName]="'Review'"></app-header>

<!-- root start -->
<div class="root">
    <div class="rating-container" *ngFor="let review of reviews">
        <div class="d-flex">
            <div class="image-container">
                <img class="display-profile" [src]="review.image" alt="">
            </div>

            <div class="detail">
                <div class="name">{{review.name}}</div>
                <div class="type">{{review.lawyerType}}</div>
            </div>
        </div>
        <div class="rating-detail">
            <div class="rating">{{review.rating}}</div>
            <div class="rating-img"><star-rating [starType]="'svg'" [rating]="4.63" [readOnly]="true"></star-rating>
            </div>
            <div class="rating-count">Based on {{review.ratingCount}} Review</div>
        </div>

        <div class="advovate-info">
            <div class="d-flex">
                <div class="advocate-detail">Legal Knowledge</div>
                <div class="container">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                            aria-valuemax="100" style="width:90%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="advocate-detail">Legal Analysis</div>
                <div class="container">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="advocate-detail">Communication Skills</div>
                <div class="container">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100" style="width:80%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="advocate-detail">Ethics and Professionalism</div>
                <div class="container">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                            aria-valuemax="100" style="width:50%">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <hr>
    <div style="height: calc(100vh - 300px)">
        <ng-scrollbar autoHeightDisabled="false" appearance="standard">
            <div class="rating-btn" (click)="isRatingAdd = !isRatingAdd" *ngIf="!isRatingAdd"><button mat-raised-button
                    color="primary w-100">Rating</button></div>


            <div class="add-rating" *ngIf="isRatingAdd">
                <div>Add Overall Rating</div>
                <div class="disabled-star mt-2"><star-rating [starType]="'svg'" [rating]="2.63"
                    [readOnly]="true" ></star-rating></div>
                <div class="add-overall-rating">
                    <div class="d-flex">
                        <div class="rating-criteria">Legal Knowledge</div>
                        <div class="star-content"><star-rating [starType]="'svg'" [rating]="1"></star-rating></div>
                    </div>

                    <div class="d-flex mt-1">
                        <div class="rating-criteria">Legal Analysis</div>
                        <div class="star-content"><star-rating [starType]="'svg'" [rating]="2.63"></star-rating></div>
                    </div>

                    <div class="d-flex mt-1">
                        <div class="rating-criteria">Communication Skills</div>
                        <div class="star-content"><star-rating [starType]="'svg'" [rating]="2.63"></star-rating></div>
                    </div>

                    <div class="d-flex mt-1">
                        <div class="rating-criteria">Ethics and Professionalism</div>
                        <div class="star-content"><star-rating [starType]="'svg'" [rating]="2.63"></star-rating></div>
                    </div>
                </div>
                <div class="submit-btn"><button mat-raised-button color="primary" type="submit" (click)="addReviews()">Submit</button></div>
            </div>

            <div class="rating-list" *ngFor="let rating of ratingList">
                <div class="rating-list-content">
                    <div class="d-flex">
                        <div class="image"><img [src]="rating.image" alt="" /></div>
                        <div class="ms-3">
                            <div class="name">{{rating.name}}</div>
                            <div class="group-star"><star-rating [starType]="'svg'" [rating]="3"
                                [readOnly]="true"></star-rating>
                                <span class="ms-1" style="font-weight: 500;">{{rating.ratingCount}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="days">{{rating.days}}</div>
                </div>
                <hr>
            </div>
        </ng-scrollbar>
    </div>
</div>