.signup-form {
  font-family: Poppins;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .welcome-text {
    flex-grow: 0;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .sub-text {
    flex-grow: 0;
    margin: 12px 0 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8798ad;
  }

  .mat-mdc-form-field {
    display: grid;
  }

  .header-text {
    width: 357px;
  }

  .otp-form {
    width: 357px;
    max-height: 290px;
  }

  .register-form {
    max-height: calc(100vh - 225px);
    width: 357px;
    padding: 0 35px 0 0;
  }

  .profile-container {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    margin-bottom: 10px;

    input {
      display: none;
    }

    .profile {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

    .profile-input {
      position: absolute;
      width: 26px;
      height: 26px;
      background-color: #2e5bff;
      border-radius: 50%;
      bottom: 0;
      right: -8px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .camera {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.image-container {
  background-color: #1949f517;
}

.head-text {
  font-size: 20px;
  font-weight: 600;
}

.sub-text {
  .email {
    font-weight: 700;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .signup-form {
    .header-text {
      width: 280px;
    }

    .otp-form {
      width: 280px;
    }

    .register-form {
      width: 280px;
    }

    ng-scrollbar {
      width: 280px !important;
    }
  }
}
