.signup-form {
  font-family: Poppins;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .welcome-text {
    flex-grow: 0;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .sub-text {
    flex-grow: 0;
    margin: 12px 0 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8798ad;
  }

  .mat-mdc-form-field {
    display: grid;
  }

  .header-text {
    width: 357px;
  }

  .otp-form {
    width: 357px;
    max-height: 290px;

    .gray-font {
      a {
        color: #2e5bff;
        cursor: pointer;
      }

      :hover {
        text-decoration: underline;
        transition: all 1s ease-in-out;
      }
    }
  }

  .register-form {
    max-height: calc(100vh - 225px);
    width: 357px;
    padding: 0 35px 0 0;
  }

  .profile-container {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    margin-bottom: 10px;

    input {
      display: none;
    }

    .profile {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

    .profile-input {
      position: absolute;
      width: 26px;
      height: 26px;
      background-color: #2e5bff;
      border-radius: 50%;
      bottom: 0;
      right: -8px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .camera {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.image-container {
  background-color: #1949f517;
}

.head-text {
  font-size: 20px;
  font-weight: 600;
}

.sub-text {
  .email {
    font-weight: 700;
  }
}

.terms-service {
  width: 688px;
  .modal-content {
    .modal-header {
      display: flex;
      justify-content: flex-start;

      h1 {
        padding-left: 16px;
      }
    }
  }

  .modal-body {
    text-align: left;
    .policy-container {
      margin-left: 16px;
      margin-bottom: 30px;
      font-family: Poppins;

      .heading {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .sub-heading {
        // font-weight: 500;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 8px;
        color: #2e5bff;
      }

      .details {
        font-size: 14px;
        padding-right: 10px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .signup-form {
    .header-text {
      width: 280px;
    }

    .otp-form {
      width: 280px;
    }

    .register-form {
      width: 280px;
    }

    ng-scrollbar {
      width: 280px !important;
    }
  }
}