<router-outlet></router-outlet>
<ngx-loading [show]="toastMessage.showLoader" [config]="{
  animationType: loaderType.circleSwish,
  primaryColour: '#2E5BFF',
  secondaryColour: '#D1A417',
  backdropBorderRadius: '0px',
  fullScreenBackdrop:true,  
}" [template]="emptyLoadingTemplate"></ngx-loading>
<ng-template #emptyLoadingTemplate></ng-template>

<!-- backdropBorderRadius?: string;
backdropBackgroundColour?: string;
fullScreenBackdrop?: boolean;
animationType?: string;
primaryColour?: string;
secondaryColour?: string;
tertiaryColour?: string; -->

<!-- <div class="d-flex justify-content-center align-items-center" ngif>
  <img src="../assets/images/custom-loader.gif" alt="" style="width: 45px; z-index: 20000;" />
</div> -->