<app-header [menuName]="'Bare Acts Detail'"></app-header>

<div class="root" appPreventKeyboardEvents>
  <div class="filter-bar">
    <div class="pretext col-lg-6 col-md-6">
      <img src="../../../assets/images/icons/arrow-left.svg" (click)="routeBack()" />
    </div>
    <div class="posttext col-lg-6 col-md-6">
      <div class="search" (click)="searchStyle = { width: '100%', display: 'flex' };
      searchIcon = { width: '0px', display: 'none' };" [ngStyle]="searchIcon">
        <img src="../../../assets/images/icons/search-blue.svg" />
      </div>

      <div class="searchBox" [ngStyle]="searchStyle">
        <input type="search" [(ngModel)]="searchTerm" placeholder="Search Here..." (keyup.enter)="higlightOnSearch()" />
        <img class="cancel" (click)="{ width: '100%', display: 'flex' };
      searchIcon = { width: '0px', display: 'none' };clearSelection();"
          src="../../../../assets/images/icons/cancel.svg" />
        <img class="search" src="../../../../assets/images/icons/search_grey.svg" (click)="higlightOnSearch()" />
      </div>
    </div>
  </div>

  <div class="bare-acts-container">
    <div class="bare-acts-content">
      <div class="act-heading">{{bareActData?.title}}</div>
      <div class="d-flex mat-input-white mt-3" style="flex-direction: column">
        <!-- <mat-label class="mat-label mb-1">Section</mat-label>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Select section" [(value)]="value">
            <a (click)="$event.stopPropagation()" style="text-decoration: none">
              <mat-form-field class="p-2 w-100 search-input" appearance="outline">
                <input matInput (keyup)="filterSection($event)" placeholder="By section" />
                <span matSuffix><img class="me-2" src="../../../assets/images/icons/search-blue.svg" /></span>
              </mat-form-field>
            </a>
            <div style="height: 190px">
              <ng-scrollbar autoHeightDisabled="false" appearance="standard">
                <mat-option *ngFor="let section of sectionList" [value]="section.value"
                  (click)="selected($event, section.value)">
                  {{ section.viewValue }}
                </mat-option>
              </ng-scrollbar>
            </div>
          </mat-select>
        </mat-form-field> -->
      </div>
    </div>

    <div style="height: calc(100vh - 330px); margin-top: 15px">
      <ng-scrollbar #scrollbar appearance="standard">
        <div class="bare-acts-section">
          <div class="title">
            <!-- <span>
              {{ list.section }}
            </span> : {{ list.title }} -->
          </div>
          <div class="detail">
            <div id="bareActs" [innerHTML]="bareActsDocument|safeHTML"></div>
            <!-- <div>{{ list.detailHeader }}</div>
            <div *ngFor="let item of list.details">{{ item }}</div> -->
          </div>
        </div>
      </ng-scrollbar>
    </div>
  </div>
</div>