// conference popup styling start
.modal {
  width: unset;
  margin-left: unset;
}

.modal-dialog {
  .modal-content {
    .modal-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 70px;
      background-color: #fbfbfb;

      .conference-header {
        display: flex;
        align-items: center;
        width: 100%;

                .conference-header-details {
                    display: flex;
                    align-items: center;
                    padding: 15px 10px;

          .user-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 33px;
          }

          .user-name {
            font-weight: 600 !important;
            color: #282828;
            font-size: 14px;
            font-family: Poppins;
            margin-left: 20px;
          }
        }

                    .ui-widgets {
                        cursor: pointer;
                        display: inline-block;
                        position: relative;
                        width: 3rem;
                        height: 3rem;
                        border-radius: 5rem;
                        border: 0.3rem solid #2e5bff;
                        text-align: center;
                        box-sizing: border-box;
                        position: absolute;
                        right: 30px;
                        top: 10px;

            .values {
              top: 8px;
              position: absolute;
              left: 0;
              right: 0;
            }

                        .count-down {
                            font-size: 10px;
                            color: #2e5bff;

                        }
                    }
                
            }
        }
    }

  .modal-body {
    padding: unset;

    .centered-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 200px);

      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }

    .name {
      display: flex;
      margin-left: 30px;

      div {
        height: 40px;
        background-color: #053bff0d;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        white-space: nowrap;
      }
    }
  }

    .modal-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fbfbfb;
        height: 70px;
        padding: unset !important;

    .footer-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        width: 46px;
        height: 46px;
      }
    }

        .footer-chat-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            right: 28px;
            cursor: pointer;


      img {
        width: 30px;
        height: 30px;
      }
    }

    ng-scrollbar {
      height: calc(100vh - 305px);
    }

    .chat-popup {
      display: none;
      position: fixed;
      right: 0;
      bottom: 66px;
      width: 441px;
      // z-index: 9;
      background-color: #f5f5f5;

      .conference-chat-header {
        background-color: #fbfbfb;
        height: 83px;

        .chat-header-detail {
          display: flex;
          justify-content: space-between;
          padding: 31px 10px;

          .header-chat {
            margin-left: 34px;
            font-size: 16px;
          }

                    .close-button {
                        margin-right: 34px;
                        cursor: pointer;
                    }
                }
            }

      .chat-area {
        margin-top: 20px;
        padding: 10px;

        .sender-container {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          margin-right: 18px;

          .sender-chat {
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            background-color: #ffffff;
            padding: 16px 16px;
            max-width: 70%;
            word-break: break-all;
            position: relative;
            padding-bottom: 10px;

            .sender-name {
              font-size: 10px;
              color: #2e5bff;
              text-align: right;
            }

            .sender-msg {
              font-size: 14px;
              color: #000000;
              text-align: left;
              line-height: 20px;
            }

            .send-time {
              font-size: 10px;
              text-align: right;
            }
          }

          .sender-chat::after {
            width: 15px;
            height: 18px;
            content: url("../../assets/images/icons/shape-right.svg");
            right: 0;
            bottom: 0;
            position: absolute;
          }

          .sender-image {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            margin-left: 8px;
            margin-top: 10px;

            .user-img {
              width: 42px;
              height: 42px;
              border-radius: 50%;
            }
          }
        }

        .receiver-container {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          margin-left: 18px;

          .receiver-chat {
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            background-color: #ffffff;
            padding: 16px 16px;
            line-height: 1.2em;
            margin-left: 8px;
            text-align: left;
            max-width: 70%;
            word-break: break-all;
            position: relative;
            padding-bottom: 10px;

            .receiver-name {
              font-size: 10px;
              color: #2e5bff;
            }

            .receiver-msg {
              font-size: 14px;
              color: #000000;
            }

            .receive-time {
              font-size: 10px;
            }
          }

          .receiver-chat::before {
            width: 15px;
            height: 16px;
            content: url("../../assets/images/icons/shape-left.svg");
            bottom: 0;
            left: 0;
            position: absolute;
          }

          .receiver-image {
            width: 42px;
            height: 42px;

            .user-img {
              width: 42px;
              height: 42px;
              border-radius: 50%;
            }
          }
        }
      }

      .chat-textarea {
        margin: 0px 24px;
        display: flex;
        align-items: center;
        height: 82px;

        textarea {
          color: #000000;
          outline: none;
          border: 1px solid #ebebeb;
          border-radius: 12px;
          font-size: 12px;
          resize: none;
          font-family: Poppins;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          padding: 10px 10px 10px 12px;
          width: 100%;
          height: 46px;
        }

                img {
                    margin-left: 25px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
    }
}

// conference popup styling ends
