<div class="d-flex h-100 ">
  <div class="col-lg-5 col-md-5 d-flex reset-form">
    <div class="header-text">
      <img src='../../../assets/images/icons/vidhiklogo.png' width="134" height="38.75" alt="vidhik">

      <div class="welcome-text mt-3">Reset Password</div>
    </div>

    <div class="form mt-3">
      <form [formGroup]="resetPassword" class="col">

        <mat-form-field appearance="outline">
          <input matInput placeholder="Old password" [type]="hide ? 'password' : 'text'"
            formControlName="oldPassword" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="resetPassword.controls['oldPassword'].errors?.['required']"> Old password is Required
            !!</mat-error>
          <mat-error *ngIf="!resetPassword.controls['oldPassword'].errors?.['required'] &&
                resetPassword.controls['oldPassword'].invalid">Enter atleast 10 characters !!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput placeholder="Set new password" [type]="hide ? 'password' : 'text'"
            formControlName="setNewPassword" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="resetPassword.controls['setNewPassword'].errors?.['required']">Set new Password is Required
            !!</mat-error>
          <mat-error *ngIf="!resetPassword.controls['setNewPassword'].errors?.['required'] &&
                resetPassword.controls['setNewPassword'].invalid">Enter atleast 10 characters !!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput placeholder="Confirm new password" [type]="hide ? 'password' : 'text'"
            formControlName="confirmNewPassword" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="resetPassword.controls['confirmNewPassword'].errors?.['required']">Confirm new password is
            Required !!</mat-error>
          <mat-error *ngIf="!resetPassword.controls['confirmNewPassword'].errors?.['required'] &&
                resetPassword.controls['confirmNewPassword'].invalid">Enter atleast 10 characters !!</mat-error>
        </mat-form-field>

        <div class="sub-text">
          To secure your account, set an password using mixture of both uppercase and lowercase letters
        </div>

        <mat-form-field appearance="outline">
          <mat-select placeholder="Select security question" formControlName="question">
            <mat-option *ngFor="let qus of question" [value]="qus.value.toString()">
              {{ qus.viewValue }}
            </mat-option>
          </mat-select>
          <span matPrefix><mat-icon>receipt_long</mat-icon></span>
          <mat-error *ngIf="resetPassword.controls['question'].hasError('required')">Question is Required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput placeholder="Enter your answer" formControlName="answer" />
          <span matPrefix><mat-icon>message</mat-icon></span>
          <mat-error *ngIf="resetPassword.controls['answer'].errors?.['required']">Answer is Required !!</mat-error>
        </mat-form-field>

        <div>
          <button mat-raised-button color="primary">
            Reset Password</button>
        </div>
      </form>
    </div>

  </div>
  <div class="col-lg-7 col-md-7">
    <!-- image-container d-flex align-item-center justify-content-center -->
    <img src="../../../assets/images/image/vidhik-animated.gif" alt="" style="width: 100%;height: 100vh;" />
  </div>
</div>