.login-form {

    padding: 80px 80px;
    height: 100vh;
}

    .welcome-text {
        height: 35px;
        flex-grow: 0;
        margin: 0 176px 12px 0;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
    }

    .image-container {
    background-color: #1949f517;
}

.sub-text {
     width: 317px;
    // height: 18px;
    flex-grow: 0;
  margin-bottom: 15px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height:1.2em;
    letter-spacing: normal;
    text-align: left;
    color: #8798ad;
  }

  .input-field{
     width: 357px;
  }

  .reset-btn{
     margin-top: 15px;
  }
  
 