.reset-form {
  font-family: Poppins;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .welcome-text {
    height: 36px;
    flex-grow: 0;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    background-color: #1949f517;
  }

  .sub-text {
    width: 357px;
    // height: 30px;
    margin-bottom: 15px;
    flex-grow: 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8798ad;
  }

  .input-field {
    width: 357px;
  }
}
// .reset-btn {
//   margin-top: 15px;
// }
