.root {
  marquee {
    color: #2e5bff;
    background-color: #053bff0d;
    height: 46px;
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    cursor: pointer;
  }

  .feed-section {
    margin: 30px 2px 30px 30px;

    .news {
      width: 100%;
      display: flex;
      background-color: #fbfbfb;
      border-radius: 12px;
      height: 250px;
      margin-right: 30px;
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .advertisement {
      img {
        width: 300px;
        height: 250px;
      }
    }
  }

  .news-logo-n-name {
    display: flex;
    align-items: center;
    cursor: pointer;

    .news-feed {
      font-family: Poppins;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #000000;
    }
  }

  .news-feed-container {
    padding-top: 10px;

    .news-feed-section {
      display: flex;
      border-radius: 10px;
      box-shadow: 1px 2px 15px 0 rgba(0, 0, 0, 0.1);
      background-color: var(--solid-white);
      margin: 0 0 30px 0;

      .news-image {
        width: 180px;

        img {
          width: 180px;
          height: 100%;
          object-fit: cover;
          border-radius: 10px 0px 0px 10px;
        }
      }

      .news-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5px 15px;
        padding: 5px;
        cursor: pointer;

        .news-heading {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: var(--solid-gray);
        }

        :hover {
          color: #2e5bff;
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
        }

        .news-description {
          font-family: Poppins;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.71;
          letter-spacing: normal;
          text-align: left;
          color: #8798ad;
          // height: 54px;
        }

        .read-more {
          a {
            text-decoration: none;
            color: #2e5bff;
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    .feed-section {
      margin: 30px 15px 15px 15px;

      .news {
        margin-right: unset;
      }

      .advertisement {
        display: none;
      }

      .news-feed-container {
        .news-feed-section {
          .news-image {
            width: 180px;

            img {
              width: 180px;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
    .feed-section {
      margin:30px 0 15px 30px;

      .news {
        margin-right: unset;
      }

      .advertisement {
        display: none;
      }
    }
  }
}