.root {
  .mat-label {
    flex-grow: 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
 

  .filter-bar {
    background-color: #f6f6f6;
    width: 100%;
    position: relative;
    display: flex;
    height: 47px;

    .pretext {
      display: flex;
      align-items: center;
      padding-left: 30px;

      .records {
        font-size: 14px;
        font-family: Poppins;
        color: #8798ad;
      }


    }

    .posttext {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    img {
      margin-right: 30px;
      cursor: pointer;
    }
  }

  .mat-mdc-tab-body {
    max-width: unset !important;
  }

  .case-container {
    font-family: Poppins;
    padding: 20px 30px;
    border-bottom: 2px solid #2e5bff0d;

    .title {
      font-size: 16px;
      font-weight: 400;
      color: black;
      margin-bottom: 13px;
    }

    .desc {
      font-size: 14px;
      color: #8798ad;
      margin-bottom: 9px;
    }

    .sub-desc {
      display: flex;
      line-height: normal;
      margin-bottom: 9px;

      .court {
        color: #2e5bff;
        font-size: 14px;
        margin-right: 4px;
        font-weight: 700;
      }

      .bench {
        font-size: 14px;
        font-weight: 700;
        color: black;
      }

      .cited {
        font-size: 14px;
        font-weight: 700;
        color: black;
      }
    }

    hr {
      :last-child {
        display: none;
      }
    }
  }

  .case-container:hover {
    cursor: pointer;
  }

  .case-container .title:hover {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    color: #2e5bff;
  }

  .app-resp-container {
    font-family: Poppins;
    padding: 20px 30px;

    .title {
      flex-grow: 0;
      margin: 0 231px 24px 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }

    img {
      margin-right: 10px;
    }
  }

  .judge-wise {
    font-family: Poppins;
    padding: 20px 30px;

    .title {
      flex-grow: 0;
      margin: 0 231px 24px 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }

    img {
      margin-right: 10px;
    }
  }

  .citation-wise {
    font-family: Poppins;
    padding: 20px 30px;

    .title {
      flex-grow: 0;
      margin: 0 231px 24px 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }

    img {
      margin-right: 10px;
    }
  }

  mat-form-field {
    width: 357px;
  }

  .bare-acts {
    .acts {
      height: 59px;
      width: -webkit-fill-available;
      width: -moz-available;
      flex-grow: 0;
      padding: 20px 30px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: var(--solid-black);
      border-bottom: 0.5px solid #2e5bff0d;
    }

    .acts:hover {
      color: #2e5bff;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      -webkit-transition: color 0.3s ease-in-out;
    }
  }

  .act-section {
    font-family: Poppins;
    padding: 20px 30px;

    .title {
      flex-grow: 0;
      margin: 0 231px 24px 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }

    img {
      margin-right: 10px;
    }
  }

  .overruledby {
    .acts {
      width: -webkit-fill-available;
      width: -moz-available;
      flex-grow: 0;
      padding: 15px 30px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 25px;
      letter-spacing: normal;
      text-align: left;
      color: var(--solid-black);
      border-bottom: 0.5px solid rgba(46, 91, 255, 0.0509803922);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .overruled {
      color: #2e5bff;
    }

    .acts:hover {
      background-color: #2e5bff0d;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
    }
  }

  .advance-search {
    font-family: Poppins;
    padding: 20px 30px;

    .title {
      flex-grow: 0;
      margin: 0 231px 24px 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }

    img {
      margin-right: 10px;
    }
  }
}

.list-container {
  height: 250px;
}