<app-header [menuName]="'Case Law'"></app-header>
<div class="root">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="left" [(selectedIndex)]="selectedIndex"
    (selectedTabChange)="tabSelectionChange($event)" animationDuration="0ms">
    <!-- Latest Cases -->
    <mat-tab label="Latest Cases">
      <div class="filter-bar mt-2 mb-2">
        <!-- Header -->
        <div class="pretext col-lg-6 col-md-6">
          <!-- <img src="../../../assets/images/icons/arrow-left.svg" /> -->
          <div class="records">Found {{ recordCount }} Cases</div>
        </div>
        <div class="posttext col-lg-6 col-md-6">
          <div>
            <img [matMenuTriggerFor]="filterMenu" #filterMenuTrigger="matMenuTrigger"
              src="../../../assets/images/icons/sort.svg" />
          </div>
          <div>
            <img [matMenuTriggerFor]="sortMenu" src="../../../assets/images/icons/filter.svg" />
          </div>
        </div>
        <!-- Filter Menu -->
        <mat-menu #sortMenu="matMenu" yPosition="below" [hasBackdrop]="true" class="mat-menu ">
          <a (click)="$event.stopPropagation()" style="text-decoration: none">
            <mat-form-field class="p-2 w-100 search-input" appearance="outline">
              <input #search matInput (keyup)="onKey($event)" placeholder="By Court" />
            </mat-form-field>
            <div class="list-container">
              <ng-scrollbar autoHeightDisabled="false" appearance="standard">
                <li mat-menu-item *ngFor="let search of searchList" (click)="closed(search.name)">
                  <mat-checkbox [(ngModel)]="search.checked" [color]="'primary'" style="color: black" class="case-law-checkbox">
                    {{ search.name }}
                  </mat-checkbox>
                </li>
              </ng-scrollbar>
            </div>
            <div class="d-flex">
              <button mat-raised-button color="primary" class="m-2" (click)="filterMenuTrigger.closeMenu()">
                Done</button><br />
              <button mat-stroked-button color="primary" class="m-2" (click)="search.value = ''; onKey()">
                Clear
              </button>
            </div>
          </a>
        </mat-menu>
        <!-- Sort Menu -->
        <mat-menu #filterMenu="matMenu" yPosition="below" [hasBackdrop]="true" class="sort-menu">
          <div mat-menu-item (click)="sort('0')">Recent</div>
          <div mat-menu-item (click)="sort('1')">Relevance</div>
          <div mat-menu-item (click)="sort('2')">Most Cited</div>
          <div mat-menu-item (click)="sort('3')">Judge Bench</div>
        </mat-menu>
      </div>
      <!-- Case Law List -->
      <div style="height: calc(100vh - 243px)">
        <ng-scrollbar autoHeightDisabled="false" appearance="standard">
          <div class="case-container" *ngFor="let case of caseList" (click)="viewCase('edadsfalkdlk2jkldas2255E')">
            <div class="title">
              {{ case.caseTitle }}
            </div>
            <div class="desc">
              {{ case.caseDesc }}
            </div>
            <div class="sub-desc">
              <div class="court">{{ case.court }}</div>
              |
              <div class="bench">
                &nbsp;Bench : {{ case.bench | uppercase }}&nbsp;
              </div>
              |
              <div class="cited">&nbsp;Cited : {{ case.cited }}</div>
            </div>
            <div class="acts">Acts : {{ case.acts }}</div>
          </div>
        </ng-scrollbar>
      </div>
    </mat-tab>
    <!-- Lates Cases Ends -->

    <!-- App/Resp -->
    <mat-tab label="App/Resp">
      <div class="app-resp-container">
        <div class="title">App/Resp</div>
        <div class="d-flex mat-input-white" style="flex-direction: column">
          <mat-label class="mat-label">Enter String Alphabets of the Name</mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="All these alphabets of the name" />
          </mat-form-field>
        </div>
        <div class="d-flex mt-4">
          <button mat-raised-button color="primary" style="width: 124px !important; margin-right: 20px; display: flex">
            <img src="../../../assets/images/icons/search-white.svg" />Search</button><br />
          <button mat-stroked-button color="primary" style="width: 124px !important; display: flex">
            <img src="../../../assets/images/icons/reset.svg" />Reset
          </button>
        </div>
      </div>
    </mat-tab>
    <!-- App/Resp Ends -->

    <!-- Judge Wise -->
    <mat-tab label="Judge Wise">
      <div class="judge-wise">
        <div class="title">Judge Wise</div>
        <div class="d-flex mat-input-white" style="flex-direction: column">
          <mat-label class="mat-label">Select by Name List</mat-label>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Select Judge" required>
              <a (click)="$event.stopPropagation()" style="text-decoration: none">
                <mat-form-field class="p-2 w-100 search-input" appearance="outline">
                  <input #search matInput (keyup)="filterJudge($event)" placeholder="By Judge Name" />
                  <span matSuffix><img class="me-2" src="../../../assets/images/icons/search-blue.svg" /></span>
                </mat-form-field>
              </a>
              <div style="height: 190px">
                <ng-scrollbar autoHeightDisabled="false" appearance="standard">
                  <mat-option>Select</mat-option>
                  <mat-option *ngFor="let judge of filteredJudgeList" [value]="judge.value">
                    {{ judge.name }}
                  </mat-option>
                </ng-scrollbar>
              </div>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex mt-4">
          <button mat-raised-button color="primary" style="width: 124px !important; margin-right: 20px; display: flex">
            <img src="../../../assets/images/icons/search-white.svg" />Search</button><br />
          <button mat-stroked-button color="primary" style="width: 124px !important; display: flex">
            <img src="../../../assets/images/icons/reset.svg" />Reset
          </button>
        </div>
      </div>
    </mat-tab>
    <!-- Judge Wise Ends -->

    <!-- Citation Wise -->
    <mat-tab label="Citation Wise">
      <div class="citation-wise">
        <div class="title">Citation Wise</div>
        <div class="d-flex mat-input-white" style="flex-direction: column">
          <mat-label class="mat-label">Journal</mat-label>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Select Journal" required>
              <a (click)="$event.stopPropagation()" style="text-decoration: none">
                <mat-form-field class="p-2 w-100 search-input" appearance="outline">
                  <input #search matInput (keyup)="filterJournal($event)" placeholder="By Court" />
                  <span matSuffix><img class="me-2" src="../../../assets/images/icons/search-blue.svg" /></span>
                </mat-form-field>
              </a>
              <div style="height: 190px">
                <ng-scrollbar>
                  <mat-option>Select</mat-option>
                  <mat-option *ngFor="let journal of filteredJournalsList" [value]="journal.value">
                    {{ journal.name }}
                  </mat-option>
                </ng-scrollbar>
              </div>
            </mat-select>
          </mat-form-field>

          <mat-label class="mat-label">Year</mat-label>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Select Year" required>
              <mat-option>Select</mat-option>
              <mat-option *ngFor="let year of filteredYearList" [value]="year.value">
                {{ year.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-label class="mat-label">Volume</mat-label>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Select Volume" required>
              <mat-option>Select</mat-option>
              <mat-option *ngFor="let volume of filteredVolumeList" [value]="volume.value">
                {{ volume.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-label class="mat-label">Page No.</mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Type the page number" />
          </mat-form-field>
        </div>
        <div class="d-flex mt-4">
          <button mat-raised-button color="primary" style="width: 124px !important; margin-right: 20px; display: flex">
            <img src="../../../assets/images/icons/search-white.svg" />Search</button><br />
          <button mat-stroked-button color="primary" style="width: 124px !important; display: flex">
            <img src="../../../assets/images/icons/reset.svg" />Reset
          </button>
        </div>
      </div>
    </mat-tab>
    <!-- Citation Wise Ends -->

    <!-- Bare Acts -->
    <mat-tab label="Bare Acts">
      <div class="filter-bar mt-2">
        <div class="pretext col-lg-6 col-md-6">
          <!-- <img src="../../../assets/images/icons/arrow-left.svg" /> -->
          <div class="records">Found {{ recordCount }} Cases</div>
        </div>
        <div class="posttext col-lg-6 col-md-6">
          <img src="../../../assets/images/icons/search-blue.svg" />
        </div>
      </div>
      <div style="height: calc(100vh - 243px)">
        <ng-scrollbar autoHeightDisabled="false" appearance="standard">
          <div class="bare-acts">
            <div class="acts" *ngFor="let acts of actsList" (click)="viewBareActs('edadsfalkdlk2jkldas22559')">
              {{ acts.name }}
            </div>
          </div>
        </ng-scrollbar>
      </div>
    </mat-tab>
    <!-- Bare Acts Ends -->

    <!-- Act & Section Wise -->
    <mat-tab label="Act & Section Wises">
      <div class="act-section">
        <div class="title">Act & Section Wise</div>
        <div class="d-flex mat-input-white" style="flex-direction: column">
          <mat-label class="mat-label">Act Title</mat-label>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Select Act Title" required>
              <div style="height: 190px">
                <ng-scrollbar>
                  <mat-option>Select</mat-option>
                  <mat-option *ngFor="let act of actList" value="item.value">{{
                    act.name
                    }}</mat-option>
                </ng-scrollbar>
              </div>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex mat-input-white" style="flex-direction: column">
          <mat-label class="mat-label">Act Type</mat-label>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Select Act Type" required>
              <div style="height: 190px">
                <ng-scrollbar>
                  <mat-option>Select</mat-option>
                  <mat-option *ngFor="let act of actTypeList" value="item.value">{{ act.name }}</mat-option>
                </ng-scrollbar>
              </div>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex mt-4">
          <button mat-raised-button color="primary" style="width: 124px !important; margin-right: 20px; display: flex">
            <img src="../../../assets/images/icons/search-white.svg" />Search</button><br />
          <button mat-stroked-button color="primary" style="width: 124px !important; display: flex">
            <img src="../../../assets/images/icons/reset.svg" />Reset
          </button>
        </div>
      </div>
    </mat-tab>
    <!-- Act & Section Wise Ends -->

    <!-- Words & Phrase -->
    <mat-tab label="Words & Phrases">
      <div class="judge-wise">
        <div class="title">Words & Phrases</div>
        <div class="d-flex mat-input-white" style="flex-direction: column">
          <mat-label class="mat-label">Words & Phrases</mat-label>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Select any word or phrases" required>
              <mat-option>Select</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex mt-4">
          <button mat-raised-button color="primary" style="width: 124px !important; margin-right: 20px; display: flex">
            <img src="../../../assets/images/icons/search-white.svg" />Search</button><br />
          <button mat-stroked-button color="primary" style="width: 124px !important; display: flex">
            <img src="../../../assets/images/icons/reset.svg" />Reset
          </button>
        </div>
      </div>
    </mat-tab>
    <!--Words & Phrase Ends -->

    <!-- Overruled -->
    <mat-tab label="Overruled">
      <div class="filter-bar mt-2">
        <div class="pretext col-lg-6 col-md-6">
          <!-- <img src="../../../assets/images/icons/arrow-left.svg" /> -->
          <div class="records">Found {{ recordCount }} Cases</div>
        </div>
        <div class="posttext col-lg-6 col-md-6">
          <img src="../../../assets/images/icons/search-blue.svg" />
        </div>
      </div>
      <div style="height: calc(100vh - 243px)">
        <ng-scrollbar autoHeightDisabled="false" appearance="standard">
          <div class="overruledby">
            <div class="acts" *ngFor="let case of overruledList" (click)="viewCase('dfasd23Eddf112sdnb2')">
              <div class="previous-attorney">{{ case.previousAttorney }}</div>
              <div class="overruled">Overruled By</div>
              <div class="current-attorney">{{ case.currentAttorney }}</div>
            </div>
          </div>
        </ng-scrollbar>
      </div>
    </mat-tab>
    <!--Overruled Ends -->

    <!-- Universal Search -->
    <mat-tab label="Universal Search">
      <div class="citation-wise">
        <div class="title">Universal Search</div>
        <div class="d-flex mat-input-white" style="flex-direction: column">
          <mat-label class="mat-label">All these words or phrase</mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="All these words in quotes dying" />
          </mat-form-field>
        </div>
        <div class="d-flex mat-input-white" style="flex-direction: column">
          <mat-label class="mat-label">Search Within</mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="50" />
          </mat-form-field>
        </div>
        <div class="d-flex mat-input-white" style="flex-direction: column">
          <mat-label class="mat-label">Any of these words</mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Type All the words you want" />
          </mat-form-field>
        </div>
        <div class="d-flex mat-input-white" style="flex-direction: column">
          <mat-label class="mat-label">None of these words</mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Type All the words you don't want" />
          </mat-form-field>
        </div>
        <div class="d-flex mat-input-white" style="flex-direction: column">
          <mat-radio-group aria-label="Select an option" class="mb-2">
            <mat-radio-button value="1" class="me-3" checked>Judgement</mat-radio-button>
            <mat-radio-button value="2">HeadNote</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="d-flex mt-4">
          <button mat-raised-button color="primary" style="width: 124px !important; margin-right: 20px; display: flex">
            <img src="../../../assets/images/icons/search-white.svg" />Search</button><br />
          <button mat-stroked-button color="primary" style="width: 124px !important; display: flex">
            <img src="../../../assets/images/icons/reset.svg" />Reset
          </button>
        </div>
      </div>
    </mat-tab>
    <!--Universal Ends -->

    <!-- Advance Search -->
    <mat-tab label="Advance Search">
      <div class="advance-search">
        <div class="title">Advance Search</div>
        <div class="advance-search-col">
          <div class="d-flex mat-input-white me-4" style="flex-direction: column">
            <mat-label class="mat-label">Enter Text</mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="All these words in quotes dying" />
            </mat-form-field>
          </div>
          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label">Applicant Respondant Name</mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Type Application Name" />
            </mat-form-field>
          </div>
        </div>
        <div class="advance-search-col">
          <div class="d-flex mat-input-white me-4" style="flex-direction: column">
            <mat-label class="mat-label">Judge Name</mat-label>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Select Judge" required>
                <a (click)="$event.stopPropagation()" style="text-decoration: none">
                  <mat-form-field class="p-2 w-100 search-input" appearance="outline">
                    <input #search matInput (keyup)="filterJudge($event)" placeholder="By Judge Name" />
                    <span matSuffix><img class="me-2" src="../../../assets/images/icons/search-blue.svg" /></span>
                  </mat-form-field>
                </a>
                <div style="height: 190px">
                  <ng-scrollbar>
                    <mat-option>Select</mat-option>
                    <mat-option *ngFor="let judge of filteredJudgeList" [value]="judge.value">
                      {{ judge.name }}
                    </mat-option>
                  </ng-scrollbar>
                </div>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label">Decision Date</mat-label>
            <mat-form-field appearance="outline">
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" />
                <input matEndDate placeholder="End date" />
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>

        <div class="advance-search-col">
          <div class="d-flex mat-input-white me-4" style="flex-direction: column">
            <mat-label class="mat-label">Case No.</mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Enter Case No." />
            </mat-form-field>
          </div>
          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label">Act Title</mat-label>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Select Act Title" required>
                <a (click)="$event.stopPropagation()" style="text-decoration: none">
                  <mat-form-field class="p-2 w-100 search-input" appearance="outline">
                    <input #search matInput (keyup)="filterAct($event)" />
                    <span matSuffix><img class="me-2" src="../../../assets/images/icons/search-blue.svg" /></span>
                  </mat-form-field>
                </a>
                <div style="height: 190px">
                  <ng-scrollbar>
                    <mat-option>Select</mat-option>
                    <mat-option *ngFor="let act of filteredActList" [value]="act.value">
                      {{ act.name }}
                    </mat-option>
                  </ng-scrollbar>
                </div>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="advance-search-col">
          <div class="d-flex mat-input-white me-4" style="flex-direction: column">
            <mat-label class="mat-label">Case Year</mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Enter Case Year" (keypress)="isNumber($event)" maxlength="4" />
            </mat-form-field>
          </div>
          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label">Act Type</mat-label>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Select Act Type" required>
                <a (click)="$event.stopPropagation()" style="text-decoration: none">
                  <mat-form-field class="p-2 w-100 search-input" appearance="outline">
                    <input #search matInput (keyup)="filterActType($event)" />
                    <span matSuffix><img class="me-2" src="../../../assets/images/icons/search-blue.svg" /></span>
                  </mat-form-field>
                </a>
                <div style="height: 190px">
                  <ng-scrollbar>
                    <mat-option>Select</mat-option>
                    <mat-option *ngFor="let act of filteredActTypeList" [value]="act.value">
                      {{ act.name }}
                    </mat-option>
                  </ng-scrollbar>
                </div>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="advance-search-col">
          <div class="d-flex mat-input-white me-4" style="flex-direction: column">
            <mat-label class="mat-label">Advocates</mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Enter Advocate Name" />
            </mat-form-field>
          </div>
        </div>

        <div class="d-flex mt-4">
          <button mat-raised-button color="primary" style="width: 124px !important; margin-right: 20px; display: flex">
            <img src="../../../assets/images/icons/search-white.svg" />Search</button><br />
          <button mat-stroked-button color="primary" style="width: 124px !important; display: flex">
            <img src="../../../assets/images/icons/reset.svg" />Reset
          </button>
        </div>
      </div>
    </mat-tab>
    <!--Advance Search Ends -->
  </mat-tab-group>
</div>