<mat-drawer-container class="main-container">
    <mat-drawer mode="side" opened class="sidenav">
        <div class="logo">
            <img src="../../assets/images/vidhiklogo.png" alt="Vidhik">
        </div>
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/activity-feed">
                <!-- <mat-icon>query_stats</mat-icon> -->
                <img src="../../assets/images/activity_feed.svg" class="in-active">
                <img src="../../assets/images/active_feed.svg" class="active">
                Activity
                Feed</a>
        </li>
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/case-law/cases">
                <!-- <mat-icon>gavel</mat-icon> -->
                <img src="../../assets/images/case_law.svg" class="in-active">
                <img src="../../assets/images/active_law.svg" class="active">
                Case Law</a>
        </li>
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/case-diary">
                <!-- <mat-icon>pie_chart_outline</mat-icon> -->
                <img src="../../assets/images/case_diary.svg" class="in-active">
                <img src="../../assets/images/active_diary.svg" class="active">
                Case Diary</a>
        </li>
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/memebers">
                <!-- <mat-icon>groups</mat-icon> -->
                <img src="../../assets/images/members.svg" class="in-active">
                <img src="../../assets/images/active_members.svg" class="active">
                Members</a>
        </li>
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/chat-room">
                <img src="../../assets/images/chat_room.svg" class="in-active">
                <img src="../../assets/images/active_room.svg" class="active">
                <!-- <mat-icon>chat</mat-icon> -->
                Chat Room</a>
        </li>
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/calendar">
                <!-- <mat-icon>calendar_month</mat-icon> -->
                <img src="../../assets/images/calendar.svg" class="in-active">
                <img src="../../assets/images/active_calendar.svg" class="active">
                Calander</a>
        </li>
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/marketplace">
                <!-- <mat-icon>storefront</mat-icon> -->
                <img src="../../assets/images/marketplace.svg" class="in-active">
                <img src="../../assets/images/active_marketplace.svg" class="active">
                Marketplace</a>
        </li>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>