<app-header [menuName]="'Marketplace'"></app-header>


<div class="root">
    <div class="seller-product-container" *ngFor="let detail of sellersInfo">
        <div class="d-flex">
            <div class="image-container">
                <img class="display-profile" [src]="getImageUrl(_authService.profileImageSubject.value)"
                    onerror="this.onerror=null,this.src='../../../assets/images/image/no-image.png'">
            </div>

            <div class="detail">
                <div class="name">{{ userData.name}}</div>
                <div class="disclaimer-detail">
                    <img src="../../../assets/images/icons/active_calendar.svg" alt="">
                    <div class="disclaimer">{{detail.sellerMemberShipfrom}}</div>
                </div>
                <div class="disclaimer-detail">
                    <img src="../../../assets/images/icons/disclaimer.svg" alt="">
                    <div class="disclaimer">{{detail.disclaimer}}</div>
                </div>

            </div>
        </div>
        <div class="rating-detail">
            <div class="rating">4.0</div>
            <div class="rating-img"><star-rating [starType]="'svg'" [rating]="4" [readOnly]="true"></star-rating>
            </div>
            <div class="rating-count">Based on 23 Review</div>
        </div>

        <div class="seller-info">
            <div class="d-flex">
                <div class="parameter">Customer Service</div>
                <div class="container">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemax="100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="parameter">Product/Service Quality</div>
                <div class="container">
                    <div class="progress">
                        <!-- <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="lawyer.totalAvgLegalAnalysis"
                            aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{'width':((lawyer?.totalAvgLegalAnalysis*20)+'%')}">
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="parameter">Communication</div>
                <div class="container">
                    <div class="progress">
                        <!-- <div class="progress-bar" role="progressbar"
                            [attr.aria-valuenow]="lawyer.totalAvgcommunicationSkills" aria-valuemin="0"
                            aria-valuemax="100" [ngStyle]="{'width':((lawyer?.totalAvgcommunicationSkills*20)+'%')}">
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="parameter">Shipping/Handling Time</div>
                <div class="container">
                    <div class="progress">
                        <!-- <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="lawyer.totalAvgEnP"
                            aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width':((lawyer?.totalAvgEnP*20)+'%')}">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="action-btns">
        <div class="add-btn">
            <button mat-stroked-button color="primary" style="border-radius: 12px" (click)="openAddProductModal()">Add
                Product</button>
            <button mat-stroked-button id="addProductButton" color="primary" style="display:none" data-bs-toggle="modal"
                data-bs-target="#addProductModal">Add Product</button>

        </div>
        <div class="delete-btn" *ngIf="productList.length > 0">
            <button id="deleteProductButton" style="display:none" data-bs-toggle="modal"
                data-bs-target="#deleteProduct">Delete</button>
            <button mat-stroked-button color="primary" (click)="triggerDeleteProduct()"
                style="border-radius: 12px">Delete</button>
        </div>
    </div>
    <div style="height: calc(100vh - 340px); margin-bottom: 20px;">
        <ng-scrollbar autoHeightDisabled="false" appearance="standard">
            <div class="headings">
                <div (click)="toggleListing()"
                    [ngClass]="{'colored-heading': isListingShow, 'default-heading': !isListingShow}">
                    Listing</div>
                <div (click)="toggleReview()"
                    [ngClass]="{'colored-heading': isReviewShow, 'default-heading': !isReviewShow}">
                    Reviews</div>
            </div>

            <div *ngIf="isListingShow">
                <div class="for-no-record" *ngIf="productList.length == 0">
                    <div class="main-heading">You haven't listed anything yet</div>
                    <div class="sub-heading">Let go of what you don't use anymore</div>
                    <div class="object-img"><img src="../../../assets/images/icons/marketplace_listing_object.svg"
                            alt="NoImage" />
                    </div>
                    <div><button type="button" class="btn btn-primary">
                            <img src="../../../assets/images/icons/white_bordered_marketplace.svg" class="me-2">Start
                            Selling</button>
                    </div>
                </div>
                <div class="products-container" *ngIf="productList.length > 0">
                    <div class="products-list">
                        <div class="products-list-header">
                            <div class="checkbox"><mat-checkbox [(ngModel)]="selectAll"
                                    (change)="toggleSelectAll()"></mat-checkbox></div>
                            <div class="grid-item1">PRODUCT IMAGE</div>
                            <div class="grid-item1">PRODUCT NAME</div>
                            <div class="grid-item1">PRICE</div>
                            <div class="grid-item1">POSTED ON</div>
                            <div class="grid-item1">ACTION</div>
                        </div>

                        <div *ngFor="let detail of productList" class="products-list-data">
                            <div class="grid-item2 checkbox"><mat-checkbox [(ngModel)]="detail.selected"
                                    (change)="updateSelectAll()"></mat-checkbox></div>
                            <div class="grid-item2 product-img">
                                <img [src]="getImageUrl(detail.productImages[0])">
                            </div>
                            <div class="grid-item2">{{detail.productName}}</div>
                            <div class="grid-item2">Rs {{detail.price }}
                            </div>
                            <div class="grid-item2">{{detail.createdAt | date:'dd/MM/yyyy'}}</div>
                            <div class="grid-item2">
                                <img (click)="ProductDetail(detail)" src="../../../assets/images/icons/edit_blue.svg"
                                    class="ms-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="isReviewShow">

                <div class="reviews-container" *ngFor="let review of reviewList">
                    <div class="reviews-content">
                        <div class="d-flex align-items-center">
                            <div class="profile-image"><img [src]="review.profileImage" alt=""></div>
                            <div>
                                <div class="ms-2">{{review.name}}</div>
                                <div class="star-content ms-1 d-flex align-items-center"><star-rating [starType]="'svg'"
                                        [rating]="3"></star-rating>
                                    <div class="rating">4.5</div>
                                </div>
                            </div>
                        </div>

                        <div class="post-time">{{review.postTime}}</div>
                    </div>

                    <div class="description">{{review.review}}</div>
                    <hr class="horizontal-line">
                </div>
            </div>

        </ng-scrollbar>
    </div>
</div>

<!-- Add Product Modal -->
<div class="modal fade" id="addProductModal" aria-hidden="true" aria-labelledby="addProductModalLabel" tabindex="-1"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered add-product-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addProductModalLabel">
                    Post your Product
                </h1>
                <button type="button" class="btn-close" id="closeAddProductModal" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addProductForm">
                    <div class="d-flex mat-input-white" style="flex-direction: column">

                        <mat-label class="mat-label mt-2 mb-1">Select Category</mat-label>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select category" formControlName="category" required>
                                <mat-option *ngFor="let category of categoryList" [value]="category.value">
                                    {{ category.viewValue }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="addProductForm.controls['category'].hasError('required')">Category
                                is Required</mat-error>
                        </mat-form-field>

                        <mat-label class="mat-label mt-2 mb-1">Product Name</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Enter product name" formControlName="productName" required />
                            <mat-error *ngIf="addProductForm.controls['productName'].hasError('required')">Product name
                                is
                                Required</mat-error>
                        </mat-form-field>

                        <mat-label class="mat-label mt-2 mb-1">Product Description</mat-label>
                        <mat-form-field appearance="outline" class="textArea">
                            <textarea id="text-area" type="text" matInput placeholder="Enter description"
                                formControlName="ProductDescription" required rows="3" minlength="10"></textarea>
                            <mat-error
                                *ngIf="addProductForm.controls['ProductDescription'].hasError('required')">Description
                                is Required</mat-error>
                            <mat-error *ngIf="
                                    !addProductForm.controls.ProductDescription.hasError('required') &&
                                    addProductForm.controls.ProductDescription.hasError('minlength')
                                  ">Minimum character should be 10</mat-error>
                        </mat-form-field>

                        <mat-label class="mat-label mt-2 mb-1">Product Price</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Enter product price" formControlName="productPrice"
                                (keypress)="isNumber($event)" required />
                            <mat-error *ngIf="addProductForm.controls['productPrice'].hasError('required')">Product
                                price
                                is Required</mat-error>
                        </mat-form-field>

                        <mat-label class="mat-label mt-2 mb-1">Add Image</mat-label>
                        <div class="file-container">
                            <div class="drop-zone" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
                                <input type="file" (change)="onFileSelected($event)" #fileInput style="display: none"
                                    accept="image/*" multiple>
                                <div class="add-picture" (click)="fileInput.click()">+</div>
                            </div>
                            <div class="mt-3" *ngIf="fileUploaded == true">
                                <div class="selected-files">
                                    Selected File: <span *ngFor="let file of files, let last = last">{{ file.name }}
                                        {{!last ?', ' : '' }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 mb-3 filter-btn">
                            <button mat-raised-button color="primary"
                                style="width: fit-content !important; padding: 12px 36px" (click)="addProduct()">
                                Add Product
                            </button>
                            <button mat-stroked-button color="primary" style="width: fit-content !important;
                                  margin-left: 20px; padding: 12px 36px;" data-bs-dismiss="modal"
                                (click)="resetForm()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Delete Product Modal -->
<div class=" modal fade" id="deleteProduct" tabindex="-1" aria-labelledby="deleteProduct" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered delete-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteProduct">Delete Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-3">Are you sure you want to delete this product?</div>
                <div class="text-center mt-3 mb-3">
                    <button mat-raised-button color="primary" style="width: fit-content !important"
                        data-bs-dismiss="modal" (click)="deleteProduct()">
                        Confirm
                    </button>
                    <button mat-stroked-button color="primary" style="width: fit-content !important; margin-left: 20px"
                        data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>