<div class="main-container">
    <div class="error-code">
        Page Not Found
    </div>
    <div class="error-message">
        The page you are looking for might have been removed had its name changed or is temporary unavailable.
    </div>
    <img class="page-not-found-img" src="../../../../assets/images/image/404.png" width="300">
    <button mat-raised-button color="primary" class="mt-3" style="width:fit-content !important" (click)="navigate()">
        <img src="../../../../assets/images/icons/home.svg" style="width:14px;height:14px;margin: 3px;">Home</button>
</div>