<div class="main-container" style="position: relative">
    <div mode="side" opened class="sidenav">
        <div class="logo">
            <img src="../../assets/images/icons/vidhiklogo.svg" alt="Vidhik" routerLink="/user/activity-feed"
                style="cursor: pointer" />
        </div>
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/user/activity-feed">
                <!-- <mat-icon>query_stats</mat-icon> -->
                <img src="../../assets/images/icons/activity_feed.svg" class="in-active" />
                <img src="../../assets/images/icons/active_feed.svg" class="active" />
                Activity Feed</a>
        </li>
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/user/news">
                <!-- <mat-icon>query_stats</mat-icon> -->
                <img src="../../assets/images/icons/inactive_news.svg" class="in-active" />
                <img src="../../assets/images/icons/active_news.svg" class="active" />
                News</a>
        </li>
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/user/advocates">
                <!-- <mat-icon>gavel</mat-icon> -->
                <img src="../../assets/images/icons/case_law.svg" class="in-active" />
                <img src="../../assets/images/icons/active_law.svg" class="active" />
                Advocates</a>
        </li>

        <li [routerLinkActive]="'active-link'">
            <a routerLink="/user/conference">
                <img src="../../assets/images/icons/inactive_conference.svg" class="in-active" />
                <img src="../../assets/images/icons/active_conference.svg" class="active" />
                <!-- <mat-icon>chat</mat-icon> -->
                Conference</a>
        </li>
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/user/transactions">
                <!-- <mat-icon>storefront</mat-icon> -->
                <img src="../../assets/images/icons/inactive_transaction.svg" class="in-active" />
                <img src="../../assets/images/icons/active_transaction.svg" class="active" />
                Transactions</a>
        </li>
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/user/marketplace">
                <!-- <mat-icon>storefront</mat-icon> -->
                <img src="../../assets/images/icons/marketplace.svg" class="in-active" />
                <img src="../../assets/images/icons/active_marketplace.svg" class="active" />
                Marketplace</a>
        </li>
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/user/about-us">
                <!-- <mat-icon>storefront</mat-icon> -->
                <img src="../../assets/images/icons/inactive_about_us.svg" class="in-active" />
                <img src="../../assets/images/icons/active_about_us.svg" class="active" />
                About Us</a>
        </li>
        <li [routerLinkActive]="'active-link'">
            <a routerLink="/user/contact-us">
                <!-- <mat-icon>storefront</mat-icon> -->
                <img src="../../assets/images/icons/inactive_contact_us.svg" class="in-active" />
                <img src="../../assets/images/icons/active_contact_us.svg" class="active" />
                Contact Us</a>
        </li>
        <li>
            <a (click)="logout()">
                <img src="../../assets/images/icons/power.svg" class="in-active" style="width:24px" />
                <img src="../../assets/images/icons/power_active.svg" class="active" style="width:24px" />
                Logout</a>
        </li>

        <div class="social-icon">
            <div class="me-2">
                <img src="../../assets/images/icons/facebook_icon.svg" class="in-active" />
                <img src="../../assets/images/icons/hover_facebook.svg" class="active" />
            </div>
            <div class="me-2">
                <img src="../../assets/images/icons/instagram_icon.svg" class="in-active" />
                <img src="../../assets/images/icons/hover_instagram.svg" class="active" />
            </div>
            <div class="me-2">
                <img src="../../assets/images/icons/twitter_icon.svg" class="in-active" />
                <img src="../../assets/images/icons/hover_twitter.svg" class="active" />
            </div>
            <div class="me-2">
                <img src="../../assets/images/icons/whatsapp_icon.svg" class="in-active" />
                <img src="../../assets/images/icons/hover_whatsapp.svg" class="active" />
            </div>
        </div>
    </div>

    <div class="main-content">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>