<div class="d-flex h-100">
  <div class="col-lg-5 d-flex forgot-form">

    <div style="width:357px;">
      <img src='../../../assets/images/vidhiklogo.png' width=" 134" height="38.75" alt="vidhik">

      <div class="welcome-text mt-3">Forgot password</div>

      <div class="sub-text mt-3">Enter your phone number or email id and we will send you an verifcation code</div>
    </div>

    <mat-tab-group class="mt-3" mat-stretch-tabs="false" mat-align-tabs="left" [(selectedIndex)]="selectedIndex"
      (selectedTabChange)="tabSelectionChange($event)">

      <mat-tab label="Using Phone Number">

        <form [formGroup]="forgotPasswordForm" class="col" *ngIf="!isOTPSent">

          <mat-form-field appearance="outline" class="mt-3">
            <span matPrefix><mat-icon>phone</mat-icon></span>
            <input type="text" matInput placeholder="Enter phone number" formControlName="mobile" required
              maxlength="10" (keypress)="isNumber($event)" />
            <mat-error *ngIf="forgotPasswordForm.controls['mobile'].hasError('required')">Mobile No. is
              Required</mat-error>
            <mat-error *ngIf="
                !forgotPasswordForm.controls['mobile'].hasError('required') &&
                forgotPasswordForm.controls['mobile'].invalid
              ">Mobile No. invalid</mat-error>
          </mat-form-field>

          <div class="text-center">
            <button mat-raised-button color="primary w-100" (click)="isOTPSent = !isOTPSent">
              Continue</button><br />
          </div>

        </form>

        <form [formGroup]="forgotPasswordForm" *ngIf="isOTPSent">
          <mat-form-field appearance="outline" class="mt-5">
            <span matPrefix><mat-icon>phone</mat-icon></span>
            <input type="text" matInput placeholder="Enter phone number" formControlName="mobile" required
              maxlength="10" (keypress)="isNumber($event)" />
            <mat-error *ngIf="forgotPasswordForm.controls['mobile'].hasError('required')">Mobile No. is
              Required</mat-error>
            <mat-error *ngIf="
                !forgotPasswordForm.controls['mobile'].hasError('required') &&
                forgotPasswordForm.controls['mobile'].invalid
              ">Mobile No. invalid</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="456-789" formControlName="otp" required maxlength="6"
              (keypress)="isNumber($event)" />
            <span matSuffix><a href="#" class="resend-otp f-12">Resend OTP</a></span>
            <mat-error *ngIf="forgotPasswordForm.controls['otp'].hasError('required')">OTP is Required</mat-error>
            <mat-error *ngIf="
                  !forgotPasswordForm.controls['otp'].hasError('required') &&
                  forgotPasswordForm.controls['otp'].invalid
                ">OTP is invalid</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <span matPrefix><mat-icon><span class="material-symbols-outlined">
                  domain
                </span></mat-icon></span>
            <mat-select placeholder="In what city were you born?" formControlName="question" required>
              <mat-option *ngFor="let qus of questionList" [value]="qus.value">
                {{ qus.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="forgotPasswordForm.controls['question'].hasError('required')">Selection is
              Required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Enter your answer" formControlName="answer" required />
            <mat-error *ngIf="forgotPasswordForm.controls['answer'].hasError('required')">Answer is Required</mat-error>
          </mat-form-field>

          <div class="text-center mt-0">
            <button mat-raised-button routerLink="/auth/createPassword" color="primary" style="width : 100%;">
              Verify</button>
          </div>
        </form>
      </mat-tab>

      <mat-tab label="Using Email">
        <form [formGroup]="forgotPasswordForm1" class="col" *ngIf="!isOTPSent">

          <mat-form-field appearance="outline" class="mt-3">
            <input matInput placeholder="Enter email id" formControlName="email" required />
            <span matPrefix><mat-icon>mail &nbsp;</mat-icon></span>
            <mat-error *ngIf="this.forgotPasswordForm1.controls['email'].invalid">{{
              getErrorMessage()
              }}</mat-error>
          </mat-form-field>

          <div class="text-center">
            <button mat-raised-button color="primary w-100" (click)="isOTPSent = !isOTPSent">Continue</button><br />
          </div>

        </form>

        <form [formGroup]="forgotPasswordForm1" *ngIf="isOTPSent">
          <mat-form-field appearance="outline" class="mt-5">
            <input matInput placeholder="Enter email id" formControlName="email" required />
            <span matPrefix><mat-icon>mail &nbsp;</mat-icon></span>
            <mat-error *ngIf="this.forgotPasswordForm1.controls['email'].invalid">{{
              getErrorMessage()
              }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="456-789" formControlName="otp" required maxlength="6"
              (keypress)="isNumber($event)" />
            <span matSuffix><a href="#" class="resend-otp f-12">Resend OTP</a></span>
            <mat-error *ngIf="forgotPasswordForm1.controls['otp'].hasError('required')">OTP is Required</mat-error>
            <mat-error *ngIf="
                  !forgotPasswordForm1.controls['otp'].hasError('required') &&
                  forgotPasswordForm1.controls['otp'].invalid
                ">OTP is invalid</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <span matPrefix><mat-icon><span class="material-symbols-outlined">
                  domain
                </span></mat-icon></span>
            <mat-select placeholder="In what city were you born?" formControlName="question" required>
              <mat-option *ngFor="let qus of questionList" [value]="qus.value">
                {{ qus.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="forgotPasswordForm1.controls['question'].hasError('required')">Question is
              Required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Enter your answer" formControlName="answer" required />
            <span matPrefix><mat-icon>message &nbsp;</mat-icon></span>
            <mat-error *ngIf="forgotPasswordForm1.controls['answer'].hasError('required')">Answer is
              Required</mat-error>
          </mat-form-field>

          <div class="text-center mt-0">
            <button mat-raised-button color="primary" style="width : 100%;"
              routerLink="/auth/createPassword">Verify</button>
          </div>

        </form>

      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-lg-7 image-container d-flex align-item-center justify-content-center">
    <img src="../../../assets/images/login.png" alt="" style="display: block; margin: auto" />
  </div>
</div>