.forgot-form {
  padding: 80px 80px;
  height: 100vh;

  .mat-mdc-tab-body {
    max-width: 357px;
  }

  .welcome-text {
    flex-grow: 0;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .sub-text {
    width: 312px;
    height: 18px;
    flex-grow: 0;
    margin: 12px 0 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8798ad;
  }

  .mat-mdc-form-field {
    display: grid;
  }
}

.image-container {
  background-color: #1949f517;
}

// .mat-mdc-tab-body {
// height: 50vh !important;
// }
// .mat-mdc-tab-body-wrapper{
// height: 70vh !important;
// }
// .mat-mdc-tab-body.mat-mdc-tab-body-active {
//   height: 50vh !important;
// }

// .mat-mdc-tab-group {
//     display: flex;
//     flex-direction: column;
//     max-width: 100%;
//     height: 70vh !important;
// }

.mat-mdc-tab-body.mat-mdc-tab-body-active {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  flex-grow: 1;
  height: 50vh !important;
}

.mat-mdc-tab-body-content {
  height: 50vh !important;
}

.ng-untouched ng-pristine ng-invalid ng-star-inserted {
  height: 50vh !important;
}