<app-header
  [searchStyle]="{ width: '100%', display: 'flex' }"
  [searchIcon]="{ width: '0px', display: 'none' }"
  [colConfig]="'col-lg-12 col-md-12'"
></app-header>
<div class="root">
  <mat-chip-listbox aria-label="Fish selection" class="m-4">
    <mat-chip-option selected>Cases</mat-chip-option>
    <mat-chip-option>App/Resp</mat-chip-option>
    <mat-chip-option>Judge Wise</mat-chip-option>
    <mat-chip-option>Citation Wise</mat-chip-option>
    <mat-chip-option>Bare Acts</mat-chip-option>
    <mat-chip-option>Words and Phrases</mat-chip-option>
    <mat-chip-option>Overruled</mat-chip-option>
  </mat-chip-listbox>
  <ng-scrollbar autoHeightDisabled="false" appearance="standard">
    <div
      class="case-container"
      *ngFor="let item of caseList"
      (click)="viewCase('edadsfalkdlk2jkldas2255E')"
    >
      <div class="title">
        {{ item.caseTitle }}
      </div>
      <div class="desc">
        {{ item.caseDesc }}
      </div>
      <div class="sub-desc">
        <div class="court">{{ item.court }}</div>
        |
        <div class="bench">
          &nbsp;Bench : {{ item.bench | uppercase }}&nbsp;
        </div>
        |
        <div class="cited">&nbsp;Cited : {{ item.cited }}</div>
      </div>
      <div class="acts">Acts : {{ item.acts }}</div>
    </div>
  </ng-scrollbar>
</div>
