<div class="d-flex calendar-header">
  <div
    class="today"
    mwlCalendarToday
    [(viewDate)]="viewDate"
    (viewDateChange)="viewDateChange.next(viewDate)"
  >
    <div>Today</div>
  </div>
  <div class="btn-group navigators">
    <div
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >
      <img src="../../../assets/images/icons/arrow-left.svg" alt="" />
    </div>
    <div>
      {{ viewDate | calendarDate : view + "ViewTitle" : locale }}
    </div>
    <div
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >
      <img src="../../../assets/images/icons/arrow-right.svg" alt="" />
    </div>
  </div>
  <div class="btn-group view-controller">
    <div
      (click)="viewChange.emit(CalendarView.Day)"
      [class.active]="view === CalendarView.Day"
    >
      Day
    </div>
    <div
      (click)="viewChange.emit(CalendarView.Week)"
      [class.active]="view === CalendarView.Week"
    >
      Week
    </div>
    <div
      (click)="viewChange.emit(CalendarView.Month)"
      [class.active]="view === CalendarView.Month"
    >
      Month
    </div>
  </div>
</div>
