.root {

  // chat room styling start
  .chat-room-directory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 105px;

    .chat-room-heading {
      flex-grow: 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }

    .chat-room-sub-heading {
      flex-grow: 0;
      margin: 17px 0 26.3px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }

    button {
      flex-grow: 0;
      font-family: Poppins;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 36.2px 118px 0;
      padding: 12px 24px;
      border-radius: 12px;
      background-color: #2e5bff;
      font-size: 14px;
    }
  }

  // chat room styling ends


  // chat-room chat-UI styling start
  .chat-container {
    width: -webkit-fill-available;
    width: -moz-available;
    background-color: white;
    display: flex;

    .group-list {
      position: fixed;
      width: 312px;

      .search-n-create-chat-room {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 83px;
        background-color: #f5f5f5;
        padding: 16px 12px;

        .search-input {
          height: 50px;
          margin-bottom: unset !important;

          input {
            padding: 13px 6px;
          }
        }

        div {
          width: 50px;
          height: 50px;
          margin-left: 10px;
          background-color: #ffffff;
          border-radius: 12px;
          cursor: pointer;

          img {
            padding: 15px 15px;
          }
        }
      }

      .colored-border-chat-room {
        border-left: 3px solid #2e5bff;
      }

      .colorless-border-chatroom {
        border-left: 3px solid #ffffff;
      }

      .chat-room-details {
        height: 69px;
        display: flex;
        padding: 10px;
        border-bottom: 1px solid #f5f5f5;

        .chat {
          padding: 8px;
          cursor: pointer;
        }

        .chat.selected {
          border-left: 3px solid blue;
        }

        .user-img {
          width: 42px;
          height: 42px;
          border-radius: 50%;
          margin-left: 20px;
        }

        .user-detail {
          display: flex;
          flex-direction: column;
          font-family: Poppins;
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          white-space: nowrap;

          .user-name {
            font-weight: 500 !important;
            color: #282828;
            font-size: 14px;
          }

          .user-msg {
            font-size: 12px;
          }
        }

        .member-rating-btn {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .star {
            text-align: right;
            font-size: 12px;
          }
        }
      }
    }

    .main-content {
      width: -webkit-fill-available;
      width: -moz-available;
      height: calc(100vh - 129px);
      margin-left: 310px;
      box-shadow: 8px 8px 24px 0 #053bff14,
        -8px -8px 24px 0 rgba(5, 59, 255, 0.08);
      background-color: #f5f5f5;
      overflow-y: hidden;

      .chat-header {
        background-color: #fbfbfb;
        height: 83px;

        .chat-header-detail {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 10px;

          .group-chat-icon {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            margin-left: 20px;

            img {
              width: 42px;
              height: 42px;
              border-radius: 50%;
            }
          }
        }

        .user-detail {
          margin-left: 10px;
          cursor: pointer;

          .user-name {
            font-weight: 600 !important;
            color: #282828;
            font-size: 14px;
            font-family: Poppins;
          }

          .participants {
            display: flex;
            align-items: center;
          }
        }

        .create-chat-icon {
          margin-right: 30px;
        }
      }

      .chat-area {
        .schedule {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .sender-container {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          margin-right: 24px;

          .sender-chat {
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            background-color: #ffffff;
            padding: 16px 16px;
            line-height: 1.2em;
            margin-top: 19px;
            max-width: 70%;
            word-break: break-all;
            position: relative;
            padding-bottom: 10px;

            .sender-name {
              font-size: 10px;
              color: #2e5bff;
              text-align: right;
            }

            .sender-msg {
              font-size: 14px;
              color: #000000;
              line-height: 20px;
            }

            .send-time {
              font-size: 10px;
              text-align: right;
            }
          }

          .sender-chat::after {
            width: 15px;
            height: 18px;
            content: url("../../assets/images/icons/shape-right.svg");
            right: 0;
            bottom: 0;
            position: absolute;
          }

          .sender-image {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            margin-left: 8px;
            margin-top: 10px;

            .user-img {
              width: 42px;
              height: 42px;
            }
          }
        }

        .receiver-container {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          margin-top: 19px;
          margin-left: 29px;

          .receiver-chat {
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            background-color: #ffffff;
            padding: 16px 16px;
            line-height: 1.2em;
            margin-left: 8px;
            max-width: 70%;
            word-break: break-all;
            position: relative;
            padding-bottom: 10px;

            .receiver-name {
              font-size: 10px;
              color: #2e5bff;
            }

            .receiver-msg {
              font-size: 14px;
              color: #000000;
              line-height: 20px;
            }

            .receive-time {
              font-size: 10px;
            }
          }

          .receiver-chat::before {
            width: 15px;
            height: 16px;
            content: url("../../assets/images/icons/shape-left.svg");
            bottom: 0;
            left: 0;
            position: absolute;
          }

          .receiver-image {
            width: 42px;
            height: 42px;
            border-radius: 50%;

            .user-img {
              width: 42px;
              height: 42px;
            }
          }
        }
      }

      .chat-textarea {
        margin: 0px 24px;
        display: flex;
        align-items: center;
        height: 82px;

        textarea {
          color: #000000;
          outline: none;
          border: 1px solid #ebebeb;
          border-radius: 12px;
          line-height: 1.43;
          font-size: 12px;
          resize: none;
          font-family: Poppins;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          padding: 10px 10px 10px 12px;
          width: 100%;
          height: 46px;
          word-break: break-all;
        }

        img {
          margin-left: 25px;
          cursor: pointer;
        }
      }

      ng-scrollbar {
        height: calc(100vh - 295px);
      }
    }
  }

  // chat-room chat-UI styling start
}

.mat-mdc-menu-panel {
  .mat-mdc-menu-content {
    .mat-mdc-menu-item {
      .mat-mdc-menu-item-text {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// chat-room list styling ends

// chat-room initial popup styling start
.modal-dialog {
  text-align: center;
  width: 350px !important;
  height: 350px !important;

  .modal-body {
    text-align: center;

    h1 {
      margin: 25px 0px !important;
      font-weight: 600;
      font-family: Poppins;
    }

    button {
      margin-top: 20px;
    }
  }
}

// chat-room initial popup styling ends

// create-chat-room styling start
.create-chat-room-popup {
  width: 400px !important;

  h1 {
    font-size: 16px !important;
    color: #000000;
    font-family: Poppins;
    font-weight: 400 !important;
  }

  .modal-body {
    padding: 25px;

    .mat-label {
      text-align: left;
      font-size: 14px;
      font-family: Poppins;
      font-weight: 500 !important;
      color: #000000;
    }

    textarea {
      color: #c4c4c4;
      outline: none;
      border: 1px solid #ebebeb;
      border-radius: 12px;
      line-height: 1.43;
      font-size: 14px;
      resize: none;
      font-family: Poppins;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      padding: 10px 10px 10px 25px;
    }
  }
}

// create-chat-room styling ends


@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    .chat-container {
      .group-list {
        width: 250px;

        .search-n-create-chat-room {
          padding: 16px 12px;
  
          .search-input {
            height: 40px;
            margin-bottom: unset;
            
            input {
              padding: 8px 6px !important;
            }
          }
  
          div {
            width: 40px;
            height: 40px;
  
            img {
              padding: 10px 10px;
            }
          }
        }

        .chat-room-details {
          padding: 14px 10px;

          .user-img {
            width: 40px;
            height: 40px;
            margin-left: 5px;
          }

          .user-detail {
            white-space: nowrap;
            word-break: break-all;
            font-size: 12px;

            .user-name {
              font-size: 12px;
            }

            .user-msg {
              font-size: 10px;
            }
          }
        }
      }

      .main-content {
        margin-left: 250px;

        .chat-header {
          .chat-header-detail {
            padding: 20px 0;
            .group-chat-icon {
              width: 40px;
              height: 40px;

              img {
                width: 40px;
                height: 40px;
              }
            }

            .user-detail {
              .participants {
                font-size: 12px;
              }
            }
          }
        }

        .chat-area {
          .schedule {
            font-size: 12px;
          }

          .sender-container {
            margin-right: 18px;
            .sender-chat {
              padding: 10px;

              .sender-msg {
                font-size: 12px;
              }

              .send-time {
                font-size: 10px;
              }
            }
          }

          .receiver-container {
            margin-left: 18px;
            .receiver-chat {
              padding: 10px;

              .receiver-name {
                font-size: 10px;
              }

              .receiver-msg {
                font-size: 12px;
              }

              .receive-time {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}