<!-- header start -->
<app-header [menuName]="'Chat Room'"></app-header>
<!-- header ends -->

<!-- root start -->
<div class="root">
  <!-- <div class="chat-room-directory">
    <div class="chat-room-heading">Explore Our Chat Rooms</div>
    <div class="chat-room-sub-heading">
      Engage in Conversations on Diverse Topics
    </div>
    <div class="chat-room-img">
      <img src="../../../assets/images/icons/chat_room_directory.svg" alt="" />
    </div>
    <div>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-target="#createChatRoomModal"
        data-bs-toggle="modal"
      >
        <img
          src="../../../assets/images/icons/create-case-diary.svg"
          alt=""
          class="me-2"
        />Create
      </button>
    </div>
  </div> -->

  <!-- chat-room chat-UI start -->
  <!-- SideNav of  User Profile -->
  <div class="chat-container">
    <div class="group-list col-lg-3 col-md-3">
      <div class="search-n-create-chat-room">
        <mat-form-field class="search-input" appearance="outline">
          <span matPrefix><img src="../../../assets/images/icons/search-blue.svg" class="search-icon" /></span>
          <input matInput placeholder="Search chat" />
        </mat-form-field>

        <button *ngIf="roomList.length>=20" (click)="notifyUser()">
          <img src="../../../assets/images/icons/add_chat_chatRoom.svg" alt="noImage" />
        </button>

        <button *ngIf="roomList.length<20" data-bs-target="#createChatRoomModal" data-bs-toggle="modal">
          <img src="../../../assets/images/icons/add_chat_chatRoom.svg" alt="noImage" />
        </button>


      </div>

      <div style="height: calc(100vh - 210px)">
        <ng-scrollbar>
          <div class="chat-room-details" *ngFor="let chat of roomList; index as i"
            (click)="addStyling('colored-border-label', i)" id="chats" [ngClass]="chat.className">
            <div class="d-flex chat">
              <div>
                <img [src]="chat.image" alt="noImage" class="user-img" />
              </div>

              <div class="user-detail ms-2">
                <div class="user-name">{{ chat.groupName }}</div>
                <div class="user-msg">
                  {{ chat.message }}
                </div>
              </div>
            </div>
          </div>
        </ng-scrollbar>
      </div>
    </div>

    <!-- Main Content of  User Profile -->
    <div class="main-content col-lg-9 col-md-9">
      <div class="chat-header">
        <div class="chat-header-detail">
          <div class="d-flex">
            <div class="group-chat-icon">
              <img src="../../assets/images/image/chat-default.png" alt="noImage" />
            </div>

            <div class="user-detail">
              <div class="user-name">Group Chat Name</div>
              <div class="participants">3 Participants</div>
            </div>
          </div>

          <div class="create-chat-icon" [matMenuTriggerFor]="notificationMenu">
            <img src="../../assets/images/icons/action.svg" alt="noImage" />
          </div>
          <mat-menu #notificationMenu="matMenu">
            <button mat-menu-item data-bs-target="#addMemberModal" data-bs-toggle="modal">Add Member</button>
            <button mat-menu-item data-bs-target="#removeMemberModal" data-bs-toggle="modal">Remove Member</button>
            <button mat-menu-item data-bs-target="#deleteChatModal" data-bs-toggle="modal">Delete Chat</button>
          </mat-menu>
        </div>
      </div>

      <ng-scrollbar #scrollbar>
        <div class="chat-area" *ngFor="let item of chatList">
          <div *ngIf="item.type == 'schedule'" style="display: flex">
            <hr class="col-lg-5 col-sm-5" />
            <div class="schedule col-lg-2">
              {{ item.message }}
            </div>
            <hr class="col-lg-5 col-sm-5" />
          </div>

          <div class="sender-container" *ngIf="item.type == 'sender'">
            <div class="sender-chat">
              <div class="sender-msg">{{ item.message }}</div>
              <div class="send-time">{{ item.time }}</div>
            </div>
            <div class="sender-image">
              <img [src]="item.senderImage" alt="" class="user-img" />
            </div>
          </div>

          <div class="receiver-container" *ngIf="item.type == 'receiver'">
            <div class="receiver-image">
              <img [src]="item.receiverImage" alt="" class="user-img" />
            </div>
            <div class="receiver-chat">
              <div class="receiver-name">{{ item.name }}</div>
              <div class="receiver-msg">{{ item.message }}</div>
              <div class="receive-time">{{ item.time }}</div>
            </div>
          </div>
        </div>
      </ng-scrollbar>

      <div class="chat-textarea" id="chat-textarea">
        <textarea matInput placeholder="Enter Your text here" [(ngModel)]="message"></textarea>
        <img src="../../../../assets/images/icons/chat_room_send.svg" alt="noImage"
          (click)="addMessage(); scrollbar.scrollTo({ bottom: 0 })" />
      </div>
    </div>
  </div>

  <!-- chat-room chat-UI ends -->
  <!-- root ends -->
</div>

<!-- chat-room initial popup start -->
<div>
  <button id="modalButton2" data-bs-toggle="modal" data-bs-target="#chatRoomModal" style="display: none"></button>
  <div class="modal fade" id="chatRoomModal" tabindex="-1" aria-labelledby="chatRoomModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <h1 class="text-center">Profile Upgradation</h1>
          <div>
            Unlock a world of upportunities to superchange your service and stay
            ahead in the legal
          </div>
          <div class="text-center mb-4">
            <button mat-raised-button color="primary" style="width: fit-content !important; background-color: #2e5bff"
              data-bs-dismiss="modal">
              Go premium
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- chat-room initial popup ends -->


<!-- create-chat-room popup start -->
<div>
  <div class="modal fade" id="createChatRoomModal" aria-hidden="true" aria-labelledby="createChatRoomModalLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered create-chat-room-popup">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Create chat Room</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body" style="padding: 20px">
          <form class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label">Select Members</mat-label>
            <mat-form-field appearance="outline" class="mt-1">
              <mat-select placeholder="Select members" [(ngModel)]="member" name="member"  required>
                <mat-option *ngFor="let member of members" [value]="member.value">
                  {{ member.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-label class="mat-label mt-2">Chat Room Name</mat-label>
            <mat-form-field appearance="outline" class="mt-1">
              <input matInput placeholder="Enter room name"  [(ngModel)]="roomName" name="roomName" />
            </mat-form-field>

            <div class="mt-3 mb-3 filter-btn">
              <button mat-raised-button color="primary" style="width: fit-content !important" (click)="submit()"  data-bs-dismiss="modal">
                Create 
              </button>
              <button mat-stroked-button color="primary" style="width: fit-content !important; margin-left: 20px"
                data-bs-dismiss="modal">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- create-chat-room popup ends -->



<!-- Add Member popup start -->
<div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered delete-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addMemberModalLabel">Add Member</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex mat-input-white" style="flex-direction: column">
          <mat-label class="mat-label mt-2">Add Member</mat-label>
          <mat-form-field appearance="outline" class="mt-1">
            <mat-select placeholder="Select members" required>
              <mat-option *ngFor="let member of members" [value]="member.value">
                {{ member.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="text-center mt-2 mb-3">
          <button mat-raised-button color="primary" style="width: fit-content !important; padding: 12px 36px;"
            data-bs-dismiss="modal">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Member popup ends -->

<!-- Remove Member popup start -->
<div class="modal fade" id="removeMemberModal" tabindex="-1" aria-labelledby="removeMemberModalLabel"
  aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered delete-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="removeMemberModalLabel">Remove Member</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex mat-input-white" style="flex-direction: column">
          <mat-label class="mat-label mt-2">Remove Member</mat-label>
          <mat-form-field appearance="outline" class="mt-1">
            <mat-select placeholder="Select members" required>
              <mat-option *ngFor="let member of members" [value]="member.value">
                {{ member.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="text-center mt-2 mb-3">
          <button mat-raised-button color="primary" style="width: fit-content !important; padding: 12px 36px;"
            data-bs-dismiss="modal">
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Remove Member popup ends -->

<!--Delete Chat popup start -->
<div class="modal fade" id="deleteChatModal" tabindex="-1" aria-labelledby="deleteChatModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered delete-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteChatModalLabel">Delete Chat</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mt-3">Are you sure you want to permanently delete this chat group? It will not retrieve at any cost.</div>
        <div class="text-center mt-3 mb-3">
          <button mat-raised-button color="primary" style="width: fit-content !important" data-bs-dismiss="modal">
            Confirm
          </button>
          <button mat-stroked-button color="primary" style="width: fit-content !important; margin-left: 20px"
            data-bs-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Delete Chat popup ends -->