.root {
  .feed-section {
    .case-diary-list {
      display: flex;
      margin: 28px 30px 0px 30px;

      .item1 {
        margin-right: 24px;

        .mat-mdc-select-placeholder {
          color: black !important;
        }
      }

      .mat-mdc-select-trigger::after {
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20pxpx;
        background: url("../../../src/assets/images/icons/black_vector.svg") 0
          98% !important;
        background-color: black;
      }
      .mat-mdc-select-arrow-wrapper {
        display: none;
      }

      .item2 {
        width: 100% !important;
        margin-right: 24px;

        .mat-mdc-form-field {
          width: 100% !important;
        }
      }

      .item3 {
        button {
          width: 215px !important;
          font-size: 14px;
          background-color: #053bff0d;
          border-color: #7d818e0d !important;
        }
      }
    }

    .filter-bar {
      background-color: #f6f6f6;
      width: 100%;
      position: relative;
      display: flex;
      height: 47px;
      padding: 0px 18px;

      .pretext {
        display: flex;
        align-items: center;
      }

      .posttext {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      img {
        margin-right: 20px;
        cursor: pointer;
      }
    }

    .description {
      margin: 30px 50px 50px 50px;
      font-family: poppins;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: var(--solid-black);

      .bold {
        font-weight: bold;
      }
    }
  }
}
