.footer-section {
    display: flex;
    position: absolute;
    bottom: 0px;
    height: 46px;
    background-color: #fbfbfb;
    width: 100%;
    margin: unset;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8798ad;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    padding: 0px 10px;

    .social-icon {
        display: flex;
        // justify-content: center;
        // position: absolute;
        // bottom: 3px;
        // z-index: 3;
        // left: 17px;
        cursor: pointer;

        div {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #1949f517;
            border: 1px solid #1949f517;
            display: flex;
            align-items: center;
            justify-content: center;

            .in-active {
                display: block;
            }

            .active {
                display: none;
            }
        }

        div:hover {
            background-color: #2e5bff;
            transition: all 0.3s ease-in-out;

            .active {
                display: block;
            }

            .in-active {
                display: none;
            }
        }

    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .social-icon {
        div {
            width: 30px;
            height: 30px;
        }
    }
}