.footer-section {
    display: flex;
    position: absolute;
    bottom: 0px;
    height: 46px;
    background-color: #fbfbfb;
    width: 100%;
    margin: unset;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8798ad;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
}