<div class="footer-section">
    <div class="social-icon">
        <div class="me-2">
            <img src="../../assets/images/icons/facebook_icon.svg" class="in-active" />
            <img src="../../assets/images/icons/hover_facebook.svg" class="active" />
        </div>
        <div class="me-2">
            <img src="../../assets/images/icons/instagram_icon.svg" class="in-active" />
            <img src="../../assets/images/icons/hover_instagram.svg" class="active" />
        </div>
        <div class="me-2">
            <img src="../../assets/images/icons/twitter_icon.svg" class="in-active" />
            <img src="../../assets/images/icons/hover_twitter.svg" class="active" />
        </div>
        <div class="me-2">
            <img src="../../assets/images/icons/whatsapp_icon.svg" class="in-active" />
            <img src="../../assets/images/icons/hover_whatsapp.svg" class="active" />
        </div>
    </div>
    <div>&#169;Peraturb Decimo LLP</div>
    <div>Developed by Numeroeins Software Pvt Ltd</div>
</div>