/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

html,
body {
  height: 100%;
  overflow-x: hidden;
  // font-family: 'Inter', sans-serif;
  font-family: "Poppins", sans-serif !important;

  // Css for Root Container of every Component
  .root {
    // padding: 10px 0px 0px 0px;
    margin-bottom: 50px;
  }

  hr {
    color: #2e5bff0d;
    height: 1.5px;
    opacity: unset;
  }

  .text-align-right {
    text-align: right;
  }

  //input field override
  .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
    width: 20px;
    border-radius: 12px 0 0 12px;
    border-color: #ebebeb;
    font-size: 14px;
  }

  //input field override
  .mdc-text-field--outlined
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-radius: 0 12px 12px 0;
    border-color: #ebebeb;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
      .mdc-text-field--focused
    ):hover {
    .mdc-notched-outline {
      .mdc-notched-outline__trailing {
        border-color: #2e5bff !important;
      }

      .mdc-notched-outline__leading {
        border-color: #2e5bff !important;
      }
    }
  }

  .mat-icon {
    color: #c4c4c4;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .mat-mdc-form-field-icon-suffix {
    .mat-icon {
      color: #c4c4c4;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .mat-mdc-text-field-wrapper {
    background-color: #fbfbfb;
    border-radius: 12px;
    height: 40px;
    font-size: 14px;

    .mat-mdc-form-field-infix {
      padding-top: 0px !important;
      width: auto;
    }
  }

  .example-chip-list {
    .mat-mdc-text-field-wrapper {
      height: auto;

      .mat-mdc-form-field-infix {
        padding-top: 16px !important;
      }
    }
  }

  .mdc-text-field__input {
    padding: 8px 10px;
  }

  .mat-mdc-form-field-flex {
    display: contents;
  }

  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    height: 18px;
    flex-grow: 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2e5bff !important;
    font-weight: 400;
  }

  .mat-mdc-tab .mdc-tab__text-label {
    color: #c4c4c4;
    display: inline-flex;
    align-items: center;
    /* width: 69px; */
    height: 18px;
    flex-grow: 0;
    font-family: Poppins;
    font-size: 14px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-weight: 400;
  }

  .forgot-password {
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8798ad;
  }

  .forgot-password:hover {
    color: #2e5bff;
    transition: all 0.3s ease-in-out;
  }

  .mat-mdc-raised-button:not(:disabled) {
    height: 40px;
    border-radius: 12px;
    width: 357px !important;
    font-family: Poppins;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    letter-spacing: normal;
    font-size: 14px;
    background-color: #2e5bff;
  }

  .mat-mdc-raised-button:disabled {
    height: 40px;
    border-radius: 12px;
    width: 357px !important;
    font-family: Poppins;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    letter-spacing: normal;
    font-size: 14px;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-radius: 12px;
    height: 40px;
    border-color: #2e5bff !important;
    width: 357px !important;
    font-family: Poppins;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    letter-spacing: normal;
    font-size: 14px;
    // background-color: #053bff0d;
    color: #2e5bff;
  }

  .resend-otp {
    font-family: Poppins;
    text-align: left;
    color: #2e5bff;
    margin: 0px 10px 0px 0px;
  }

  .f-12 {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .gray-font {
    color: #8798ad;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .red-font {
    color: #ff2e2e !important;
    font-family: "Poppins", sans-serif;
    font-size: 10px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .mat-mdc-raised-button.mat-primary:not(:disabled) {
    background: #2e5bff;
  }

  .material-icons {
    font-size: 16px;
  }

  ::placeholder {
    color: #e1e1e1 !important;
    font-family: Poppins;
    font-size: 14px;
  }

  ::-ms-input-placeholder {
    /* Edge 12-18 */
    color: #e1e1e1 !important;
    font-family: Poppins;
  }

  .mat-mdc-form-field-error-wrapper {
    padding: 0 6px;
  }

  .modal-dialog {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;

    .modal-header {
      border-radius: 0px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fbfbfb;

      h1 {
        font-family: Poppins !important;
        margin: unset;
        font-size: 16px !important;
      }
    }

    .modal-content {
      border-radius: 0px;
      border: none;
      box-shadow: 0px 4px 4px 0 #053bff14, 0px 0px 12px 0 #053bff14;
      background-color: #ffffff;
    }
  }

  .mat-mdc-menu-item {
    padding: 0px 16px;
  }

  .list-container {
    // .mat-mdc-menu-item {
    //   padding: unset !important;
    // }

    label {
      font-family: Poppins;
      font-size: 12px;
    }
  }

  // // mat-menu Override Css
  .mat-menu {
    max-width: 267px !important;
    border-radius: 12px !important;
    font-family: Poppins !important;
    padding: 0px 14px !important;
  }

  .mat-menu-list {
    font-size: 14px;
    font-weight: 500;
    color: #000000cc;
  }

  // mat-checkbox Override Css
  .mdc-checkbox {
    .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
      background-color: #2e5bff;
      border-color: #2e5bff;
      border-radius: 5px;
    }
  }

  .mdc-checkbox:hover
    .mdc-checkbox__native-control:enabled:checked
    ~ .mdc-checkbox__background {
    background-color: #2e5bff;
    border-color: #2e5bff;
  }

  .mdc-checkbox
    .mdc-checkbox__native-control:enabled:focus:checked
    ~ .mdc-checkbox__background {
    background-color: #2e5bff;
    border-color: #2e5bff;
  }

  .mdc-checkbox
    .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
      [data-indeterminate="true"]
    )
    ~ .mdc-checkbox__background {
    border-radius: 5px;
  }

  // mat-input Override Css
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__leading {
    border-color: #2e5bff !important;
    border-width: 0.5px !important;
  }

  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__trailing {
    border-color: #2e5bff !important;
    border-width: 0.5px !important;
  }

  // mat-input with white background and error block disabled
  .search-input {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    .mat-mdc-text-field-wrapper {
      background-color: white;
    }
  }

  //Global Margin for all form fields
  .mat-mdc-form-field {
    margin-bottom: 12px;
  }

  // mat-input with white background
  .mat-input-white {
    max-width: 357px;

    .mat-mdc-text-field-wrapper {
      background-color: white;
    }
  }

  // mat-input with suffix Override Css

  .mdc-text-field--outlined {
    padding-right: 0px;
  }

  .password {
    .mat-ripple.mat-mdc-button-ripple {
      display: none;
    }

    .mat-mdc-focus-indicator {
      display: none;
    }

    .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
      display: none;
    }
  }

  .mdc-label {
    font-size: 12px;
    color: #8798ad;
    font-family: Poppins;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    white-space: nowrap;
  }

  //mat-error under mat-input Override Css
  .mat-mdc-form-field:not(.mat-form-field-touched) {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
      transition: all 1s ease-in-out;
    }
  }

  .mat-mdc-form-field.mat-form-field-invalid {
    .mat-mdc-form-field-subscript-wrapper {
      display: block;
      transition: all 1s ease-in-out;
    }
  }

  // mat-select overlay Override Css

  .mat-elevation-z8,
  .mat-mdc-elevation-specific.mat-elevation-z8 {
    box-shadow: 2px -6px 10px 0 transparent,
      1px 5px 10px 0 rgba(5, 59, 255, 0.0784313725);
    position: relative !important;
    top: 5%;
  }

  // mat-select overlay-root Override Css
  .mat-mdc-select-panel {
    box-shadow: 2px -6px 10px 0 transparent,
      1px 5px 10px 0 rgba(5, 59, 255, 0.0784313725) !important;
    border-radius: 12px;
  }

  // mat-select options Override Css
  .mat-mdc-option {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
  }

  // mat-select placeholder Override Css
  .mat-mdc-select-placeholder {
    color: #e1e1e1 !important;
    font-family: Poppins;
  }

  // mat-select Override Css
  .mat-mdc-select {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .mat-mdc-select-trigger {
    padding: 8px 10px;
  }

  .mat-mdc-select-trigger::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: url("../src/assets/images/icons/arrow_down_blue.svg");
  }

  .mat-mdc-select-arrow-wrapper {
    display: none;
  }

  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
      .mat-mdc-option-multiple
    ) {
    background-color: #1949f517;
  }

  .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background-color: #1949f517;
  }

  .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
    background-color: #1949f517;
  }

  // mat-button label Overrid Css
  .mdc-button__label {
    display: flex !important;
  }

  // mat-tab Override Css
  .mdc-tab {
    padding-left: 15px;
    padding-right: 15px;
  }

  // mat-tab indicator Override Css
  .mat-mdc-tab .mdc-tab-indicator__content--underline {
    border-color: #2e5bff;
  }

  .mat-mdc-tab.mdc-tab--active:focus .mdc-tab-indicator__content--underline {
    border-color: #2e5bff;
  }

  .mat-mdc-tab-body-content {
    overflow: hidden !important;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__leading:hover {
    border-right: none;
  }

  //mat-label Override Css
  mat-label {
    max-width: 357px;
  }

  .mat-mdc-menu-panel {
    border-radius: 20px;
    max-width: unset;
  }

  // .cdk-overlay-connected-position-bounding-box {
  //   // top: 195px !important;
  //   // right: -20px !important;
  //   // position: relative !important;

  //   // .cdk-overlay-pane::before {
  //   //   background-color: white;
  //   //   width: 30px;
  //   //   height: 30px;
  //   //   content: " ";
  //   //   transform: rotate(45deg);
  //   //   position: absolute;
  //   //   right: 18px;
  //   //   box-shadow: 2px 12px 3px 0 white, 0px 1px 12px 0 #053bff14;
  //   //   top: 2px;
  //   // }
  // }

  .cdk-overlay-container {
    position: fixed !important;
    z-index: 99999 !important;
  }

  .mat-mdc-radio-button.mat-mdc-radio-checked {
    .mdc-radio__background::before {
      background-color: #2e5bff;
    }
  }

  .mat-mdc-radio-button {
    .mdc-radio {
      .mdc-radio__native-control:enabled:checked + .mdc-radio__background {
        .mdc-radio__outer-circle {
          border-color: #2e5bff;
        }
      }

      .mdc-radio__native-control:enabled + .mdc-radio__background {
        .mdc-radio__inner-circle {
          border-color: #2e5bff;
        }
      }
    }

    .mdc-radio:not(:disabled):active {
      .mdc-radio__native-control:enabled:checked + .mdc-radio__background {
        .mdc-radio__outer-circle {
          border-color: #2e5bff;
        }
      }

      .mdc-radio__native-control:enabled + .mdc-radio__background {
        .mdc-radio__inner-circle {
          border-color: #2e5bff;
        }
      }
    }

    .mdc-radio:hover {
      .mdc-radio__native-control:enabled:checked + .mdc-radio__background {
        .mdc-radio__outer-circle {
          border-color: #2e5bff;
        }
      }

      .mdc-radio__native-control:enabled + .mdc-radio__background {
        .mdc-radio__inner-circle {
          border-color: #2e5bff;
        }
      }
    }
  }

  .mat-mdc-radio-button.mat-mdc-radio-checked {
    .mat-ripple-element {
      background-color: #2e5bff;
    }
  }

  mat-chip-option.mat-mdc-chip-selected {
    background-color: #2e5bff !important;
  }

  mat-chip-option.mat-mdc-chip-selected:hover:focus:focus-visible {
    background-color: red !important;
  }

  // textArea override css
  .textArea {
    .mat-mdc-text-field-wrapper {
      height: 100px;

      .mat-mdc-form-field-flex {
        .mat-mdc-form-field-infix {
          textarea {
            resize: none;
            height: 90px;
            box-sizing: border-box;
            margin-top: 5px;
            padding: 3px 16px 0px 5px;
            width: calc(100% - 5px);
          }
        }
      }

      .mat-mdc-form-field-icon-prefix {
        height: 82px;
      }
    }
  }

  //mat-checkbox Ripple override css
  .mat-mdc-checkbox-ripple {
    display: none;
  }

  .mat-mdc-checkbox {
    margin-right: 8px;

    .mdc-checkbox__ripple {
      display: none;
    }
  }

  .mdc-checkbox .mdc-checkbox__background {
    left: 0px;
  }

  mat-checkbox {
    .mat-internal-form-field {
      align-items: flex-start;
      height: 20px;

      .mat-mdc-checkbox-touch-target {
        width: 24px;
        height: 24px;
      }

      .mdc-checkbox {
        .mdc-checkbox__background {
          top: 0;
        }

        .mdc-checkbox__native-control {
          width: 24px;
          height: 24px;
        }
      }

      .mdc-label {
        top: 0;
        color: black;
      }
    }
  }

  .signup-form {
    mat-checkbox {
      .mat-internal-form-field {
        margin-bottom: 8px;

        .mdc-checkbox {
          padding: 0px 0px 12px 0px;
        }
        .mdc-label {
          color: #8798ad !important;
        }
      }
    }
  }

  .mat-mdc-menu-content {
    .mat-mdc-menu-item {
      .mat-mdc-menu-item-text {
        font-size: 14px;
        font-family: Poppins;
        font-weight: normal;
        color: black;
        letter-spacing: normal;
        line-height: normal;
      }
    }
  }

  .mat-mdc-menu-item:not([disabled]):hover {
    background-color: #2e5bff0d !important;
  }

  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    display: none;
  }

  .mat-calendar-arrow {
    margin: 8px 0 0 5px;
    fill: #2e5bff;
  }

  .mat-datepicker-content {
    .mat-calendar-previous-button:not(.mat-mdc-button-disabled) {
      color: #2e5bff;
    }
    .mat-calendar-next-button:not(.mat-mdc-button-disabled) {
      color: #2e5bff;
    }
  }

  .mat-calendar-body-selected {
    background-color: #2e5bff;
  }

  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
      .mat-calendar-body-comparison-identical
    ) {
    background-color: #2e5bff0d;
  }

  .mat-mdc-icon-button .mat-mdc-button-ripple {
    display: none;
  }

  .mat-datepicker-toggle {
    color: #2e5bff;
  }

  .mat-datepicker-toggle-active {
    color: #2e5bff;
  }

  .mat-mdc-form-field-icon-prefix {
    padding: 0px 4px 0 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .login-form,
  .forgot-form,
  .reset-form,
  .signup-form {
    .mat-mdc-tab-group {
      width: 280px;
    }
  }
}
