<app-header [menuName]="'Calendar'"></app-header>
<div class="root">
  <ng-scrollbar autoHeightDisabled="false" appearance="standard">
    <div class="card">
      <!-- calendar-header-menu start -->
      <div class="calendar-header-menu">
        <!-- filter section start -->
        <div class="filter-section">
          <mat-form-field appearance="outline">
            <span matPrefix
              ><img src="../../../assets/images/icons/funnel.svg" class="ms-3"
            /></span>
            <mat-select
              placeholder="Select Event"
              required
              [(value)]="eventType"
            >
              <mat-option
                *ngFor="let event of eventTypeList"
                [value]="event.value"
              >
                {{ event.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- filter section ends -->

        <!-- search-bar start -->
        <div class="search-bar">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Search Calendar" required />
            <div matSuffix>
              <img
                src="../../../assets/images/icons/search-blue.svg"
                style="margin-right: 8px; cursor: pointer"
              />
            </div>
          </mat-form-field>
        </div>
        <!-- search-bar ends -->

        <!-- create-event start -->
        <div class="create-event">
          <button
            mat-stroked-button
            color="primary"
            style="border-radius: 12px"
            data-bs-toggle="modal"
            data-bs-target="#addEventModal"
          >
            <img
              class="mx-1"
              src="../../assets/images/icons/add-event.svg"
            /><span style="color: #2e5bff"></span>Add Event
          </button>
        </div>
        <!-- creat-event ends -->
      </div>
      <!-- calendar-header-menu ends -->

      <app-calendar-header [(view)]="view" [(viewDate)]="viewDate">
      </app-calendar-header>

      <div [ngSwitch]="view" class="cal-container">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          [activeDayIsOpen]="true"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="'day'"
          [viewDate]="viewDate"
          [events]="events"
        >
        </mwl-calendar-day-view>
      </div>
      <div class="availability">
        <div class="d-flex">
          <div class="availability-label align-items-center d-flex">
            Availability
          </div>
          <!-- create-availability start -->
          <div class="create-availability">
            <button
              mat-stroked-button
              color="primary"
              style="border-radius: 12px"
            >
              <img
                class="mx-1"
                src="../../assets/images/icons/add-event.svg"
              /><span style="color: #2e5bff"></span>Add Availability
            </button>
          </div>
          <!-- create-availability ends -->
        </div>
        <!-- add availability list starts -->
        <div class="add-availability-list">
          <div>
            <div class="availability-list-header">
              <div class="grid-item-name">DATE</div>
              <div class="grid-item1">TIME SLOT</div>
              <div class="grid-item1">ACTIONS</div>
            </div>

            <div
              *ngFor="let availability of availabilityList"
              class="availability-list-data"
            >
              <div class="grid-item2">{{ availability.date }}</div>
              <div class="grid-item2 slots d-flex">
                <div *ngFor="let slot of availability.timeSlot">
                  <div class="available" *ngIf="slot.status == 'available'">
                    {{ slot.slot }}
                  </div>
                  <div class="booked" *ngIf="slot.status == 'booked'">
                    {{ slot.slot }}
                  </div>
                </div>
              </div>
              <div class="grid-item2">
                <button mat-icon-button [matMenuTriggerFor]="editAvailability">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </div>
              <mat-menu #editAvailability="matMenu">
                <div mat-menu-item>
                  <!-- <img
                    src="../../../assets/images/icons/black_edit.svg"
                    alt=""
                    class="me-2"
                    style="width: 22px; height: 22px"
                  /> -->
                  <mat-icon>edit</mat-icon>
                  <span class="mat-menu-list">Edit</span>
                </div>

                <div mat-menu-item>
                  <!-- <img
                    src="../../../assets/images/icons/view_application.svg"
                    alt=""
                    class="me-2"
                    style="width: 20px; height: 20px"
                  />
                  <span class="mat-menu-list">View Application</span> -->
                  <mat-icon>delete</mat-icon>
                  <span class="mat-menu-list">Delete</span>
                </div>
              </mat-menu>
            </div>
          </div>
          <!-- add availability list ends -->
        </div>
      </div>
    </div>
    <mat-form-field appearance="outline">
      <input
        matInput
        type="datetime-local"
        placeholder="start date"
        [max]="today"
      />
    </mat-form-field>
  </ng-scrollbar>
</div>

<!-- Email Otp Verification Modal -->
<div
  class="modal modal-sm fade"
  id="addEventModal"
  tabindex="-1"
  aria-labelledby="addEventLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addEventLabel">Email Verification</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          data-bs-keyboard="false"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label text-start">Select Case</mat-label>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Select case" required>
                <mat-option
                  *ngFor="let case of caseList"
                  [value]="case.caseTitle"
                >
                  {{ case.caseTitle }}
                </mat-option>
              </mat-select>
              <!-- <mat-error
                *ngIf="createSubDiaryForm.controls['caseName'].errors?.['required']"
                >Case name is Required !!</mat-error
              > -->
            </mat-form-field>
          </div>

          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label text-start">Event Name</mat-label>
            <mat-form-field appearance="outline">
              <input matInput type="text" placeholder="Enter Event Name" />
            </mat-form-field>
          </div>

          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label text-start"
              >Event Description</mat-label
            >
            <mat-form-field appearance="outline" class="textArea">
              <textarea
                id="text-area"
                type="text"
                matInput
                placeholder="Enter Event Description"
                required
                rows="3"
                maxlength="200"
              ></textarea>
            </mat-form-field>
          </div>

          <div class="text-start">
            <mat-checkbox [color]="'primary'"> All Day </mat-checkbox>
          </div>

          <div class="d-flex" style="margin: 10px 0 10px 0">
            <div class="col-lg-4 col-md-4 text-start d-flex align-items-center">
              <mat-label class="mat-label">Select Color</mat-label>
            </div>
            <div class="col-lg-8 col-md-8">
              <!-- <input type="color" [ngModel]="'#2e5bff'"  /> -->
              <mat-button-toggle-group
                name="favoriteColor"
                aria-label="Favorite Color"
              >
                <mat-button-toggle
                  value="red"
                  style="background-color: #2e5bff; color: white"
                  ><span>&#10003;</span></mat-button-toggle
                >
                <mat-button-toggle
                  value="green"
                  style="background-color: #00d34f; color: white"
                  ><span>&#10003;</span></mat-button-toggle
                >
                <mat-button-toggle
                  value="blue"
                  style="background-color: #ef7e15; color: white"
                  ><span>&#10003;</span></mat-button-toggle
                >
                <mat-button-toggle
                  value="yellow"
                  style="background-color: #ffde68; color: white"
                  ><span>&#10003;</span></mat-button-toggle
                >
                <mat-button-toggle
                  value="orange"
                  style="background-color: #ff2e2e; color: white"
                  ><span>&#10003;</span></mat-button-toggle
                >
              </mat-button-toggle-group>
            </div>
          </div>

          <div class="d-flex" style="position: relative">
            <div class="col-lg-4 col-md-4 text-start">
              <mat-label class="mat-label" style="position: absolute; top: 8px"
                >Start Date</mat-label
              >
            </div>
            <div class="col-lg-8 col-md-8">
              <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="picker" />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex" style="position: relative">
            <div class="col-lg-4 col-md-4 text-start">
              <mat-label class="mat-label" style="position: absolute; top: 8px"
                >End Date</mat-label
              >
            </div>
            <div class="col-lg-8 col-md-8">
              <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="picker2" />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker2"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="d-flex" style="flex-direction: column">
          <button
            mat-raised-button
            color="primary"
            style="font-size: 12px"
            class="mt-4"
          >
            Add
          </button>
          <!-- <button
            mat-raised-button
            color="primary"
            style="font-size: 12px;"
            class="mt-4"
          >
            Edit
          </button>
          <button
            mat-stroked-button
            color="primary"
            style="font-size: 12px;"
            class="mt-4"
          >
            Delete
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
