<app-header [menuName]="'Calendar'"></app-header>
<div class="root" appPreventKeyboardEvents>
  <ng-scrollbar #calendarScroll autoHeightDisabled="false" appearance="standard">
    <div class="cards">
      <!-- calendar-header-menu start -->
      <div class="calendar-header-menu">
        <!-- filter section start -->
        <div class="filter-section">
          <mat-form-field appearance="outline">
            <span matPrefix><img src="../../../assets/images/icons/funnel.svg" class="ms-3" /></span>
            <mat-select placeholder="Select Event" required [(value)]="eventType">
              <mat-option *ngFor="let event of eventTypeList" [value]="event.value">
                {{ event.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- filter section ends -->

        <!-- search-bar start -->
        <div class="search-bar">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Search Calendar" required />
            <div matSuffix>
              <img src="../../../assets/images/icons/search-blue.svg" style="margin-right: 8px; cursor: pointer" />
            </div>
          </mat-form-field>
        </div>
        <!-- search-bar ends -->

        <!-- create-event start -->
        <div class="create-event">
          <button id="addEventButton" mat-stroked-button color="primary" style="border-radius: 12px"
            data-bs-toggle="modal" data-bs-target="#addEventModal" (click)="resetEventForm()">
            <img class="mx-1" src="../../assets/images/icons/add-event.svg" /><span style="color: #2e5bff"></span>Add
            Event
          </button>
        </div>
        <!-- creat-event ends -->
      </div>
      <!-- calendar-header-menu ends -->

      <app-calendar-header [(view)]="view" [(viewDate)]="viewDate">
      </app-calendar-header>

      <div [ngSwitch]="view" class="cal-container">
        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
          (eventClicked)="handleEventClick($event.event)" [activeDayIsOpen]="true">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"
          (eventClicked)="handleEventClick($event.event)" precision="minutes">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events"
          (eventClicked)="handleEventClick($event.event)" precision="minutes">
        </mwl-calendar-day-view>
      </div>
      <div class="availability">
        <div class="d-flex align-items-center">
          <div class="availability-label">
            Availability
          </div>
          <!-- create-availability start -->
          <div class="create-availability">
            <button id="addAvailabilityButton" mat-stroked-button color="primary" style="border-radius: 12px"
              data-bs-target="#addSlotModal" data-bs-toggle="modal">
              <img class="mx-1" src="../../assets/images/icons/add-event.svg" /><span style="color: #2e5bff"></span>Add
              Availability
            </button>
          </div>
          <!-- create-availability ends -->
        </div>
        <!-- add availability list starts -->
        <div class="add-availability-list">
          <div>
            <div class="availability-list-header">
              <div class="grid-item-name">DATE</div>
              <div class="grid-item1">TIME SLOT</div>
              <div class="grid-item1">ACTIONS</div>
            </div>

            <div *ngFor="let availability of availabilityList; index as i" class="availability-list-data">
              <div class="grid-item2">{{ availability.date | date:'dd/MM/yyyy' }}</div>
              <div class="grid-item2 slots d-flex">
                <div *ngFor="let slot of availability.timeSlots">
                  <div class="available" *ngIf="slot.status == 'available'">
                    {{ slot.timeSlot }}
                  </div>
                  <div class="booked" *ngIf="slot.status == 'booked'">
                    {{ slot.timeSlot }}
                  </div>
                </div>
              </div>
              <div class="grid-item2">
                <button mat-icon-button [matMenuTriggerFor]="availabilityMenu">
                  <mat-icon class="action-icon">more_vert</mat-icon>
                </button>
              </div>
              <mat-menu #availabilityMenu="matMenu">
                <div mat-menu-item (click)="editAvailability(availability)">
                  <mat-icon>edit</mat-icon>
                  <span class="mat-menu-list">Edit</span>
                </div>

                <div mat-menu-item (click)="this.deleteSlotIndex = i; handleDeleteAvailability(availability);">
                  <mat-icon>delete</mat-icon>
                  <span class="mat-menu-list">Delete</span>
                </div>
              </mat-menu>
            </div>
          </div>
          <!-- add availability list ends -->
        </div>
      </div>
    </div>

  </ng-scrollbar>
  <button id="deleteEventButton" data-bs-target="#deleteEvent" data-bs-toggle="modal" style="display: none;"
    class="delete-event">Delete
    Event</button>
  <button id="deleteAvailabilityButton" data-bs-target="#deleteAvailability" data-bs-toggle="modal"
    style="display: none;">Delete
    Event</button>
  <button id="editEventButton" data-bs-toggle="modal" data-bs-target="#editEventModal" style="display: none;"
    class="delete-event">Edit
    Event</button>

</div>

<!-- Add Event Modal -->
<div class="modal modal-sm fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventLabel" aria-hidden="true"
  data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" style="width: 320px;">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addEventLabel">Important Event</h1>
        <button id="closeEventModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          data-bs-keyboard="false"></button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <form class="calendar-form" [formGroup]="eventForm" appPreventKeyboardEvents>
          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label text-start">Select Case</mat-label>
            <mat-form-field appearance="outline" required>
              <mat-select placeholder="Select case" formControlName="caseId">
                <mat-option *ngFor="let case of caseList" [value]="case._id">
                  {{ case.caseName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label text-start">Event Name</mat-label>
            <mat-form-field appearance="outline">
              <input matInput type="text" placeholder="Enter Event Name" formControlName="eventName" required />
            </mat-form-field>
          </div>

          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label text-start">Event Description</mat-label>
            <mat-form-field appearance="outline" class="textArea">
              <textarea id="text-area" type="text" matInput placeholder="Enter Event Description" required rows="3"
                maxlength="200" formControlName="eventDescription" required></textarea>
            </mat-form-field>
          </div>

          <div class="text-start">
            <mat-checkbox [color]="'primary'" formControlName="allDayCheck" (change)="allDayEventChange()"><span
                style="color: black;">All
                Day</span></mat-checkbox>
          </div>

          <div class="d-flex" style="margin: 10px 0 10px 0">
            <div class="col-lg-5 col-md-5 text-start d-flex align-items-center">
              <mat-label class="mat-label">Select Color</mat-label>
            </div>
            <div class="color-picker">
              <label *ngFor="let color of colors">
                <input type="radio" name="colors" [value]="color.value" formControlName="colors" />
                <span class="color-swatch" [ngStyle]="{'background-color': color.color}"></span>
              </label>
            </div>
          </div>

          <div class="d-flex" style="position: relative">
            <div class="col-lg-5 col-md-5 text-start">
              <mat-label class="mat-label" style="position: absolute; top: 8px">Start Date</mat-label>
            </div>
            <div class="col-lg-7 col-md-7">
              <mat-form-field appearance="outline" class="mat-input-white">
                <input matInput [matDatepicker]="picker" [min]="minDate" formControlName="eventStartDate"
                  [readonly]="true" required />
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex" style="position: relative">
            <div class="col-lg-5 col-md-5 text-start">
              <mat-label class="mat-label" style="position: absolute; top: 8px">End Date</mat-label>
            </div>
            <div class="col-lg-7 col-md-7">
              <mat-form-field appearance="outline" class="mat-input-white">
                <input matInput [matDatepicker]="picker2" [min]="minDate" formControlName="eventEndDate"
                  [readonly]="true" required />
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex" style="position: relative">
            <div class="col-lg-5 col-md-5 text-start">
              <mat-label class="mat-label" style="position: absolute; top: 8px">Start Time</mat-label>
            </div>
            <div class="col-lg-7 col-md-7 d-flex">
              <mat-form-field appearance="outline" class="mat-input-white">
                <input matInput name="selected_time_A" formControlName="eventStartTime" [ngxMatTimepicker]="pickerA"
                  placeholder="Start time" [disableClick]="timepickerEnabled" [disabled]="timepickerEnabled"
                  [readonly]="true" />
                <div matSuffix *ngIf="!timepickerEnabled">
                  <img width="20" height="20" src="../../assets/images/icons/clock.svg" (click)="pickerA.open()">
                </div>
                <ngx-mat-timepicker #pickerA dottedMinutesInGap [enableKeyboardInput]="false"
                  (timeSet)="onTimeSet($event)"></ngx-mat-timepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex" style="position: relative">
            <div class="col-lg-5 col-md-5 text-start">
              <mat-label class="mat-label" style="position: absolute; top: 8px">End Time</mat-label>
            </div>
            <div class="col-lg-7 col-md-7  d-flex">
              <mat-form-field appearance="outline" class="mat-input-white">
                <input matInput name="selected_time_A" formControlName="eventEndTime" [ngxMatTimepicker]="pickerB"
                  placeholder="End Time" [disableClick]="timepickerEnabled" [disabled]="timepickerEnabled"
                  [readonly]="true" />
                <div matSuffix *ngIf="!timepickerEnabled">
                  <img width="20" height="20" src="../../assets/images/icons/clock.svg" (click)="pickerB.open()">
                </div>
                <ngx-mat-timepicker #pickerB dottedMinutesInGap [enableKeyboardInput]="false"
                  (timeSet)="onTimeSet($event)"></ngx-mat-timepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex" style="position: relative">
            <div class="col-lg-5 col-md-5 text-start">
              <mat-label class="mat-label" style="position: absolute; top: 8px">Repeat</mat-label>
            </div>
            <div class="col-lg-7 col-md-7">
              <mat-form-field appearance="outline" class="mat-input-white w-100">
                <mat-select placeholder="Select Event" formControlName="repeat" required>
                  <mat-option *ngFor="let repeat of repeatList" [value]="repeat.value">
                    {{ repeat.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex" style="position: relative">
            <div class="col-lg-5 col-md-5 text-start">
              <mat-label class="mat-label" style="position: absolute; top: 8px">Reminder</mat-label>
            </div>
            <div class="col-lg-7 col-md-7">
              <mat-form-field appearance="outline" class="mat-input-white w-100">
                <mat-select placeholder="Select Event" formControlName="reminder" required>
                  <mat-option *ngFor="let reminder of reminderList" [value]="reminder.value">
                    {{ reminder.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <button mat-raised-button color="primary" class="me-2" style="width: fit-content !important;"
            (click)="addEvents()">
            Add
          </button>

          <button mat-stroked-button color="primary" style="width: fit-content !important;" data-bs-dismiss="modal">
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Event Modal -->
<div class="modal modal-sm fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventLabel" aria-hidden="true"
  data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" style="width: 320px;">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addEventLabel">Edit Event</h1>
        <button id="closeEditEventModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          data-bs-keyboard="false"></button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <form class="calendar-form" [formGroup]="editEventForm" appPreventKeyboardEvents>
          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label text-start">Select Case</mat-label>
            <mat-form-field appearance="outline" required>
              <mat-select placeholder="Select case" formControlName="caseId">
                <mat-option *ngFor="let case of caseList" [value]="case._id">
                  {{ case.caseName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label text-start">Event Name</mat-label>
            <mat-form-field appearance="outline">
              <input matInput type="text" placeholder="Enter Event Name" formControlName="eventName" required />
            </mat-form-field>
          </div>

          <div class="d-flex mat-input-white" style="flex-direction: column">
            <mat-label class="mat-label text-start">Event Description</mat-label>
            <mat-form-field appearance="outline" class="textArea">
              <textarea id="text-area" type="text" matInput placeholder="Enter Event Description" required rows="3"
                maxlength="200" formControlName="eventDescription" required></textarea>
            </mat-form-field>
          </div>

          <div class="text-start">
            <mat-checkbox [color]="'primary'" formControlName="allDayCheck" (change)="allDayEventEditChange()"><span
                style="color: black;">All
                Day</span></mat-checkbox>
          </div>

          <div class="d-flex" style="margin: 10px 0 10px 0">
            <div class="col-lg-5 col-md-5 text-start d-flex align-items-center">
              <mat-label class="mat-label">Select Color</mat-label>
            </div>
            <div class="color-picker">
              <label *ngFor="let color of colors">
                <input type="radio" name="colors" [value]="color.value" formControlName="colors" />
                <span class="color-swatch" [ngStyle]="{'background-color': color.color}"></span>
              </label>
            </div>
          </div>

          <div class="d-flex" style="position: relative">
            <div class="col-lg-5 col-md-5 text-start">
              <mat-label class="mat-label" style="position: absolute; top: 8px">Start Date</mat-label>
            </div>
            <div class="col-lg-7 col-md-7">
              <mat-form-field appearance="outline" class="mat-input-white">
                <input matInput [matDatepicker]="picker3" [min]="minDate" formControlName="eventStartDate"
                  [readonly]="true" required />
                <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex" style="position: relative">
            <div class="col-lg-5 col-md-5 text-start">
              <mat-label class="mat-label" style="position: absolute; top: 8px">End Date</mat-label>
            </div>
            <div class="col-lg-7 col-md-7">
              <mat-form-field appearance="outline" class="mat-input-white">
                <input matInput [matDatepicker]="picker4" [min]="minDate" formControlName="eventEndDate"
                  [readonly]="true" required />
                <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex" style="position: relative">
            <div class="col-lg-5 col-md-5 text-start">
              <mat-label class="mat-label" style="position: absolute; top: 8px">Start Time</mat-label>
            </div>
            <div class="col-lg-7 col-md-7 d-flex">
              <mat-form-field appearance="outline" class="mat-input-white">
                <input matInput name="selected_time_A" formControlName="eventStartTime" [ngxMatTimepicker]="picker5"
                  placeholder="Start time" [disableClick]="timepickerEnabled" [disabled]="timepickerEnabled"
                  [readonly]="true" />
                <div matSuffix *ngIf="!timepickerEnabled">
                  <img width=" 20" height="20" src="../../assets/images/icons/clock.svg" (click)="pickerA.open()">
                </div>
                <ngx-mat-timepicker #picker5 dottedMinutesInGap [enableKeyboardInput]="false"
                  (timeSet)="onTimeSet($event)"></ngx-mat-timepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex" style="position: relative">
            <div class="col-lg-5 col-md-5 text-start">
              <mat-label class="mat-label" style="position: absolute; top: 8px">End Time</mat-label>
            </div>
            <div class="col-lg-7 col-md-7  d-flex">
              <mat-form-field appearance="outline" class="mat-input-white">
                <input matInput name="selected_time_A" formControlName="eventEndTime" [ngxMatTimepicker]="picker6"
                  placeholder="End Time" [disableClick]="timepickerEnabled" [disabled]="timepickerEnabled"
                  [readonly]="true" />
                <div matSuffix *ngIf="!timepickerEnabled">
                  <img width="20" height="20" src="../../assets/images/icons/clock.svg" (click)="pickerB.open()">
                </div>
                <ngx-mat-timepicker #picker6 dottedMinutesInGap [enableKeyboardInput]="false"
                  (timeSet)="onTimeSet($event)"></ngx-mat-timepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex" style="position: relative">
            <div class="col-lg-5 col-md-5 text-start">
              <mat-label class="mat-label" style="position: absolute; top: 8px">Repeat</mat-label>
            </div>
            <div class="col-lg-7 col-md-7">
              <mat-form-field appearance="outline" class="mat-input-white w-100">
                <mat-select placeholder="Select Event" formControlName="repeat" required>
                  <mat-option *ngFor="let repeat of repeatList" [value]="repeat.value">
                    {{ repeat.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex" style="position: relative">
            <div class="col-lg-5 col-md-5 text-start">
              <mat-label class="mat-label" style="position: absolute; top: 8px">Reminder</mat-label>
            </div>
            <div class="col-lg-7 col-md-7">
              <mat-form-field appearance="outline" class="mat-input-white w-100">
                <mat-select placeholder="Select Event" formControlName="reminder" required>
                  <mat-option *ngFor="let reminder of reminderList" [value]="reminder.value">
                    {{ reminder.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <button mat-raised-button color="primary" class="me-2" style="width: fit-content !important;"
            (click)="updateEvent()">
            Update
          </button>

          <button mat-stroked-button color="primary" style="width: fit-content !important;" data-bs-dismiss="modal">
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Delete Event popup start -->
<div class=" modal fade" id="deleteEvent" tabindex="-1" aria-labelledby="deleteEvent" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered delete-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteEvent">Delete Event</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mt-3">Are you sure you want to permanently delete this event? It will not retrieve at any
          cost.
        </div>
        <div class="text-center mt-3 mb-3">
          <button mat-raised-button color="primary" style="width: fit-content !important" data-bs-dismiss="modal"
            (click)="deleteEvent()">
            Confirm
          </button>
          <button mat-stroked-button color="primary" style="width: fit-content !important; margin-left: 20px"
            data-bs-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Delete Event popup ends -->

<!-- Add Avalability Modal -->
<div class="modal modal-sm fade" id="addSlotModal" tabindex="-1" aria-labelledby="addSlotLabel" aria-hidden="true"
  data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addSlotLabel">{{isEditMode?'Edit':'Add'}} Availability Slot</h1>
        <button id="closeAvailabilityButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          data-bs-keyboard="false"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="availabilityForm" appPreventKeyboardEvents>
          <div class="d-flex" style="flex-direction: column;">
            <mat-label class="mat-label text-start">Date</mat-label>
            <mat-form-field appearance="outline">
              <input matInput [matDatepicker]="date" [min]="minDate" formControlName="date" [readonly]="true"
                required />
              <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
              <mat-datepicker #date></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="d-flex" style="flex-direction: column;">
            <mat-label class="mat-label text-start">Time Slot</mat-label>
            <mat-form-field appearance="outline">
              <mat-select multiple formControlName="timeSlots" required>
                <mat-option *ngFor="let slot of slots" [value]="slot.value">{{slot.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>

        <button mat-raised-button color="primary" *ngIf="!isEditMode"
          style="width: fit-content !important; margin-left: 20px" (click)="addAvaliability()">
          Save
        </button>
        <button mat-raised-button color="primary" *ngIf="isEditMode"
          style="width: fit-content !important; margin-left: 20px" (click)="updateAvailability()">
          Update
        </button>

        <button id="cancelSlotButton" mat-stroked-button color="primary"
          style="width: fit-content !important; margin-left: 20px" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!--Delete Availability popup start -->
<div class="modal fade" id="deleteAvailability" tabindex="-1" aria-labelledby="deleteAvailability" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered delete-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Delete Availability</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mt-3">Are you sure you want to permanently delete this slot? It will not retrieve at any
          cost.
        </div>
        <div class="text-center mt-3 mb-3">
          <button mat-raised-button color="primary" style="width: fit-content !important" data-bs-dismiss="modal"
            (click)="deleteAvailability()">
            Confirm
          </button>
          <button mat-stroked-button color="primary" style="width: fit-content !important; margin-left: 20px"
            data-bs-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Delete Event popup ends -->