<!-- header section start -->
<app-header [menuName]="'Member'"></app-header>

<!-- root section start -->
<div class="root">
  <!-- member directory section start -->
  <div class="member-directory" *ngIf="memberList.length == 0">
    <div class="member-directory-repo">Member Directory</div>
    <div class="member-directory-heading">
      Connect with our Diverse Community of Member
    </div>
    <div class="member-directory-img">
      <img src="../../../assets/images/icons/member_directory.svg" alt="" />
    </div>
    <div>
      <button type="button" class="btn btn-primary" data-bs-target="#addMemberModalToggle" data-bs-toggle="modal"
        (click)="resetMemberPopup()">
        <img src="../../../assets/images/icons/create-case-diary.svg" alt="" class="me-2" />Add Member
      </button>
    </div>
  </div>
  <!-- member directory section ends-->

  <!-- add member list start -->
  <div class="add-member-btn mb-2" *ngIf="memberList.length >0">
    <button mat-stroked-button color="primary" style="border-radius: 12px" data-bs-target="#addMemberModalToggle"
      data-bs-toggle="modal" (click)="resetMemberPopup()">
      <img class="me-2" src="../../../assets/images/icons/add_member_plus.svg" /><span style="color: #2e5bff"></span>Add
      Member
    </button>
  </div>

  <div class="add-member-list" *ngIf="memberList.length >0">
    <div style="height: calc(100vh - 280px);">

      <div class="member-list-header">
        <div class="grid-item-name">NAME</div>
        <div class="grid-item1">CONTACT NO. DETAILS</div>
        <div class="grid-item1">EMAIL DETAILS</div>
        <div class="grid-item1">PRACTISING FIELD</div>
        <div class="grid-item1">CITY</div>
        <div class="grid-item1">ACTIONS</div>
      </div>
      <ng-scrollbar autoHeightDisabled="false" appearance="standard">
        @for (member of memberList;track member) {
        <div class="member-list-data">
          <div class="grid-item2">
            <span><img src="../../assets/images/image/add_member.png" class="member-img me-2" /></span>{{
            member.memberName }}
          </div>
          <div class="grid-item2">
            <span><img
                [src]="member['iscontactDisplay']?'../../assets/images/icons/call_member.svg':'../../assets/images/icons/lock_member.svg'"
                class="icon me-2" /></span>{{
            member.iscontactDisplay?
            member.memberContactNumber:"Contact Locked" }}
          </div>
          <div class="grid-item2">
            <span><img
                [src]="member['isEmailDisplay']?'../../assets/images/icons/mail_member.svg':'../../assets/images/icons/lock_member.svg'"
                class="icon me-2" /></span>{{
            member.isEmailDisplay?member.email:"Email Locked" }}
          </div>
          <div class="grid-item2">{{ member.practicingField.toSpliced(2) }}</div>
          <div class="grid-item2">{{ member.branch }}</div>
          <div class="grid-item2">
            <button mat-icon-button data-bs-toggle="modal" data-bs-target="#deleteMemberModal"
              (click)="selectedMember=member">
              <mat-icon style="color: #2e5bff">delete</mat-icon>
            </button>
          </div>
        </div>
        }
      </ng-scrollbar>
    </div>
    <!-- add member list ends -->
  </div>
  <!-- root section ends -->

  <!-- member initial popup start -->
  <div>
    <button id="modalButton1" data-bs-toggle="modal" data-bs-target="#profileUpgradationModal"
      style="display: none"></button>
    <div class="modal fade" id="profileUpgradationModal" tabindex="-1" aria-labelledby="profileUpgradModalLabel"
      aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-sm modal-dialog-centered profileUpgrade">
        <div class="modal-content">
          <div class="modal-body">
            <h1 class="text-center">Profile Upgradation</h1>
            <div>
              Unlock a world of upportunities to superchange your service and
              stay ahead in the legal
            </div>
            <div class="text-center mb-4">
              <button mat-raised-button color="primary" style="width: fit-content !important; background-color: #2e5bff"
                data-bs-dismiss="modal">
                Go premium
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- member initial popup ends -->

  <!-- delete popup start -->
  <div class="modal fade" id="deleteMemberModal" tabindex="-1" aria-labelledby="deleteMemberModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered delete-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteMemberModalLabel">Delete Member</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mt-3">Are you sure you want to delete member?</div>
          <div class="text-center mt-3 mb-3">
            <button mat-raised-button color="primary" style="width: fit-content !important"
              (click)="deleteMember(selectedMember)" data-bs-dismiss="modal">
              Confirm
            </button>
            <button mat-stroked-button color="primary" style="width: fit-content !important; margin-left: 20px"
              data-bs-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- delete popup ends -->

  <!-- add-member-popup start -->
  <div class="modal fade" id="addMemberModalToggle" aria-hidden="true" aria-labelledby="addMemberModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable add-member-popup">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addMemberModalToggleLabel">
            Add Member
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="add-member-body">
            <div class="d-flex">
              <mat-form-field class="search-input" appearance="outline">
                <input #searchInput matInput placeholder="Search Member" (keyup)="filterLawyers($event)" />
                <span matSuffix><img src="../../../assets/images/icons/search-blue.svg"
                    style="margin-right: 15px" /></span>
              </mat-form-field>
              <div class="d-flex">
                <img src="../../../assets/images/icons/funnel_members.svg" alt="noImage" style="margin-left: 15px"
                  class="align-items-center" data-bs-target="#addMemberModalToggle2" data-bs-toggle="modal"
                  class="funnel-image" />
              </div>
            </div>

            <ng-scrollbar style="height: 400px">
              <div class="add-member-details" *ngFor="let lawyer of filteredLawyerList">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="../../assets/images/image/add_member.png" alt="noImage" class="member-img" />
                  </div>

                  <div class="member-detail ms-2">
                    <div class="member-name">{{ getShortInfo(lawyer.lawyerName) }}</div>
                    <div class="d-flex">
                      <img src="../../assets/images/icons/lawyer_type.svg" alt="" class="me-1 lawyer-type" />
                      <div class="member-lawyer-type">
                        {{ getShortInfo(lawyer.practicingField[0]) + '...' }}
                      </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-left">
                      <img src="../../assets/images/icons/member_experience.svg" width="16" height="23.8" alt=""
                        class="me-1" />
                      <div class="member-experience">
                        {{ lawyer.yearOfExperience }} Yrs
                      </div>
                    </div>
                  </div>
                </div>

                <div class="member-rating-btn">
                  <div class="star">
                    <img src="../../assets/images/icons/yellow_star.svg" alt="" class="me-1" />({{lawyer.rating}})
                  </div>
                  <div>
                    <button mat-stroked-button color="primary" (click)="addMember(lawyer)" data-bs-dismiss="modal">
                      Add Member
                    </button>
                  </div>
                </div>
              </div>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- filter popup  start-->
  <div>
    <div class="modal fade filterPopup" id="addMemberModalToggle2" aria-hidden="true"
      aria-labelledby="addMemberModalToggleLabel2" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered add-member-popup">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addMemberModalToggleLabel2">
              Filter
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="d-flex mat-input-white" style="flex-direction: column">
              <mat-label class="mat-label">Select Place</mat-label>
              <mat-form-field appearance="outline" class="mt-1">
                <mat-select placeholder="Select place" required [(ngModel)]="place">
                  <mat-option *ngFor="let place of places" [value]="place.name">
                    {{ place.name }}
                  </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="createCaseDiaryForm.controls['stage'].errors?.['required']"> Case Stage is
                     Required !!</mat-error> -->
              </mat-form-field>

              <mat-label class="mat-label">Select Practising Field</mat-label>
              <mat-form-field appearance="outline" class="mt-1">
                <mat-select placeholder="Select place" required [(ngModel)]="practisingField">
                  <mat-option *ngFor="let field of practiseField" [value]="field.value">
                    {{ field.value }}
                  </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="createCaseDiaryForm.controls['stage'].errors?.['required']"> Case Stage is
                     Required !!</mat-error> -->
              </mat-form-field>

              <mat-label class="mat-label">Show Results</mat-label>
              <mat-radio-group aria-label="Select an option" [ngModel]="popularity">
                <div class="row mb-3">
                  <div class="col-lg-6" style="padding-left: unset">
                    <mat-radio-button value="popular" checked>Popular Lawyers</mat-radio-button>
                  </div>

                  <div class="col-lg-6">
                    <mat-radio-button value="all">All lawyers</mat-radio-button>
                    <!-- <mat-radio-button value="bestReview">Best Review</mat-radio-button> 
                    <mat-radio-button value="mostReviewFirst">Most Review First</mat-radio-button> -->
                  </div>
                </div>
              </mat-radio-group>

              <mat-label class="mat-label">Work Experience</mat-label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="experience">
                <div class="row mb-3">
                  <div class="col-lg-6" style="padding-left: unset">
                    <mat-radio-button value="any experience" checked>Any Experience</mat-radio-button>
                    <mat-radio-button value="5 to 10">5-10 Years</mat-radio-button>
                  </div>

                  <div class="col-lg-6">
                    <mat-radio-button value="2 to 5">2-5 Years</mat-radio-button>
                    <mat-radio-button value="10+">10+ Experience</mat-radio-button>
                  </div>
                </div>
              </mat-radio-group>

              <!-- <mat-label class="mat-label">Gender</mat-label>
              <mat-radio-group aria-label="Select an option">
                <div class="row mb-3">
                  <div class="col-lg-6" style="padding-left: unset">
                    <mat-radio-button value="male" checked>Male</mat-radio-button>
                  </div>

                  <div class="col-lg-6">
                    <mat-radio-button value="female">Female</mat-radio-button>
                  </div>
                </div>
              </mat-radio-group> -->

              <div class="mt-3 mb-3 filter-btn">
                <button mat-raised-button color="primary" style="width: fit-content !important"
                  (click)="getFilteredLawyerList()">
                  Show Results
                </button>
                <button id="modalButton" class="d-none" data-bs-target="#addMemberModalToggle" data-bs-toggle="modal">
                </button>
                <button mat-stroked-button color="primary" style="width: fit-content !important; margin-left: 20px"
                  data-bs-dismiss="modal">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- add-member-popup ends -->
</div>