.root {
  margin: 30px;

  //  member directory styling start
  .member-directory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 105px;

    .member-directory-repo {
      flex-grow: 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }

    .member-directory-heading {
      flex-grow: 0;
      margin: 17px 0 26.3px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }

    button {
      flex-grow: 0;
      font-family: Poppins;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 36.2px 118px 0;
      padding: 12px 24px;
      border-radius: 12px;
      background-color: #2e5bff;
      font-size: 14px;
    }
  }

  // member directory styling ends

  // add member list styling start
  .add-member-list {
    .add-member-btn {
      display: flex;
      justify-content: flex-end;

      button {
        width: unset !important;
        background-color: #053bff0d;
        border-color: #7d818e0d !important;
        font-size: 14px;
        font-family: Poppins;
      }
    }

    .member-list-header {
      display: grid;
      grid-template-columns: 250px 200px 250px 200px 120px 40px;
      margin-bottom: 5px;
      align-items: center;
      padding: 0px 15px 0px 15px;
      color: #8798ad !important;
      font-size: 12px;
      margin-top: 30px;
      width: max-content;
      gap: 10px;
    }

    .member-list-data {
      display: grid;
      grid-template-columns: 250px 200px 250px 200px 120px 40px;
      height: 80px;
      border: 1px solid #f5f5f5;
      border-radius: 12px;
      margin-bottom: 12px;
      align-items: center;
      padding: 0px 15px;
      font-size: 14px;
      width: max-content;
      gap: 10px;

      .grid-item2 {
        img {
          width: 36px;
          height: 36px;
          border-radius: 50%;
        }

        .icon {
          width: 16px;
          height: 16px;
        }

        mat-menu {
          mat-menu-item {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

// add member list styling ends

//  member initial popup styling start
.profileUpgrade {
  text-align: center;
  width: 350px !important;
  height: 350px !important;

  .modal-body {
    h1 {
      margin: 25px 0px !important;
      font-weight: 500 !important;
    }

    text-align: center;

    button {
      margin-top: 20px;
    }
  }
}

//  member initial popup styling ends

//  add-member-popup styling start
.add-member-popup {
  width: 420px !important;

  .add-member-body {
    display: flex;
    flex-direction: column;

    .search-input {
      width: 357px !important;
      cursor: pointer;
    }

    .funnel-image {
      padding-bottom: 12px;
      cursor: pointer;
    }
  }

  .add-member-details {
    width: 338px !important;
    display: flex;
    justify-content: space-between;
    border: 1px solid #f5f5f5;
    border-radius: 12px;
    padding: 10px;
    margin-top: 10px;

    .member-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

    .member-detail {
      display: flex;
      flex-direction: column;
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 28px;
      letter-spacing: normal;
      text-align: left;
      color: #8798ad;
      white-space: nowrap;

      .member-name {
        font-weight: 600 !important;
        color: #282828;
      }

      .member-experience {
        font-size: 12px;
      }
    }

    .member-rating-btn {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .star {
        text-align: right;
        font-size: 12px;
      }

      button {
        width: 80px !important;
        height: 30px;
        font-size: 10px;
        color: #2e5bff;
        white-space: nowrap;
        border-color: #7d818e0d !important;
        background-color: #053bff0d;
      }
    }
  }

  //  add-member-popup styling start

  // filter popup styling start
  .modal-body {
    padding: 24px;

    .mat-label {
      text-align: left;
      font-size: 14px;
      font-family: Poppins;
      font-weight: 500 !important;
      color: #000000;
    }

    .mat-mdc-radio-group {
      text-align: left !important;
    }

    .mdc-label {
      font-size: 14px;
    }
  }

  // filter popup styling ends
}
