.root {
  margin: 30px;

  //  member directory styling start
  .member-directory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 105px;

    .member-directory-repo {
      flex-grow: 0;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }

    .member-directory-heading {
      flex-grow: 0;
      margin: 17px 0 26.3px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }

    button {
      //   width: 165px;
      height: 45px;
      flex-grow: 0;
      font-family: Poppins;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 36.2px 118px 0;
      padding: 12px 24px;
      border-radius: 12px;
      background-color: #2E5BFF;
      font-size: 14px;
    }
  }
  // member directory styling ends

  // add member list styling start
  .add-member-list {
    .add-member-btn {
      display: flex;
      justify-content: flex-end;
      button {
        width: unset !important;
        background-color: #053bff0d;
        border-color: #7d818e0d !important;
        font-size: 14px;
        font-family: Poppins;
      }
    }

    table {
      width: 100%;
      margin-top: 20px;

      th {
        font-family: poppins;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #8798ad;
      }
      .mat-icon {
        width: 20px !important;
        height: 20px !important;
        margin: 5px 0 0 0;
      }

      tbody {
        margin-top: 10px;

        tr {
          height: 60px;

          td {
            cursor: pointer;
            font-family: poppins;
            font-size: 14px;
            font-weight: 500;
            text-align: left;

            img {
              width: 36px;
              height: 36px;
              border-radius: 50%;
            }

            .icon {
              width: 16px;
              height: 16px;
            }

            mat-menu {
              mat-menu-item {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }

          .mat-mdc-menu-panel {
            .mat-mdc-menu-content {
              .mat-mdc-menu-item {
                .mat-mdc-menu-item-text {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
  }

  // add member list styling ends
}

//  add-member-popup styling start
.modal-dialog {
  text-align: center;

  .modal-body {
    h1 {
      margin-top: 20px !important;
      font-weight: 500 !important;
    }
    text-align: center;
    margin-bottom: 30px;
  }
}
//  add-member-popup styling ends





.add-member-popup {
  width: 420px !important;
 
  .search-input{
    width: 357px !important;
  }

  .add-member-details {
    width: 357px !important;
    display: flex;
    justify-content: space-between;
    border:1px solid #f5f5f5;
    border-radius: 12px;
    padding: 5px;
    margin-top: 10px;
   

    .member-detail {
      display: flex;
      flex-direction: column;
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.7em;
      letter-spacing: normal;
      text-align: left;
      color:#8798AD;
      white-space: nowrap;

      .member-name {
        font-weight: 600 !important;
        color: #282828;
      }
     
    }

    .member-rating {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      

      button{
        width: 80px !important;
        height: 30px;
        font-size: 10px;
        color: #2e5bff;
        white-space: nowrap;
        border-color: #7d818e0d !important;
        background-color: #053bff0d;

      }
    }
  }  


  // filter popup styling start
  .modal-body{

    .mat-label{
      text-align: left;
      font-size: 14px;
      font-family: Poppins;
      font-weight: 600 !important;
      color: #000000;
    }

    .form-check{
      .form-check-label{
       color:#8798AD;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      
      }

      .form-check-input[type=checkbox] {
        border-radius: 1.25em 
      }

    }
  }
   // filter popup styling ends
}
