.root {
    margin: 30px;

    .availability-list-data {
        display: grid;
        // grid-template-columns: 250px 200px 250px 200px 120px 40px;
        grid-template-columns: 20% 70% 10%;
        height: 80px;
        border: 1px solid #f5f5f5;
        border-radius: 12px;
        margin-bottom: 12px;
        align-items: center;
        padding: 0px 15px;
        font-size: 14px;
        width: 100%;

        .grid-item2 {
            font-size: 12px;

            img {
                width: 36px;
                height: 36px;
                border-radius: 50%;
            }

            .icon {
                width: 16px;
                height: 16px;
            }

            mat-menu {
                mat-menu-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .available {
                background-color: #2580170d;
                border-radius: 40px;

                button {
                    color: #258017;
                    width: 100%;
                    padding: 8px 16px;
                    border-radius: 40px;
                    font-size: 10px;
                }
            }

            .booked {
                background-color: #ff2e2e0d;
                border-radius: 40px;

                button {
                    color: #ff2e2e;
                    padding: 8px 16px;
                    width: 100%;
                    border-radius: 40px;
                    font-size: 10px;
                }
            }
        }

        .slots {
            gap: 10px;
        }
    }
}