<app-header [menuName]="'Schedule Meeting'"></app-header>
<div class="root">
    <div class="availability-list">
        <div class="availability-list-header">
            <div class="grid-item">DATE</div>
            <div class="grid-item">AVAILABLE TIME SLOTS</div>
        </div>
        <div *ngFor="let availability of availabilityList ;index as i" class="availability-list-data">
            <div class="grid-item2">{{ availability.date | date:'dd/MM/yyyy' }}</div>
            <div class="grid-item2 slots d-flex">
                <div *ngFor="let slot of availability.timeSlot">
                    <div class="available" *ngIf="slot.status == 'available'">
                        <button mat-button>{{ slot.slot }}</button>
                    </div>
                    <div class="booked" *ngIf="slot.status == 'booked'">
                        <button mat-button disabled>{{ slot.slot }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button mat-raised-button color="primary" style="width: fit-content !important; margin-top: 30px;"
        data-bs-toggle="modal" data-bs-target="#scheduleMeetingQrModal">Schedule Meeting</button>
</div>

<!-- schedule meeting qr modal start -->
<div class="modal fade" id="scheduleMeetingQrModal" tabindex="-1" aria-labelledby="scheduleMeetingQrModalLabel"
    aria-hidden="true" style="width: 100%;">
    <div class="modal-dialog modal-md modal-dialog-centered schedule-meeting-qr-Modal">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="scheduleMeetingQrModalLabel">Payment</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mt-4 mb-4" style="color: #8798AD;">
                    Schedule a meeting with the lawyer upon successful payment.
                    For this you will be charged following Payment options.
                </p>


                <mat-radio-group aria-label="User Type" class="mb-2">
                    <div class="d-flex justify-content-center" style="gap: 10px;">
                        <div class="payment"><mat-radio-button value="100" checked>100 Rs</mat-radio-button>
                            <div class="duration">15 Mins</div>
                        </div>

                        <div class="payment"><mat-radio-button value="200">200
                                Rs</mat-radio-button>
                            <div class="duration">30 Mins</div>
                        </div>

                        <div class="payment"><mat-radio-button value="500">500
                                Rs</mat-radio-button>
                            <div class="duration">60 Mins</div>
                        </div>
                    </div>
                </mat-radio-group>


                <div class="mt-4 mb-2 d-flex justify-content-center">
                    <p class="scan-btn" data-bs-toggle="modal" data-bs-target="#paymentSuccessfullModal">
                        Scan QR Code
                    </p>
                </div>
                <div class="mt-4 mb-4">
                    <img src="../../assets/images/image/QRtiger.png" width="236" alt="">
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Payment Successful popup start -->
<div class="modal fade" id="paymentSuccessfullModal" tabindex="-1" aria-labelledby="paymentSuccessfullModalLabel"
    aria-hidden="true" style="width: 100%;">
    <div class="modal-dialog modal-md modal-dialog-centered payment-successful">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="paymentSuccessfullModalLabel">Payment Successfull</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-3 mb-3">
                    <img src="../../assets/images/image/payment_successful.png" alt="">
                </div>
                <p class="mb-4">
                    Payment Successfull
                </p>
                <p class="m-4" style="color:#8798AD">
                    You have successfully scheduled a meeting with kapil sibal on 24 Jan 2024 at 7:00 PM.
                    <br><br>Check your conference room for join the meeting. All the details of the same has been shared on the mail.</p>
                
                <div class="mt-4 mb-4 px-4 py-3" style="border:1px solid #0000001A;border-radius: 12px;">
                    <div class="payment-detail">
                        Payment Details
                    </div>
                    <div class="transaction-detail">
                        <div class="d-flex mt-2">
                            <div class="col-lg-6 col-md-6 label">Client</div>
                            <div class="col-lg-6 col-md-6 detail">Kapil Sibbal</div>
                        </div>

                        <div class="d-flex mt-1">
                            <div class="col-lg-6 col-md-6 label">Transaction ID</div>
                            <div class="col-lg-6 col-md-6 detail">TTCNI022000800594</div>
                        </div>

                        <div class="d-flex mt-1">
                            <div class="col-lg-6 col-md-6 label">Payment Date</div>
                            <div class="col-lg-6 col-md-6 detail">Feb 15 2024, 4:35 PM</div>
                        </div>

                        <div class="d-flex mt-1">
                            <div class="col-lg-6 col-md-6 label">Payment Method</div>
                            <div class="col-lg-6 col-md-6 detail">Bank Account</div>
                        </div>

                        <div class="d-flex mt-1">
                            <div class="col-lg-6 col-md-6 label">Confirmation</div>
                            <div class="col-lg-6 col-md-6 detail">Successful</div>
                        </div>

                        <hr>

                        <div>
                            <button mat-raised-button color="primary" class="m-2" (click)="isNameVisible = true"
                                data-bs-dismiss="modal">Done</button><br />
                            <button mat-stroked-button color=" primary" class="m-2">
                                Download Receipt
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>