<!-- Header Part -->
<app-header [menuName]="'Profile'"></app-header>

<!-- lawyer/user-profile start -->
<div class="root">
  <!-- SideNav of  User Profile -->
  <div class="profile-container" *ngIf="userType == 'lawyer'">
    <div class="profile-sidenav col-lg-3 col-md-12">
      <li id="basic-nav" (click)="addStyling('basic-nav'); addShadow('basic-info')">
        <a>Basic Info</a>
      </li>
      <li id="organization-nav" (click)="addStyling('organization-nav'); addShadow('orgainization-info')">
        <a>Organization Info</a>
      </li>
      <li id="subscription-nav" (click)="addStyling('subscription-nav'); addShadow('subscription')">
        <a>Subscriptions Details</a>
      </li>
      <li id="password-nav" (click)="addStyling('password-nav'); addShadow('password&security')">
        <a>Password & Security</a>
      </li>
      <li class="logout" routerLink="/auth/login">
        <a>Logout</a>
      </li>
    </div>


    <!-- Main Content of  User Profile -->
    <div class="main-content col-lg-9 col-md-12">
      <!-- Basic-Info -->
      <div class="section-info" id="basic-info">
        <div class="section-info-head">
          <h4>Basic Info</h4>
          <button mat-stroked-button color="primary" data-bs-target="#lawyerEditProfileModal" data-bs-toggle="modal">
            <span style="color: #2e5bff">Edit</span>
          </button>
        </div>
        <div class="description">
          Core competency lies in law and politics, with extensive experience in
          constitutional matters, litigation, and strategic policymaking,
          contributing significantly to legal and political discourse.
        </div>
        <div class="user-details">
          <div class="row">
            <div class="col-lg-2 col-md-2">
              <img src="../../../../assets/images/image/anurag_goyal.jpg" class="user-profile" />
            </div>

            <div class="col-lg-10 col-md-10">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Name</div>
                  <div class="user-details-detail">Anurag Goyal</div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">father's Name</div>
                  <div class="user-details-detail">father's Name Here</div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Mobile number</div>
                  <div class="user-details-detail">213-456-7980</div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Email</div>
                  <div class="user-details-detail">Anuraggoyal117&#64;gmail.com</div>
                </div>

                <div class="col-lg-8 col-md-8">
                  <div class="user-details-heading">Address</div>
                  <div class="user-details-detail">Numeroeins Software Pvt Ltd, 516 Appollo Tower 452010, Indore, M.p
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Organization-Info -->
      <div class="section-info" id="orgainization-info">
        <div class="section-info-head">
          <h4>Organization Info</h4>
        </div>

        <div class="user-details">
          <div class="row">
            <div class="col-lg-2 col-md-2">
              <img src="../../../../assets/images/icons/organization.svg" class="user-profile" />
            </div>

            <div class="col-lg-10 col-md-10">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Organization Name</div>
                  <div class="user-details-detail">Anurag Law Firm</div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Branch Name/Address</div>
                  <div class="user-details-detail">Indore, Mp</div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Year of Practise</div>
                  <div class="user-details-detail">12</div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Name of State Bar</div>
                  <div class="user-details-detail">Name Here</div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Licence Number</div>
                  <div class="user-details-detail">213-456-7980</div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Name of Practicing Court</div>
                  <div class="user-details-detail">Name Here</div>
                </div>
              </div>

              <div class="d-flex">
                <div>
                  <div class="user-details-heading">Name of Practicing Area</div>
                  <div class="user-details-detail">Name Here</div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Subscription-Info -->
      <div class="section-info" id="subscription">
        <div class="section-info-head">
          <h4>Subscription</h4>
          <button mat-stroked-button color="primary" data-bs-target="#subscriptionModal" data-bs-toggle="modal">
            <span>Edit</span>
          </button>
        </div>
        <div class="description">
          To change your password, you'll need to verify the current one first.
          Then create a password you're not using elsewhere, and be sure to
          change it regularly as well as anytime you suspect it's been
          compromised.
        </div>
      </div>

      <!-- Password & Security -->
      <div class="section-info" id="password&security" style="margin-bottom: 20px">
        <div class="section-info-head">
          <h4>Password & Security</h4>
        </div>
        <div class="description">
          To change your password, you'll need to verify the current one first.
          Then create a password you're not using elsewhere, and be sure to
          change it regularly as well as anytime you suspect it's been
          compromised.
        </div>
        <div class="user-details">
          <div class="user-details-1a">
            <a routerLink="/auth/resetPassword">Change Password </a>
            <a data-bs-toggle="modal" data-bs-target="#accountDeleteModal">Delete Your Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- user/user-profile start -->
  <div class="user-profile-root" *ngIf="userType == 'user'">
    <div class="d-flex justify-content-between">
      <div class="display-profile"><img src="../../assets/images/image/anurag_goyal.jpg" alt="noImage" /></div>
      <div><button mat-stroked-button color="primary" data-bs-target="#userEditProfileModal" data-bs-toggle="modal">
          <span style="color: #2e5bff">Edit</span>
        </button></div>
    </div>

    <div class="basic-information">
      <h4>Basic Information</h4>
      <div class="d-flex">
        <div class="details-container">
          <div class="heading">Name</div>
          <div class="detail">Anurag Goyal</div>
        </div>

        <div class="details-container">
          <div class="heading">Location</div>
          <div class="detail">Indore, MP</div>
        </div>
      </div>

      <div class="d-flex">
        <div class="details-container">
          <div class="heading">Mobile</div>
          <div class="detail">213-456-7980</div>
        </div>

        <div class="details-container">
          <div class="heading">Email</div>
          <div class="detail">Anuraggoyal117&#64;gmail.com</div>
        </div>
      </div>
    </div>


    <div class="password-security">
      <h4>Password & Security</h4>
      <div class="description">
        To change your password, you'll need to verify the current one first.
        Then create a password you're not using elsewhere, and be sure to
        change it regularly as well as anytime you suspect it's been
        compromised.
      </div>
      <div class="user-details">
        <a routerLink="/auth/resetPassword">Change Password </a>
        <a data-bs-toggle="modal" data-bs-target="#userAccountDeleteModal">Delete Your Account</a>
      </div>
    </div>
  </div>

  <!-- judge/user-profile start -->
  <div style="height: calc(100vh - 130px);" *ngIf="userType == 'judge'">
    <ng-scrollbar autoHeightDisabled="false" appearance="standard">
      <div class="user-profile-root">
        <div class="d-flex justify-content-between">
          <div class="display-profile"><img src="../../assets/images/image/anurag_goyal.jpg" alt="noImage" /></div>
          <div><button mat-stroked-button color="primary" data-bs-target="#judgeEditProfileModal"
              data-bs-toggle="modal">
              <span style="color: #2e5bff">Edit</span>
            </button></div>
        </div>


        <div class="basic-information">
          <h4>Basic Information</h4>
          <div class="d-flex">
            <div class="details-container">
              <div class="heading">Name</div>
              <div class="detail">Anurag Goyal</div>
            </div>

            <div class="details-container">
              <div class="heading">Location</div>
              <div class="detail">Indore, MP</div>
            </div>
          </div>

          <div class="d-flex">
            <div class="details-container">
              <div class="heading">Mobile</div>
              <div class="detail">213-456-7980</div>
            </div>

            <div class="details-container">
              <div class="heading">Email</div>
              <div class="detail">Anuraggoyal117&#64;gmail.com</div>
            </div>
          </div>


          <div class="d-flex">
            <div class="details-container">
              <div class="heading">Registration No</div>
              <div class="detail">534534534</div>
            </div>

            <div class="details-container">
              <div class="heading">Address</div>
              <div class="detail">Vijay Nager, Indore</div>
            </div>
          </div>

          <div class="d-flex">
            <div class="details-container">
              <div class="heading">Current State</div>
              <div class="detail">Madhya Pradesh</div>
            </div>

            <div class="details-container">
              <div class="heading">Current District</div>
              <div class="detail">Indore</div>
            </div>
          </div>


          <div class="d-flex">
            <div class="details-container">
              <div class="heading">Court Type</div>
              <div class="detail">High Court</div>
            </div>

            <div class="details-container">
              <div class="heading">Court Name</div>
              <div class="detail">District & Session Court Indore</div>
            </div>
          </div>
        </div>


        <div class="password-security">
          <h4>Password & Security</h4>
          <div class="description">
            To change your password, you'll need to verify the current one first.
            Then create a password you're not using elsewhere, and be sure to
            change it regularly as well as anytime you suspect it's been
            compromised.
          </div>
          <div class="user-details">
            <a routerLink="/auth/resetPassword">Change Password </a>
            <a data-bs-toggle="modal" data-bs-target="#userAccountDeleteModal">Delete Your Account</a>
          </div>
        </div>
      </div>
    </ng-scrollbar>
  </div>
</div>


<!-- lawyer/user-profile- Edit Profile Popup Start -->
<div class="modal fade" id="lawyerEditProfileModal" aria-hidden="true" aria-labelledby="lawyerEditProfileModalLabel"
  tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered edit-profile-popup">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="lawyerEditProfileModalLabel">
          Edit Profile
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

        <div class="modal-body">
          <form [formGroup]="signupForm2">
            <div class="d-flex mat-input-white" style="flex-direction: column">
              <mat-label class="mat-label mt-2 mb-1">Core Competency</mat-label>
              <mat-form-field appearance="outline" class="textArea">
                <textarea id="text-area" type="text" matInput placeholder="Enter Your Core Competency"
                  formControlName="coreCompetency" required rows="3" maxlength="200"></textarea>
                <mat-error *ngIf="
                  signupForm2.controls['coreCompetency'].hasError('required')
                ">Core Competency is Required</mat-error>
                <!-- <mat-error *ngIf="!signupForm2.controls['coreCompetency'].hasError('required') &&
                                                  signupForm2.controls['coreCompetency'].hasError('minlength')">Minimum 150 Characters
                                                 Required</mat-error> -->

                <mat-error *ngIf="
                  !signupForm2.controls['coreCompetency'].hasError(
                    'required'
                  ) &&
                  signupForm2.controls['coreCompetency'].hasError('maxlength')
                ">Max Charaters Limit Reached</mat-error>
              </mat-form-field>

              <div class="row-field mt-3 mb-1">
                <div><mat-label class="mat-label mt-2">Mobile No</mat-label></div>
                <div>
                  <a class="resend-otp f-12" data-bs-toggle="modal" data-bs-target="#mobileOtpModal">Send OTP</a>
                </div>
              </div>

            <mat-form-field appearance="outline">
              <input matInput placeholder="Enter Mobile No" formControlName="phoneNumber" maxlength="10"
                (keypress)="isNumber($event)" required />
              <mat-error *ngIf="signupForm2.controls['phoneNumber'].hasError('required')">Mobile No. is
                Required</mat-error>
              <mat-error *ngIf="
                  !signupForm2.controls['phoneNumber'].hasError('required') &&
                  signupForm2.controls['phoneNumber'].invalid
                ">Mobile No. invalid</mat-error>
              </mat-form-field>

              <div class="row-field mt-3 mb-1">
                <div><mat-label class="mat-label mt-2">Email</mat-label></div>
                <div>
                  <a class="resend-otp f-12" data-bs-toggle="modal" data-bs-target="#emailOtpModal">Send OTP</a>
                </div>
              </div>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Enter Email" formControlName="email" required />
                <mat-error *ngIf="signupForm2.controls['email'].hasError('required')">Email is Required</mat-error>
                <mat-error *ngIf="
                  !signupForm2.controls['email'].hasError('required') &&
                  signupForm2.controls['email'].invalid
                ">Email is invalid</mat-error>
              </mat-form-field>
            </div>

            <div class="mt-3 mb-3 filter-btn">
              <button mat-raised-button color="primary" style="width: fit-content !important; padding: 12px 36px"
                data-bs-dismiss="modal">
                Save
              </button>
              <button mat-stroked-button color="primary" style="
                width: fit-content !important;
                margin-left: 20px;
                padding: 12px 36px;
              " data-bs-dismiss="modal">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--lawyer/user-profile- Edit Profile Popup ends -->

  <!--lawyer/user-profile Mobile Otp Verification Popup Start-->
  <div class="modal fade" id="mobileOtpModal" tabindex="-1" aria-labelledby="otpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mobile-verification-popup">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="otpModalLabel">Mobile Verification</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="head-text">Enter Verification Code</div>
          <div class="sub-text mt-2 mb-4">
            We sent a 6-digit code to<br /><span class="mobile mt-2">9896754227</span>
          </div>
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{ length: 6 }" class="mt-2"></ng-otp-input>
          <div class="d-flex align-items-center justify-content-center" style="flex-direction: column">
            <button mat-button color="primary" class="request-btn">
              Request a new Code
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--lawyer/user-profile Mobile Otp Verification Popup Ends -->

  <!--lawyer/user-profile Email Otp Verification Popup Start-->
  <div class="modal fade" id="emailOtpModal" tabindex="-1" aria-labelledby="otpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered email-verification-popup">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="otpModalLabel">Email Verification</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="head-text">Enter Verification Code</div>
          <div class="sub-text mt-2 mb-4">
            We sent a 6-digit code to<br /><span class="email mt-2">test&#64;gmail.com</span>
          </div>
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{ length: 6 }" class="mt-2"></ng-otp-input>
          <div class="d-flex align-items-center justify-content-center" style="flex-direction: column">
            <button mat-button color="primary" class="request-btn">
              Request a new Code
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--lawyer/user-profile Email Otp Verification Popup Ends -->

  <!--lawyer/user-profile Subscription Popup Start  -->
  <div class="modal fade" id="subscriptionModal" tabindex="-1" aria-labelledby="subscriptionModalLabel"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-centered subscription-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="accountDeleteModalLabel">Plans</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="silver-plan">
            <div class="active-plan">
              <img src="../../assets/images/icons/active_plan_label.svg" alt="" />
            </div>
            <div class="plan-name">SILVER PLAN</div>
            <div class="beginners">For Beginners</div>
            <div class="free">FREE</div>
            <div class="limit">Users : Unlimited</div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />Chat Room
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />1 Case Diary
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/not_available_subscription.svg" alt="noImage" />Blog
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/not_available_subscription.svg" alt="noImage" />Top Listing
            </div>

            <div class="cancel-button">
              <button mat-raised-button color="primary" style="width: fit-content !important" class="cancel-btn">
                Cancel Plan
              </button>
            </div>
          </div>

          <div class="gold-plan">
            <div class="plan-name">GOLD PLAN</div>
            <div class="individuals">For Mediators</div>
            <div class="free">
              <div class="rupee">
                <img src="../../assets/images/icons/repey.svg" alt="noImage" />
              </div>
              <div class="cost">99</div>
              <div class="month">
                / 1x month<span><img src="../../assets/images/icons/arrow_down_blue.svg" alt="noImage" /></span>
              </div>
            </div>
            <div class="limit">Users : Unlimited</div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />Chat Room
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />2 Case Diary
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />Blog
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/not_available_subscription.svg" alt="noImage" />Top 100 Listing
            </div>
            <div class="cancel-button">
              <button mat-raised-button color="primary" style="width: fit-content !important" class="cancel-btn">
                Choose Plan
              </button>
            </div>
          </div>
          <div class="platinum-plan">
            <div class="plan-name">PLATINUM PLAN</div>
            <div class="team">For Experts</div>
            <div class="free">
              <div class="rupee">
                <img src="../../assets/images/icons/repey.svg" alt="noImage" />
              </div>
              <div class="cost">499</div>
              <div class="month">
                / 1x month<span><img src="../../assets/images/icons/arrow_down_blue.svg" alt="noImage" /></span>
              </div>
            </div>
            <div class="limit">
              Users :
              <div class="minus-btn">-</div>
              <div class="number">5</div>
              <div class="plus-btn">+</div>
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />Chat Room
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />3 Case Diary
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />Blog
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />Top 50 Listing
            </div>
            <div class="cancel-button">
              <button mat-raised-button color="primary" style="width: fit-content !important" class="cancel-btn">
                Choose Plan
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--lawyer/user-profile Subscription Popup Ends  -->


  <!--lawyer/user-profile Account delete popup start -->
  <div class="modal fade" id="accountDeleteModal" tabindex="-1" aria-labelledby="accountDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered delete-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="accountDeleteModalLabel">Delete Your Account</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mt-3" style="color: #8798ad;">You want to delete your account. It will not retrieve at any cost.
          </div>
          <div class="text-center mb-3">
            <button mat-raised-button color="primary" style="width: fit-content !important"
              data-bs-target="#confirmDeleteModal" data-bs-toggle="modal">
              Continue
            </button>
            <button mat-stroked-button color="primary" style="width: fit-content !important; margin-left: 20px"
              data-bs-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--lawyer/user-profile Account delete popup ends -->


  <!--lawyer/user-profile Account confirmation delete popup start -->
  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered delete-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="confirmDeleteModalLabel">Delete Your Account</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mt-5"><img src="../../../../assets/images/image/warning.jpg" alt="noImage" /></div>
          <div class="mt-3 mb-3" style="color: #8798ad;">Are you sure you want to permanently delete your account?
          </div>
          <div class="text-center mt-3 mb-5">
            <button mat-raised-button color="primary" style="width: fit-content !important"
              data-bs-target="#confirmDeleteModal" data-bs-toggle="modal">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--lawyer/user-profile Account confirmation delete popup ends -->



  <!--User/user-profile account delete popup start -->
  <div class="modal fade" id="userAccountDeleteModal" tabindex="-1" aria-labelledby="userAccountDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered delete-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="userAccountDeleteModalLabel">Delete Your Account</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mt-3" style="color: #8798ad;">Are you sure you want to permanently delete your account? It will
            not
            retrieve at any cost.
          </div>
          <div class="text-center mb-3">
            <button mat-raised-button color="primary" style="width: fit-content !important" data-bs-dismiss="modal">
              Delete
            </button>
            <button mat-stroked-button color="primary" style="width: fit-content !important; margin-left: 20px"
              data-bs-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--User/user-profile account delete popup ends -->


  <!-- User/user-profile edit profile popup start -->
  <div class="modal fade" id="userEditProfileModal" aria-hidden="true" aria-labelledby="userEditProfileModalLabel"
    tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered user-edit-profile-popup">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="userEditProfileModalLabel">
            Edit Profile
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form [formGroup]="userEditProfileForm">
            <div class="d-flex mat-input-white" style="flex-direction: column">
              <div class="d-flex" style="justify-content:flex-start;
            align-items: center;">
                <div class="picture"><img src="../../assets/images/image/anurag_goyal.jpg" alt="" /></div>
                <div class="change-picture">Change</div>
              </div>

              <mat-label class="mat-label mt-3">Name</mat-label>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Enter Name" formControlName="name" required />
                <mat-error *ngIf="userEditProfileForm.controls['name'].hasError('required')">Name is
                  Required</mat-error>
                <mat-error *ngIf="
                    !userEditProfileForm.controls['name'].hasError('required') &&
                    userEditProfileForm.controls['name'].invalid
                  ">Name is invalid</mat-error>
              </mat-form-field>

              <mat-label class="mat-label mt-2">Select Location</mat-label>
              <mat-form-field appearance="outline">
                <mat-select placeholder="Select City" formControlName="city" required>
                  <mat-option *ngFor="let city of cities" [value]="city.value">
                    {{ city.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="userEditProfileForm.controls['city'].hasError('required')">City is
                  Required</mat-error>
                <mat-error *ngIf="
                    !userEditProfileForm.controls['city'].hasError('required') &&
                    userEditProfileForm.controls['city'].invalid
                  ">City is invalid</mat-error>
              </mat-form-field>

              <div class="row-field mt-3 mb-1">
                <div><mat-label class="mat-label mt-2">Mobile No</mat-label></div>
                <div>
                  <a class="resend-otp f-12" data-bs-toggle="modal" data-bs-target="#mobileOtpModal">Send OTP</a>
                </div>
              </div>

              <mat-form-field appearance="outline">
                <input matInput placeholder="Enter Mobile No" formControlName="mobile" maxlength="10"
                  (keypress)="isNumber($event)" required />
                <mat-error *ngIf="userEditProfileForm.controls['mobile'].hasError('required')">Mobile No. is
                  Required</mat-error>
                <mat-error *ngIf="
                  !userEditProfileForm.controls['mobile'].hasError('required') &&
                  userEditProfileForm.controls['mobile'].invalid
                ">Mobile No. invalid</mat-error>
              </mat-form-field>

              <div class="row-field mt-3 mb-1">
                <div><mat-label class="mat-label mt-2">Email</mat-label></div>
                <div>
                  <a class="resend-otp f-12" data-bs-toggle="modal" data-bs-target="#emailOtpModal">Send OTP</a>
                </div>
              </div>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Enter Email" formControlName="email" required />
                <mat-error *ngIf="userEditProfileForm.controls['email'].hasError('required')">Email is
                  Required</mat-error>
                <mat-error *ngIf="
                  !userEditProfileForm.controls['email'].hasError('required') &&
                  userEditProfileForm.controls['email'].invalid
                ">Email is invalid</mat-error>
              </mat-form-field>
            </div>

            <div class="mt-3 mb-3 filter-btn">
              <button mat-raised-button color="primary" style="width: fit-content !important; padding: 12px 36px">
                Save
              </button>
              <button mat-stroked-button color="primary" style="
                width: fit-content !important;
                margin-left: 20px;
                padding: 12px 36px;
              " data-bs-dismiss="modal">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Judge/user-profile edit profile popup start -->
  <div class="modal fade" id="judgeEditProfileModal" aria-hidden="true" aria-labelledby="judgeEditProfileModalLabel"
    tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered user-edit-profile-popup">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="judgeEditProfileModalLabel">
            Edit Profile
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form [formGroup]="userEditProfileForm">
            <div class="d-flex mat-input-white" style="flex-direction: column">
              <div class="d-flex" style="justify-content:flex-start;
            align-items: center;">
                <div class="picture"><img src="../../assets/images/image/anurag_goyal.jpg" alt="" /></div>
                <div class="change-picture">Change</div>
              </div>

              <mat-label class="mat-label mt-3">Name</mat-label>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Enter Name" formControlName="name" required />
                <mat-error *ngIf="userEditProfileForm.controls['name'].hasError('required')">Name is
                  Required</mat-error>
                <mat-error *ngIf="
                    !userEditProfileForm.controls['name'].hasError('required') &&
                    userEditProfileForm.controls['name'].invalid
                  ">Name is invalid</mat-error>
              </mat-form-field>

              <mat-label class="mat-label mt-2">Select State</mat-label>
              <mat-form-field appearance="outline">
                <mat-select placeholder="Select state" formControlName="state" required>
                  <mat-option *ngFor="let state of states" [value]="state.value">
                    {{ state.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="userEditProfileForm.controls['state'].hasError('required')">State is
                  Required</mat-error>
                <mat-error *ngIf="
                    !userEditProfileForm.controls['state'].hasError('required') &&
                    userEditProfileForm.controls['state'].invalid
                  ">City is invalid</mat-error>
              </mat-form-field>

              <mat-label class="mat-label mt-2">Select District</mat-label>
              <mat-form-field appearance="outline">
                <mat-select placeholder="Select district" formControlName="district" required>
                  <mat-option *ngFor="let district of districts" [value]="district.value">
                    {{ district.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="userEditProfileForm.controls['district'].hasError('required')">District is
                  Required</mat-error>
                <mat-error *ngIf="
                    !userEditProfileForm.controls['district'].hasError('required') &&
                    userEditProfileForm.controls['district'].invalid
                  ">City is invalid</mat-error>
              </mat-form-field>

              <mat-label class="mat-label mt-2">Select Court Type</mat-label>
              <mat-form-field appearance="outline">
                <mat-select placeholder="Select court type" formControlName="courtType" required>
                  <mat-option *ngFor="let court of courtType" [value]="court.value">
                    {{ court.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="userEditProfileForm.controls['courtType'].hasError('required')">Court Type is
                  Required</mat-error>
                <mat-error *ngIf="userEditProfileForm.controls['courtType'].hasError('required')">Court Type is
                  Required</mat-error>
                <mat-error *ngIf="
                    !userEditProfileForm.controls['courtType'].hasError('required') &&
                    userEditProfileForm.controls['courtType'].invalid
                  ">City is invalid</mat-error>
              </mat-form-field>

              <mat-label class="mat-label mt-2">Select Court Name</mat-label>
              <mat-form-field appearance="outline">
                <mat-select placeholder="Select court name" formControlName="courtName" required>
                  <mat-option *ngFor="let name of courtName" [value]="name.value">
                    {{ name.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="userEditProfileForm.controls['courtName'].hasError('required')">Court Name is
                  Required</mat-error>
                <mat-error *ngIf="userEditProfileForm.controls['courtName'].hasError('required')">Court Name is
                  Required</mat-error>
                <mat-error *ngIf="
                    !userEditProfileForm.controls['courtName'].hasError('required') &&
                    userEditProfileForm.controls['courtName'].invalid
                  ">City is invalid</mat-error>
              </mat-form-field>


              <div class="row-field mt-3 mb-1">
                <div><mat-label class="mat-label mt-2">Mobile No</mat-label></div>
                <div>
                  <a class="resend-otp f-12" data-bs-toggle="modal" data-bs-target="#mobileOtpModal">Send OTP</a>
                </div>
              </div>

              <mat-form-field appearance="outline">
                <input matInput placeholder="Enter Mobile No" formControlName="mobile" maxlength="10"
                  (keypress)="isNumber($event)" required />
                <mat-error *ngIf="userEditProfileForm.controls['mobile'].hasError('required')">Mobile No. is
                  Required</mat-error>
                <mat-error *ngIf="
                  !userEditProfileForm.controls['mobile'].hasError('required') &&
                  userEditProfileForm.controls['mobile'].invalid
                ">Mobile No. invalid</mat-error>
              </mat-form-field>

              <div class="row-field mt-3 mb-1">
                <div><mat-label class="mat-label mt-2">Email</mat-label></div>
                <div>
                  <a class="resend-otp f-12" data-bs-toggle="modal" data-bs-target="#emailOtpModal">Send OTP</a>
                </div>
              </div>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Enter Email" formControlName="email" required />
                <mat-error *ngIf="userEditProfileForm.controls['email'].hasError('required')">Email is
                  Required</mat-error>
                <mat-error *ngIf="
                  !userEditProfileForm.controls['email'].hasError('required') &&
                  userEditProfileForm.controls['email'].invalid
                ">Email is invalid</mat-error>
              </mat-form-field>
            </div>

            <div class="mt-3 mb-3 filter-btn">
              <button mat-raised-button color="primary" style="width: fit-content !important; padding: 12px 36px">
                Save
              </button>
              <button mat-stroked-button color="primary" style="
                width: fit-content !important;
                margin-left: 20px;
                padding: 12px 36px;
              " data-bs-dismiss="modal">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>