.root {
  .profile-container {
    width: -webkit-fill-available;
    width: -moz-available;
    height: -webkit-fill-available;
    height: -moz-available;
    background-color: white;
    display: flex;

    .profile-sidenav {
      padding: 0 90px 0 0x;
      position: fixed;

      li {
        list-style: none;
        max-width: 220px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 24px 24px 24px 30px;
        color: rgba(0, 0, 0, 0.6);

        a {
          flex-grow: 0;
          font-family: Poppins;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: var(--solid-black);
          cursor: pointer;
        }

        :hover {
          color: #2e5bff;
          background-color: unset;
        }
      }

      :hover {
        color: #2e5bff;
        background-color: #2e5bff0d;
        cursor: pointer;
      }

      .logout {
        a {
          cursor: pointer;
          font-family: Poppins;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.6);
          text-decoration: underline;
        }

        :hover {
          color: #2e5bff;
        }
      }

      .active-nav {
        background-color: #2e5bff0d;

        a {
          color: #2e5bff;
        }

        a {
          color: #2e5bff;
        }
      }
    }

    .main-content {
      width: -webkit-fill-available;
      width: -moz-available;
      margin: 24px 0 50px 250px;

      .section-info {
        border: 1px solid rgb(238, 238, 238);
        margin: 0 30px 20px 0;
        width: -webkit-fill-available;
        width: -moz-available;
        padding: 24px;
        transition: box-shadow 0.5s ease-in-out;

        .section-info-head {
          display: flex;

          h4 {
            width: -webkit-fill-available;
            width: -moz-available;
            flex-grow: 0;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 700;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: var(--solid-black);
            padding: 10px 0;
          }

          button {
            width: unset !important;
            height: 40px !important;
            background-color: #053bff0d;
            border-color: #7d818e0d !important;
          }
        }

        .description {
          flex-grow: 0;
          font-family: Poppins;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: var(--solid-black-60);
        }

        .user-details {
          display: block;
          margin-top: 24px;

          .user-profile {
            width: 90px;
            height: 90px;
            flex-grow: 0;
            border-radius: 50%;
          }

          .user-details-heading {
            flex-grow: 0;
            font-family: Poppins;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: var(--solid-black-60);
          }

          .user-details-detail {
            flex-grow: 0;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            margin: 0 40px 30px 0px;
            color: black;
          }

          .user-details-1a {
            display: flex;
            flex-direction: column;
            gap: 24px;

            a {
              cursor: pointer;
              font-family: poppins;
              font-size: 14px;
              color: grey;
              text-decoration: underline;
            }

            :hover {
              color: #2e5bff;
            }
          }
        }

        .profile-image {
          width: 80px;
          height: 80px;
          border: 1px solid black;
          border-radius: 50%;
          position: relative;
          margin-bottom: 15px;

          input {
            display: none;
          }

          .profile {
            width: 78px;
            height: 78px;
            border-radius: 50%;
          }

          .profile-input {
            position: absolute;
            width: 26px;
            height: 26px;
            background-color: #2e5bff;
            border-radius: 50%;
            bottom: 0;
            right: -8px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .camera {
              width: 16px;
              height: 16px;
            }
          }
        }
      }

      .box-shadow {
        box-shadow: 8px 8px 24px 0 #053bff14,
          -8px -8px 24px 0 rgba(5, 59, 255, 0.08);
      }
    }
  }

  .user-profile-root {
    margin: 30px;

    .display-profile {
      width: 126px;
      height: 126px;

      img {
        width: 126px;
        height: 126px;
        border-radius: 50%;
      }
    }

    button {
      width: fit-content !important;
      background-color: #053bff0d;
      border-color: #7d818e0d !important;
    }

    .basic-information {
      margin-top: 30px;

      h4 {
        flex-grow: 0;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--solid-black);
      }

      .details-container {
        display: flex;
        flex-direction: column;
        min-width: 300px;

        .heading {
          flex-grow: 0;
          font-family: Poppins;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: var(--solid-black-60);
        }

        .detail {
          flex-grow: 0;
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: black;
          margin: 5px 0 20px 0;
        }
      }
    }

    .password-security {
      margin-top: 30px;

      h4 {
        flex-grow: 0;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--solid-black);
      }

      .description {
        flex-grow: 0;
        font-family: Poppins;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--solid-black-60);
        padding-right: 200px;
      }

      .user-details {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        a {
          cursor: pointer;
          font-family: poppins;
          font-size: 14px;
          color: grey;
          text-decoration: underline;
          margin-top: 15px;
        }

        :hover {
          color: #2e5bff;
        }
      }
    }
  }
}

// profile edit popup styling start
.edit-profile-popup {
  width: 400px !important;

  h1 {
    font-size: 16px !important;
    color: #000000;
    font-family: Poppins;
    font-weight: 400 !important;
  }

  .modal-body {
    padding: 25px;

    .row-field {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        cursor: pointer;
      }
    }

    .mat-label {
      text-align: left;
      font-size: 14px;
      font-family: Poppins;
      font-weight: 500 !important;
      color: #000000;
    }

    textarea {
      line-height: 1.43;
      font-size: 14px;
      resize: none;
      font-family: Poppins;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      color: #000000;
    }
  }
}

// profile edit popup styling ends


// Mobile-verification popup styling start
.mobile-verification-popup {
  .modal-body {
    .head-text {
      font-size: 20px;
      font-weight: 600;
    }

    .sub-text {
      .mobile {
        font-weight: 700;
      }
    }

    .request-btn {
      font-family: Poppins;
      color: #2e5bff;
      font-weight: 400;
      font-size: 12px;
      margin-top: 45px;
      letter-spacing: normal;
    }
  }
}

// Mobile-verification popup styling ends


// Email-verification popup styling start
.email-verification-popup {
  .modal-body {
    .head-text {
      font-size: 20px;
      font-weight: 600;
    }

    .sub-text {
      .email {
        font-weight: 700;
      }
    }

    .request-btn {
      font-family: Poppins;
      color: #2e5bff;
      font-weight: 400;
      font-size: 12px;
      margin-top: 45px;
      letter-spacing: normal;
    }
  }
}

// Email-verification popup styling ends

// Subscription Popup Styling Start
.subscription-modal {
  .modal-body {

    .plan-container {
      overflow-x: scroll;
      width: calc(100vh + 330px);
    }
  }
}

// Subscription Popup Styling Ends


// Account delete modal styling start
.delete-modal {
  width: 430px;

  .modal-header {
    display: flex;
    justify-content: flex-start;

    h1 {
      text-align: left;
    }
  }

  .modal-body {
    .text-center {
      margin-top: 30px;
    }
  }
}

//Account delete modal styling ends


// user/user-profile edit profile styling start
.user-edit-profile-popup {
  width: 400px;

  h1 {
    font-size: 16px !important;
    color: #000000;
    font-family: Poppins;
    font-weight: 400 !important;
  }

  .modal-body {
    padding: 25px;

    .picture {
      width: 70px;
      height: 70px;

      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
    }

    .change-picture {
      color: #2e5bff;
      margin-left: 10px;
      text-decoration: underline;
      cursor: pointer;
    }

    .row-field {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        cursor: pointer;
      }
    }

    .mat-label {
      text-align: left;
      font-size: 14px;
      font-family: Poppins;
      font-weight: 500 !important;
      color: #000000;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    .profile-container {
      .profile-sidenav {
        display: flex;
        position: relative;
        z-index: 10;
        padding: 0 15px;

        li {
          white-space: nowrap;
          padding: 6px 10px;
          height: 50px;
          max-width: unset;
          height: 50px;

          a {
            font-size: 12px;
          }
        }

        .logout {
          a {
            font-size: 12px;
          }
        }
      }

      .main-content {
        // width: calc(100vw - 206px);
        height: calc(100vh - 200px);
        overflow-y: auto;
        position: absolute;
        top: 70px;
        margin: 89px 14px 0px 12px;

        .section-info {
          padding: 20px;
          margin-right: 0px;

          &:last-child {
            margin-bottom: 80px;
          }

          .description {
            white-space: normal;
          }

          .user-details {
            flex-wrap: wrap;

            .user-details-heading {
              margin: 0px 0px 0 15px;
            }

            .user-details-detail {
              margin: 0 10px 30px 15px;
              word-break: break-word;
            }
          }

        }
      }
    }

    .user-profile-root {
      margin: 15px;

      .basic-information {
        .details-container {
          min-width: 250px;
        }
      }

      .password-security {
        .description {
          padding-right: 50px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1299px) {
  .root {
    .profile-container {
      .main-content {
        .section-info {
          padding: 20px;

          &:last-child {
            margin-bottom: 80px;
          }

          .description {
            white-space: normal;
          }

          .user-details {
            flex-wrap: wrap;

            .user-details-heading {
              margin: 0px 0px 0 15px;
            }

            .user-details-detail {
              margin: 0 10px 30px 15px;
              word-break: break-word;
            }
          }

        }
      }
    }
  }
}