<!-- Header Part -->
<app-header [menuName]="'Profile'"></app-header>

<div class="root">
  <!-- SideNav of  User Profile -->
  <div class="profile-container">
    <div class="profile-sidenav col-lg-3 col-md-3">
      <li id="basic-nav" (click)="addStyling('basic-nav'); addShadow('basic-info')">
        <a>Basic Info</a>
      </li>
      <li id="organization-nav" (click)="addStyling('organization-nav'); addShadow('orgainization-info')">
        <a>Organization Info</a>
      </li>
      <li id="subscription-nav" (click)="addStyling('subscription-nav'); addShadow('subscription')">
        <a>Subscriptions Details</a>
      </li>
      <li id="password-nav" (click)="addStyling('password-nav'); addShadow('password&security')">
        <a>Password & Security</a>
      </li>
      <li class="logout" routerLink="/auth/login">
        <a>Logout</a>
      </li>
    </div>


    <!-- Main Content of  User Profile -->
    <div class="main-content col-lg-9 col-md-9">
      <!-- Basic-Info -->
      <div class="section-info" id="basic-info">
        <div class="section-info-head">
          <h4>Basic Info</h4>
          <button mat-stroked-button color="primary" data-bs-target="#editProfileModal" data-bs-toggle="modal">
            <span style="color: #2e5bff">Edit</span>
          </button>
        </div>
        <div class="description">
          Core competency lies in law and politics, with extensive experience in
          constitutional matters, litigation, and strategic policymaking,
          contributing significantly to legal and political discourse.
        </div>
        <div class="user-details">
          <div class="row">
            <div class="col-lg-2 col-md-2">
              <img src="../../../../assets/images/image/anurag_goyal.jpg" class="user-profile" />
            </div>

            <div class="col-lg-10 col-md-10">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Name</div>
                  <div class="user-details-detail">Anurag Goyal</div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">father's Name</div>
                  <div class="user-details-detail">father's Name Here</div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Mobile number</div>
                  <div class="user-details-detail">213-456-7980</div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Email</div>
                  <div class="user-details-detail">Anuraggoyal117&#64;gmail.com</div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Address</div>
                  <div class="user-details-detail">Numeroeins Software Pvt Ltd, 516 Appollo Tower 452010, Indore, M.p</div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Organization-Info -->
      <div class="section-info" id="orgainization-info">
        <div class="section-info-head">
          <h4>Organization Info</h4>
        </div>

        <div class="user-details">
          <div class="row">
            <div class="col-lg-2 col-md-2">
              <img src="../../../../assets/images/icons/organization.svg" class="user-profile" />
            </div>

            <div class="col-lg-10 col-md-10">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Organization Name</div>
                  <div class="user-details-detail">Anurag Law Firm</div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Branch Name/Address</div>
                  <div class="user-details-detail">Indore, Mp</div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Year of Practise</div>
                  <div class="user-details-detail">12</div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Name of State Bar</div>
                  <div class="user-details-detail">Name Here</div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Licence Number</div>
                  <div class="user-details-detail">213-456-7980</div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="user-details-heading">Name of Practicing Court</div>
                  <div class="user-details-detail">Name Here</div>
                </div>
              </div>

              <div class="d-flex">
                <div>
                  <div class="user-details-heading">Name of Practicing Area</div>
                  <div class="user-details-detail">Name Here</div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Subscription-Info -->
        <div class="section-info" id="subscription">
          <div class="section-info-head">
            <h4>Subscription</h4>
            <button mat-stroked-button color="primary" data-bs-target="#subscriptionModal" data-bs-toggle="modal">
              <span>Edit</span>
            </button>
          </div>
          <div class="description">
            To change your password, you'll need to verify the current one first.
            Then create a password you're not using elsewhere, and be sure to
            change it regularly as well as anytime you suspect it's been
            compromised.
          </div>
        </div>

        <!-- Password & Security -->
        <div class="section-info" id="password&security" style="margin-bottom: 20px">
          <div class="section-info-head">
            <h4>Password & Security</h4>
          </div>
          <div class="description">
            To change your password, you'll need to verify the current one first.
            Then create a password you're not using elsewhere, and be sure to
            change it regularly as well as anytime you suspect it's been
            compromised.
          </div>
          <div class="user-details">
            <div class="user-details-1a">
              <a routerLink="/auth/resetPassword">Change Password </a>
              <a data-bs-toggle="modal" data-bs-target="#accountDeleteModal">Delete Your Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Profile Popup Start -->
  <div class="modal fade" id="editProfileModal" aria-hidden="true" aria-labelledby="editProfileModalLabel" tabindex="-1"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered edit-profile-popup">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editProfileModalLabel">
            Edit Profile
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form [formGroup]="signupForm2">
            <div class="d-flex mat-input-white" style="flex-direction: column">
              <mat-label class="mat-label mt-2 mb-1">Core Competency</mat-label>
              <mat-form-field appearance="outline" class="textArea">
                <textarea id="text-area" type="text" matInput placeholder="Enter Your Core Competency"
                  formControlName="coreCompetency" required rows="3" maxlength="200"></textarea>
                <mat-error *ngIf="
                  signupForm2.controls['coreCompetency'].hasError('required')
                ">Core Competency is Required</mat-error>
                <!-- <mat-error *ngIf="!signupForm2.controls['coreCompetency'].hasError('required') &&
                                                  signupForm2.controls['coreCompetency'].hasError('minlength')">Minimum 150 Characters
                                                 Required</mat-error> -->

                <mat-error *ngIf="
                  !signupForm2.controls['coreCompetency'].hasError(
                    'required'
                  ) &&
                  signupForm2.controls['coreCompetency'].hasError('maxlength')
                ">Max Charaters Limit Reached</mat-error>
              </mat-form-field>

              <div class="row-field mt-3 mb-1">
                <div><mat-label class="mat-label mt-2">Mobile No</mat-label></div>
                <div>
                  <a class="resend-otp f-12" data-bs-toggle="modal" data-bs-target="#mobileOtpModal">Send OTP</a>
                </div>
              </div>

              <mat-form-field appearance="outline">
                <input matInput placeholder="Enter Mobile No" formControlName="mobile" maxlength="10"
                  (keypress)="isNumber($event)" required />
                <mat-error *ngIf="signupForm2.controls['mobile'].hasError('required')">Mobile No. is
                  Required</mat-error>
                <mat-error *ngIf="
                  !signupForm2.controls['mobile'].hasError('required') &&
                  signupForm2.controls['mobile'].invalid
                ">Mobile No. invalid</mat-error>
              </mat-form-field>

              <div class="row-field mt-3 mb-1">
                <div><mat-label class="mat-label mt-2">Email</mat-label></div>
                <div>
                  <a class="resend-otp f-12" data-bs-toggle="modal" data-bs-target="#emailOtpModal">Send OTP</a>
                </div>
              </div>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Enter Email" formControlName="email" required />
                <mat-error *ngIf="signupForm2.controls['email'].hasError('required')">Email is Required</mat-error>
                <mat-error *ngIf="
                  !signupForm2.controls['email'].hasError('required') &&
                  signupForm2.controls['email'].invalid
                ">Email is invalid</mat-error>
              </mat-form-field>
            </div>

            <div class="mt-3 mb-3 filter-btn">
              <button mat-raised-button color="primary" style="width: fit-content !important; padding: 12px 36px">
                Save
              </button>
              <button mat-stroked-button color="primary" style="
                width: fit-content !important;
                margin-left: 20px;
                padding: 12px 36px;
              " data-bs-dismiss="modal">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit Profile Popup ends -->

  <!-- Mobile Otp Verification Popup Start-->
  <div class="modal fade" id="mobileOtpModal" tabindex="-1" aria-labelledby="otpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mobile-verification-popup">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="otpModalLabel">Mobile Verification</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="head-text">Enter Verification Code</div>
          <div class="sub-text mt-2 mb-4">
            We sent a 6-digit code to<br /><span class="mobile mt-2">9896754227</span>
          </div>
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{ length: 6 }" class="mt-2"></ng-otp-input>
          <div class="d-flex align-items-center justify-content-center" style="flex-direction: column">
            <button mat-button color="primary" class="request-btn">
              Request a new Code
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile Otp Verification Popup Ends -->

  <!-- Email Otp Verification Popup Start-->
  <div class="modal fade" id="emailOtpModal" tabindex="-1" aria-labelledby="otpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered email-verification-popup">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="otpModalLabel">Email Verification</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="head-text">Enter Verification Code</div>
          <div class="sub-text mt-2 mb-4">
            We sent a 6-digit code to<br /><span class="email mt-2">test&#64;gmail.com</span>
          </div>
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{ length: 6 }" class="mt-2"></ng-otp-input>
          <div class="d-flex align-items-center justify-content-center" style="flex-direction: column">
            <button mat-button color="primary" class="request-btn">
              Request a new Code
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Email Otp Verification Popup Ends -->

  <!-- Subscription Popup Start  -->
  <div class="modal fade" id="subscriptionModal" tabindex="-1" aria-labelledby="subscriptionModalLabel"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-centered subscription-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="accountDeleteModalLabel">Plans</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="basic-plan">
            <div class="active-plan">
              <div class="tringle"></div>
              Currently Active
            </div>
            <div class="plan-name">BASIC PLAN</div>
            <div class="beginners">For Beginners</div>
            <div class="free">FREE</div>
            <div class="limit">Users : Unlimited</div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />Feature 1
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />Feature 2
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/not_available_subscription.svg" alt="noImage" />Feature 3
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />Feature 4
            </div>

            <div class="cancel-button">
              <button mat-raised-button color="primary" style="width: fit-content !important" class="cancel-btn">
                Cancel Plan
              </button>
            </div>
          </div>

          <div class="personal-plan">
            <div class="plan-name">PERSONAL PLAN</div>
            <div class="individuals">For Individuals</div>
            <div class="free">
              <div class="rupee">
                <img src="../../assets/images/icons/repey.svg" alt="noImage" />
              </div>
              <div class="cost">99</div>
              <div class="month">
                / 1x month<span><img src="../../assets/images/icons/arrow_down_blue.svg" alt="noImage" /></span>
              </div>
            </div>
            <div class="limit">Users : 0</div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />Feature 1
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />Feature 2
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />Feature 3
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/not_available_subscription.svg" alt="noImage" />Feature 3
            </div>
            <div class="cancel-button">
              <button mat-raised-button color="primary" style="width: fit-content !important" class="cancel-btn">
                Choose Plan
              </button>
            </div>
          </div>
          <div class="agency-plan">
            <div class="plan-name">AGENCY PLAN</div>
            <div class="team">For Your Team</div>
            <div class="free">
              <div class="rupee">
                <img src="../../assets/images/icons/repey.svg" alt="noImage" />
              </div>
              <div class="cost">499</div>
              <div class="month">
                / 1x month<span><img src="../../assets/images/icons/arrow_down_blue.svg" alt="noImage" /></span>
              </div>
            </div>
            <div class="limit">
              Users :
              <div class="minus-btn">-</div>
              <div class="number">5</div>
              <div class="plus-btn">+</div>
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />Feature 1
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />Feature 2
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/available_subscription.svg" alt="noImage" />Feature 3
            </div>
            <div class="feature">
              <img src="../../assets/images/icons/not_available_subscription.svg" alt="noImage" />Feature 3
            </div>
            <div class="cancel-button">
              <button mat-raised-button color="primary" style="width: fit-content !important" class="cancel-btn">
                Choose Plan
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Subscription Popup Ends  -->



  <!-- Account delete popup start -->
  <div class="modal fade" id="accountDeleteModal" tabindex="-1" aria-labelledby="accountDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered delete-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="accountDeleteModalLabel">Delete Account</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mt-3">Are you sure you want to permanently delete your account? It will not retrieve at any cost.
          </div>
          <div class="text-center mt-3 mb-3">
            <button mat-raised-button color="primary" style="width: fit-content !important" data-bs-dismiss="modal">
              Confirm
            </button>
            <button mat-stroked-button color="primary" style="width: fit-content !important; margin-left: 20px"
              data-bs-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Account delete popup ends -->