.root {
  .profile-container {
    width: -webkit-fill-available;
    width: -moz-available;
    height: -webkit-fill-available;
    height: -moz-available;
    background-color: white;
    display: flex;

    .profile-sidenav {
      padding: 0 90px 0 0x;
      position: fixed;

      li {
        list-style: none;
        max-width: 220px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 24px 24px 24px 30px;
        color: rgba(0, 0, 0, 0.6);

        a {
          flex-grow: 0;
          font-family: Poppins;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: var(--solid-black);
          cursor: pointer;
        }

        :hover {
          color: #2e5bff;
          background-color: unset;
        }
      }

      :hover {
        color: #2e5bff;
        background-color: #2e5bff0d;
        cursor: pointer;
      }

      .logout {
        a {
          cursor: pointer;
          font-family: Poppins;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.6);
          text-decoration: underline;
        }

        :hover {
          color: #2e5bff;
        }
      }

      .active-nav {
        background-color: #2e5bff0d;
          a{
            color: #2e5bff;
          }  
      }
    }

    .main-content {
      width: -webkit-fill-available;
      width: -moz-available;
      margin: 24px 0 50px 250px;

      .section-info {
        border: 1px solid rgb(238, 238, 238);
        margin: 0 30px 20px 0;
        width: -webkit-fill-available;
        width: -moz-available;
        padding: 24px;
        transition: box-shadow 0.5s ease-in-out;

        .section-info-head {
          display: flex;

          h4 {
            width: -webkit-fill-available;
            width: -moz-available;
            flex-grow: 0;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 700;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: var(--solid-black);
            padding: 10px 0;
          }

          button {
            width: unset !important;
            height: 40px !important;
            background-color: #053bff0d;
            border-color: #7d818e0d !important;
          }
        }

        .description {
          flex-grow: 0;
          font-family: Poppins;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: var(--solid-black-60);
        }

        .user-details {
          display: flex;
          margin-top: 24px;

          .user-profile {
            width: 90px;
            height: 90px;
            flex-grow: 0;
            border-radius: 50%;
          }

          .user-details-heading {
            flex-grow: 0;
            margin: 0 0px 0 47px;
            font-family: Poppins;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: var(--solid-black-60);
          }

          .organization-heading{
            flex-grow: 0;
            margin: 0 0px 0 26px;
            font-family: Poppins;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: var(--solid-black-60);
          }

          .organization-detail{
            flex-grow: 0;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            margin: 0 45px 28px 26px;
            color: black;
          }

          .user-details-detail {
            flex-grow: 0;
            margin: 4px 0 0;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            margin: 0 40px 30px 47px;
            color: black;
          }

          .user-details-1a {
            display: flex;
            flex-direction: column;
            gap: 24px;

            a {
              cursor: pointer;
              font-family: poppins;
              font-size: 14px;
              color: grey;
              text-decoration: underline;
            }

            :hover {
              color: #2e5bff;
            }
          }
        }
      }

      .box-shadow {
        box-shadow: 8px 8px 24px 0 #053bff14,
          -8px -8px 24px 0 rgba(5, 59, 255, 0.08);
      }
    }

    
  }
}

// profile edit popup styling start
.edit-profile-popup {
  width: 400px !important;

  h1 {
    font-size: 16px !important;
    color: #000000;
    font-family: Poppins;
    font-weight: 400 !important;
  }

  .modal-body {
    padding: 25px;

    .row-field {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        cursor: pointer;
      }
    }

    .mat-label {
      text-align: left;
      font-size: 14px;
      font-family: Poppins;
      font-weight: 500 !important;
      color: #000000;
    }

    textarea {
      line-height: 1.43;
      font-size: 14px;
      resize: none;
      font-family: Poppins;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      color: #000000;
    }
  }
}

// profile edit popup styling ends


// Mobile-verification popup styling start
.mobile-verification-popup {
  .modal-body {
    .head-text {
      font-size: 20px;
      font-weight: 600;
    }

    .sub-text {
      .mobile {
        font-weight: 700;
      }
    }
  }
}
// Mobile-verification popup styling ends



// Email-verification popup styling start
.email-verification-popup {
  .modal-body {
    .head-text {
      font-size: 20px;
      font-weight: 600;
    }

    .sub-text {
      .email {
        font-weight: 700;
      }
    }
  }
}
// Email-verification popup styling ends

// Subscription Popup Styling Start
.subscription-modal {
  .modal-body {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 40px 0;

    .feature {
      color: #8798ad;
      margin-top: 5px;

      img {
        margin-right: 8px;
      }
    }

    .plan-name {
      font-family: Poppins;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: var(--solid-black);
      margin-top: 30px;
    }

    .limit {
      margin-top: 20px;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #8798ad;
      display: flex;
      justify-content: center;
      align-items: center;

      .minus-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: #f5f5f5;
        font-weight: 600;
        color: #000000;
        margin-left: 5px;
      }

      .number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 31px;
        height: 36px;
        border: 1px solid #f5f5f5;
        border-radius: 4px;
        color: #000000;
        font-weight: 600;
        margin-left: 10px;
        font-size: 14px;
      }

      .plus-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: #f5f5f5;
        font-weight: 600;
        color: #000000;
        margin-left: 10px;
      }
    }

    .basic-plan {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid rgba(5, 59, 255, 0.05);
      border-radius: 24px;
      padding: 50px 48px;

      .active-plan {
        background-color: #2e5bff;
        color: white;
        padding: 8px 10px;
        position: absolute;
        top: 30px;
        left: 111px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        margin-top: 10px;

        .tringle {
          content: "";
          width: 12px;
          height: 12px;
          position: absolute;
          top: 30px;
          left: 0px;
          border-bottom-left-radius: 5px;
          border-left: 4px solid #2e5bff;
        }
      }

      .beginners {
        font-weight: 500;
        margin-top: 6px;
      }

      .free {
        font-family: Poppins;
        font-size: 50px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--solid-black);
        margin-top: 20px;
      }

      .cancel-button {
        margin-top: 20px;

        .cancel-btn {
          background-color: black;
        }
      }
    }

    .personal-plan {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid rgba(5, 59, 255, 0.05);
      border-radius: 24px;
      padding: 50px 48px;

      .individuals {
        font-weight: 500;
        margin-top: 6px;
      }

      .free {
        display: flex;
        align-items: baseline;
        font-family: Poppins;
        margin-top: 20px;
        position: relative;

        .rupee {
          position: absolute;
          top: 13px;
          left: -8px;
        }

        .cost {
          font-size: 50px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: var(--solid-black);
        }

        .month {
          color: #2e5bff;
          white-space: nowrap;
        }
      }

      .cancel-button {
        margin-top: 20px;
      }
    }

    .agency-plan {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid rgba(5, 59, 255, 0.05);
      border-radius: 24px;
      padding: 50px 48px;

      .team {
        font-weight: 500;
        margin-top: 6px;
      }

      .free {
        display: flex;
        align-items: baseline;
        font-family: Poppins;
        margin-top: 20px;
        position: relative;

        .rupee {
          position: absolute;
          top: 13px;
          left: -8px;
        }

        .cost {
          font-size: 50px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: var(--solid-black);
        }

        .month {
          color: #2e5bff;
          white-space: nowrap;
        }
      }

      .cancel-button {
        margin-top: 20px;
      }
    }
  }
}
// Subscription Popup Styling Ends


// Account delete modal styling start
.delete-modal{
  width: 380px;
.modal-header{
  display: flex;
  justify-content: flex-start;
  h1{
    text-align: left;
  }
}
}
//Account delete modal styling ends


@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    .profile-container {
      .profile-sidenav {
        display: flex;
        position: relative;
        z-index: 10;
        padding: 0 10px;

        li {
          white-space: nowrap;
          padding: 10px;
          max-width: unset;
        }
      }

      .main-content {
        width: calc(100vw - 206px);
        white-space: nowrap;
        position: absolute;
        top: 110px;
        margin: 89px 14px 0 12px;

        .section-info {
          padding: 20px;

          .description {
            white-space: normal;
          }
        }
      }
    }
  }
}