.main-container {
  height: 84px;
  width: -webkit-fill-available;
  width: -moz-available;
  border: solid 1px var(--transparent-blue-5);
  background-color: white;
  border-bottom: 1px solid #053bff0d;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;

  .welcome-text {
    flex-grow: 0;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: black;
    padding-left: 30px;
  }

  .sub-container {
    display: flex;
    justify-content: right;
    align-items: center;

    .btn-primary {
      width: 110px;
      height: 40px;
      flex-grow: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 8px 24px;
      border-radius: 40px;
      background-color: #2e5bff;
      border: none;
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: white;
      margin-right: 24px;
    }

    .search {
      margin-right: 24px;
      cursor: pointer;
    }

    .searchBox {
      z-index: 5;
      display: flex;
      align-items: center;
      position: relative;

      input {
        width: 98%;
        padding: 0 70px;
        height: 80px;
        border: none;
        background: #f5f5f5;
        margin: 2px;
        font-size: 24px;
      }

      .cancel {
        position: absolute;
        right: 4%;
      }

      .search {
        position: relative;
        margin: unset;
        margin-left: unset;
        position: absolute;
        margin-left: 22px;
      }
    }

    img {
      cursor: pointer;
    }

    .notification-container {
      margin-right: 24px;
      display: flex;
      width: 31px;
      cursor: pointer;

      div {
        background-color: #2e5bff;
        color: white;
        font-size: 8px;
        height: 14px;
        min-width: 12px;
        border-radius: 50%;
        position: relative;
        right: 14px;
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }

    .add-button {
      margin-right: 24px;
    }

    .profile-container {
      width: 48px;
      height: 48px;
      border: 1px solid black;
      border-radius: 50%;
      margin-right: 30px;

      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }
  }
}

// notification styling start
.notification-content {
  display: flex;
  padding: 12px 10px;
  justify-content: space-between;
  width: 350px;

  .notification-detail {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    font-family: Poppins;

    .member-request {
      font-weight: 600 !important;
      color: #000000;
      line-height: 20px;
    }

    .notification {
      color: #7c7c7c;
      line-height: 20px;
    }
  }

  .days {
    display: flex;
    white-space: nowrap;
    font-size: 10px !important;
    color: #a0a0a0;
  }
}

.mat-mdc-menu-item:not([disabled]):hover {
  background-color: unset !important;
  background-color: unset !important;
}

.notification-modal {
  width: 400px !important;
}

.modal-dialog .modal-header,
body .modal-dialog .modal-header {
  display: flex;

  justify-content: flex-start;
  background-color: #fbfbfb;
}


// Upgrade Popup Styling Start
.upgrade-modal {
  .modal-body {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 40px 0;

    .feature {
      color: #8798ad;
      margin-top: 12px;

      img {
        margin-right: 8px;
      }
    }

    .plan-name {
      font-family: Poppins;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: var(--solid-black);
      margin-top: 30px;
    }

    .limit {
      margin-top: 20px;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #8798ad;
      display: flex;
      justify-content: center;
      align-items: center;

      .minus-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: #f5f5f5;
        font-weight: 600;
        color: #000000;
        margin-left: 5px;
      }

      .number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 31px;
        height: 36px;
        border: 1px solid #f5f5f5;
        border-radius: 4px;
        color: #000000;
        font-weight: 600;
        margin-left: 10px;
        font-size: 14px;
      }

      .plus-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: #f5f5f5;
        font-weight: 600;
        color: #000000;
        margin-left: 10px;
      }
    }

    .silver-plan {
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid rgba(5, 59, 255, 0.05);
      border-radius: 24px;
      padding: 50px 48px;
      position: relative;

      .active-plan {
        position: absolute;
        top: 0px;
        left: -22px;
        margin-top: 10px;
      }

      .beginners {
        font-weight: 500;
        margin-top: 6px;
      }

      .free {
        font-family: Poppins;
        font-size: 50px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--solid-black);
        margin-top: 20px;
      }

      .cancel-button {
        margin-top: 20px;

        .cancel-btn {
          background-color: black;
        }
      }
    }

    .gold-plan {
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid rgba(5, 59, 255, 0.05);
      border-radius: 24px;
      padding: 50px 48px;

      .individuals {
        font-weight: 500;
        margin-top: 6px;
      }

      .free {
        display: flex;
        align-items: baseline;
        font-family: Poppins;
        margin-top: 20px;
        position: relative;

        .rupee {
          position: absolute;
          top: 13px;
          left: -8px;
        }

        .cost {
          font-size: 50px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: var(--solid-black);
        }

        .month {
          color: #2e5bff;
          white-space: nowrap;
        }
      }

      .cancel-button {
        margin-top: 20px;
      }
    }

    .platinum-plan {
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid rgba(5, 59, 255, 0.05);
      border-radius: 24px;
      padding: 50px 48px;

      .team {
        font-weight: 500;
        margin-top: 6px;
      }

      .free {
        display: flex;
        align-items: baseline;
        font-family: Poppins;
        margin-top: 20px;
        position: relative;

        .rupee {
          position: absolute;
          top: 13px;
          left: -8px;
        }

        .cost {
          font-size: 50px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: var(--solid-black);
        }

        .month {
          color: #2e5bff;
          white-space: nowrap;
        }
      }

      .cancel-button {
        margin-top: 20px;
      }
    }
  }
}

//Upgrade Popup Styling Ends

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    .welcome-text {
      font-size: 20px;
      padding-left: 15px;
    }

    .search {
      margin-right: 10px;
    }

    .notification-container {
      margin-right: 10px;
    }

    .add-button {
      margin-right: 10px;
    }

    .profile-container {
      margin-right: 15px !important;
    }
  }

  .upgrade-modal{
    .modal-body{
      flex-wrap: wrap;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .upgrade-modal {
    .modal-body {
      gap: 30px;
     
      .plan-name, .limit{
        white-space: nowrap;
      }

      .silver-plan, .gold-plan, .platinum-plan {
        width: 230px; 
      }
      }
    }
}
