.main-container {
  height: 84px;
  width: -webkit-fill-available;
  width: -moz-available;
  border: solid 1px var(--transparent-blue-5);
  background-color: white;
  border-bottom: 1px solid #053bff0d;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;

  .welcome-text {
    flex-grow: 0;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: black;
    padding-left: 30px;
  }

  .sub-container {
    display: flex;
    justify-content: right;
    align-items: center;

    .btn-primary {
      width: 110px;
      height: 40px;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 10px 24px;
      border-radius: 40px;
      background-color: #2e5bff;
      border: none;
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: white;
      margin-right: 24px;
    }

    .search {
      margin-right: 24px;
      cursor: pointer;
    }

    .searchBox {
      z-index: 5;
      display: flex;
      align-items: center;

      input {
        width: 98%;
        padding: 0 70px;
        height: 80px;
        border: none;
        background: #F5F5F5;
        margin: 2px;
        font-size: 24px;
      }

      .cancel {
        position: absolute;
        right: 18%;
      }

      .search {
        position: relative;
        margin: unset;
        margin-left: unset;
        position: absolute;
        margin-left: 22px;
      }

    }

    img {
      cursor: pointer;
    }

    .notification-container {
      margin-right: 24px;
      display: flex;
      width: 31px;
      cursor: pointer;

      div {
        background-color: #2e5bff;
        color: white;
        font-size: 8px;
        height: 14px;
        min-width: 12px;
        border-radius: 50%;
        position: relative;
        right: 14px;
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }

    .add-button {
      margin-right: 24px;
    }

    .profile-container {
      width: 48px;
      height: 48px;
      border: 1px solid black;
      border-radius: 50%;
      margin-right: 24px;

      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }
  }
}


// notification styling start
.notification-content {
  display: flex;
  padding: 12px 10px;
  justify-content: space-between;
  width: 350px;

  .notification-detail {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    font-family: Poppins;

    .member-request {
      font-weight: 600 !important;
      color: #000000;
      line-height: 20px;
    }

    .notification {
      color: #7c7c7c;
      line-height: 20px;
    }
  }


  .days {
    display: flex;
    white-space: nowrap;
    font-size: 10px !important;
    color: #A0A0A0;
  }
}

.mat-mdc-menu-item:not([disabled]):hover {
  background-color: unset !important;
  background-color: unset !important;
}

.modal-dialog {
  width: 380px !important;
}

.modal-dialog .modal-header,
body .modal-dialog .modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fbfbfb;
}




@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    .search {
      margin-right: 10px;
    }

    .notification-container {
      margin-right: 10px;
    }

    .add-button {
      margin-right: 10px;
    }

    .profile-container {
      margin-right: 10px;
    }
  }
}