.main-container {
  height: 84px;
  width: -webkit-fill-available;
  width: -moz-available;
  border: solid 1px var(--transparent-blue-5);
  background-color: white;
  border-bottom: 1px solid #053bff0d;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;

  .welcome-text {
    flex-grow: 0;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: black;
    padding-left: 30px;
  }

  .icon {
    display: none;
  }

  .logo {
    display: none;
  }

  .sub-container {
    display: flex;
    justify-content: right;
    align-items: center;

    .btn-primary {
      width: 110px;
      height: 40px;
      flex-grow: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 8px 24px;
      border-radius: 40px;
      background-color: #2e5bff;
      border: none;
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: white;
      margin-right: 24px;
    }

    .upgrade {
      display: block;
    }

    .search {
      margin-right: 24px;
      cursor: pointer;
    }

    .searchBox {
      z-index: 5;
      display: flex;
      align-items: center;
      position: relative;

      input {
        width: 98%;
        padding: 0 70px;
        height: 80px;
        border: none;
        background: #f5f5f5;
        margin: 2px;
        font-size: 24px;
      }

      .cancel {
        position: absolute;
        right: 4%;
      }

      .search {
        position: relative;
        margin: unset;
        margin-left: unset;
        position: absolute;
        margin-left: 22px;
      }
    }

    img {
      cursor: pointer;
    }

    .notification-container {
      margin-right: 24px;
      display: flex;
      width: 31px;
      cursor: pointer;

      div {
        background-color: #2e5bff;
        color: white;
        font-size: 8px;
        height: 14px;
        min-width: 12px;
        border-radius: 50%;
        position: relative;
        right: 14px;
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }

    .add-button {
      margin-right: 24px;
    }

    .profile-container {
      width: 48px;
      height: 48px;
      // border: 1px solid black;
      border-radius: 50%;
      margin-right: 30px;

      img {
        width: 46px;
        height: 46px;
        border-radius: 50%;
      }
    }

    .user-details {
      padding: 10px;

      .name {
        font-weight: 600;
      }
      
      .plan {
        display: flex;
        justify-content: right;
        font-size: 12px;
      }
    }
  }
}

.mobile-sidebar {
  background-color: #fbfbfb;
  width: 300px;
  position: absolute;
  top: 83px;
  left: 0;
  z-index: 3;

  .logo {
    height: 82px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .profile-section {
    display: flex;
    margin: 20px 0 20px 10px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .scrollbar {
    height: calc(100vh - 200px);
    margin-bottom: 20px;
  }

  .text {
    font-size: 12px;
    margin-left: 10px;
    color: #000;

    .email {
      color: #64748B;
    }

    .plan{
      margin-top: 10px;
      color: #64748B;
    }
  }

  li {
    height: 48px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    gap: 12px;
    padding: 0 0 0 30px;
    background-color: #ffffff0d;
    list-style-type: none;

    a {
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #00000099;
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    .in-active {
      margin-right: 12px;
      display: block;
    }

    .active {
      display: none;
    }
  }

  .active-link {
    background-color: #2e5bff0d;

    a {
      color: #2e5bff;

      .active {
        margin-right: 12px;
        display: block;
      }

      .in-active {
        display: none;
      }
    }
  }

  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // bottom: 0;
    // z-index: 2;
    cursor: pointer;

    div {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #1949f517;
      border: 1px solid #1949f517;
      display: flex;
      align-items: center;
      justify-content: center;

      .in-active {
        display: block;
      }

      .active {
        display: none;
      }
    }

    div:hover {
      background-color: #2e5bff;
      transition: all 0.3s ease-in-out;

      .active {
        display: block;
      }

      .in-active {
        display: none;
      }
    }

  }
}

// notification styling start
.notification-content {
  display: flex;
  padding: 12px 0px;
  justify-content: space-between;
  width: 350px;

  .image-container {
    display: flex;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  .notification-detail {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    font-family: Poppins;
    width: 100%;

    .member-request {
      font-weight: 600 !important;
      color: #000000;
      line-height: 20px;
    }

    .notification {
      color: #7c7c7c;
      line-height: 20px;
    }

    .notification-header {
      justify-content: space-between;
    }
  }

  .days {
    display: flex;
    white-space: nowrap;
    font-size: 10px !important;
    color: #a0a0a0;
  }
}

.mat-mdc-menu-item:not([disabled]):hover {
  background-color: unset !important;
  background-color: unset !important;
}

.notification-modal {
  width: 400px !important;
}

.modal-dialog .modal-header,
body .modal-dialog .modal-header {
  display: flex;

  justify-content: flex-start;
  background-color: #fbfbfb;
}


// Upgrade Popup Styling Start
.upgrade-modal {
  .modal-body {
    .plan-container {
      overflow-x: scroll;
      width: calc(100vh + 330px);
    }
  }
}

//Upgrade Popup Styling Ends

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    .welcome-text {
      font-size: 20px;
      padding-left: 15px;
    }

    .icon {
      display: none;
    }

    .search {
      margin-right: 10px;
    }

    .notification-container {
      margin-right: 10px;
    }

    .add-button {
      margin-right: 10px;
    }

    .profile-container {
      margin-right: 15px !important;
    }
  }
}


@media (max-width: 600px) {
  .main-container {
    justify-content: space-between;
    padding: 0 15px;

    .main-text {
      display: flex;
      justify-content: center;
      align-items: center;

      .welcome-text {
        font-size: 20px;
        white-space: nowrap;
        padding-left: 15px;
      }

      .icon {
        display: block;
        width: 20px;
        height: 20px;

        img {
          width: 20px;
          height: 20px;
        }
      }

    }


    .logo {
      display: block;
      width: 80px;

      img {
        width: 80px;
      }
    }

    .sub-container {
      margin-left: 20px;

      .btn-primary {
        width: 70px !important;
        height: 30px;
        padding: 0 9px;
        margin-right: 15px;
        font-size: 12px;
      }

      .search {
        margin-right: 12px !important;
  
        img {
          width: 22px;
          height: 22px;
        }
      }
  
      .notification-container {
        margin-right: 10px !important;
  
        img {
          width: 25px !important;
          height: 25px !important;
        }
      }
  
      // .add-button {
      //   margin-right: 5px !important;
      // }

      .user-details{
        display: none;
      }
  
      .profile-container {
        width: 35px !important;
        height: 35px !important;
        margin-right: 0 !important;
  
        img {
          width: 33px !important;
          height: 33px !important;
        }
      }
    }

    
  }

  .qr-modal {
    width: 96% !important;
  }
}