<div class="main-container">
  <div class="main-text col-lg-4 col-md-4 col-sm-2" *ngIf="menuName">
    <div> <a href="javascript:void(0);" class="icon" (click)="toggleSidebar()">
        <img src="../../../../assets/images/icons/burger-menu.svg" class="hamburger-img">
      </a></div>
    <div class="welcome-text">
      {{ menuName }}
    </div>
  </div>
  <div [ngClass]="colConfig" class="sub-container">
    <button *ngIf="userType == 'lawyer'|| userType == 'seller'" class="btn-primary upgrade" [ngStyle]="searchIcon"
      data-bs-toggle="modal" data-bs-target="#upgradeModal" (click)="getQrData()">Upgrade</button>
    <!-- <div class="logo">
        <img src="../../assets/images/icons/vidhiklogo.svg" alt="Vidhik" routerLink="/lawyer/activity-feed"
          style="cursor: pointer"/>
      </div> -->

    <!-- <div class="search" (click)="
        searchStyle = { width: '100%', display: 'flex' };
        searchIcon = { width: '0px', display: 'none' };
        redirectToSearch()
      " [ngStyle]="searchIcon">
      <img src="../../../../assets/images/icons/search.svg" />
    </div>

    <div class="searchBox" [ngStyle]="searchStyle">
      <input type="text" />
      <img class="cancel" (click)="
          searchStyle = { width: '0px', display: 'none' };
          searchIcon = { width: 'auto', display: 'block' };
          routeBack()
        " src="../../../../assets/images/icons/cancel.svg" />
      <img class="search" src="../../../../assets/images/icons/search_grey.svg" />
    </div> -->

    <div class="notification-container" [matMenuTriggerFor]="notificationMenu">
      <img src="../../../../assets/images/icons/notification.svg" />
      <div class="notification-count">{{notifications.length}}</div>
    </div>
    <mat-menu #notificationMenu="matMenu">
      <div style="height: 200px; width: 400px;">
        <ng-scrollbar autoHeightDisabled="false" autoWidthDisabled="false" style="height: 100%; width: 100%;">
          <div mat-menu-item *ngFor="let notification of notifications"
            (click)="notification.notificationType == 'approvalRequest'?openNoification():''">
            <div class="notification-content">
              <div class="d-flex w-100" *ngIf="notification.notificationType!='noData'">
                <div class="image-container">
                  <img [src]="notification.image"
                    onerror="this.onerror = '',this.src='../../../../assets/images/image/no-image.png'" />
                </div>

                <div class="notification-detail ms-2">
                  <div class="d-flex notification-header">
                    <div class="member-request">{{ notification.title }}</div>
                    <div class="days">{{getDaysAgo(notification.timestamp)>0?getDaysAgo(notification.timestamp) +
                      ' days ago':'Today' }}</div>
                  </div>
                  <div class="notification">{{ notification.body }}</div>
                </div>
              </div>
              <div class="d-flex w-100" *ngIf="notification.notificationType == 'noData'">
                <div class=" image-container">
                  <img [src]="notification.image"
                    onerror="this.onerror = '',this.src='../../../../assets/images/image/no-image.png'" />
                </div>

                <div class="notification-detail ms-2">
                  <div class="d-flex notification-header">
                    <div class="member-request">{{ notification.title }}</div>
                    <div class="days">{{getDaysAgo(notification.timestamp)>0?getDaysAgo(notification.timestamp) +
                      ' days ago':'Today' }}</div>
                  </div>
                  <div class="notification">{{ notification.body }}</div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="notifications.length == 0" class="notification-content justify-content-center">No new
            Notifications
          </div>
          <button id='openNotifications' class="d-none" data-bs-toggle="modal"
            data-bs-target="#notificationModal"></button>
        </ng-scrollbar>
      </div>
    </mat-menu>

    <!-- <div class="add-button">
      <img src="../../../../assets/images/icons/add_button.svg" />
    </div> -->
    <div class="user-details">
      <div class="name">{{userData.name}}</div>
      <div class="plan">{{userData.activePlan}}</div>
    </div>
    <div class="profile-container" (click)="redirectToProfile()">
      <img [src]="getImageUrl(this.userImage)"
        onerror="this.onerror=null;this.src='../../../../assets/images/image/person.jpg'" />
    </div>
  </div>
</div>

<div class="mobile-sidebar" *ngIf="isSidebarOpen">
  <div class="profile-section">
    <div>
      <img [src]="getImageUrl(userData.profileImage)" onerror="this.onerror =null
                ,this.src='../../assets/images/image/person.jpg'">
    </div>
    <div class="text">
      <div>{{userData.name}}</div>
      <div class="email">{{userData.email}}</div>
    </div>
  </div>
  <div class="scrollbar" *ngIf="userData.userType === 'LAWYER'">
    <ng-scrollbar autoHeightDisabled="false" appearance="standard">
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/lawyer/activity-feed" (click)="logoutCaseDiary()">
          <!-- <mat-icon>query_stats</mat-icon> -->
          <img src="../../assets/images/icons/activity_feed.svg" class="in-active" />
          <img src="../../assets/images/icons/active_feed.svg" class="active" />
          Activity Feed</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/lawyer/news" (click)="logoutCaseDiary()">
          <!-- <mat-icon>query_stats</mat-icon> -->
          <img src="../../assets/images/icons/inactive_news.svg" class="in-active" />
          <img src="../../assets/images/icons/active_news.svg" class="active" />
          News</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/lawyer/case-law/cases" (click)="logoutCaseDiary()">
          <!-- <mat-icon>gavel</mat-icon> -->
          <img src="../../assets/images/icons/case_law.svg" class="in-active" />
          <img src="../../assets/images/icons/active_law.svg" class="active" />
          Case Law</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/lawyer/bare-acts" (click)="logoutCaseDiary()">
          <!-- <mat-icon>gavel</mat-icon> -->
          <img src="../../assets/images/icons/bare_act.svg" class="in-active" />
          <img src="../../assets/images/icons/active_bare_act.svg" class="active" />
          Bare Acts</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/lawyer/case-diary" (click)="logoutCaseDiary()">
          <!-- <mat-icon>pie_chart_outline</mat-icon> -->
          <img src="../../assets/images/icons/case_diary (2).svg" class="in-active" />
          <img src="../../assets/images/icons/active_diary.svg" class="active" />
          My Case Diary</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/lawyer/calendar" (click)="logoutCaseDiary()">
          <!-- <mat-icon>calendar_month</mat-icon> -->
          <img src="../../assets/images/icons/calendar.svg" class="in-active" />
          <img src="../../assets/images/icons/active_calendar.svg" class="active" />
          Important Events</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/lawyer/members" (click)="logoutCaseDiary()">
          <!-- <mat-icon>groups</mat-icon> -->
          <img src="../../assets/images/icons/members.svg" class="in-active" />
          <img src="../../assets/images/icons/active_members.svg" class="active" />
          Members</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/lawyer/chat-room" (click)="logoutCaseDiary()">
          <img src="../../assets/images/icons/chat_room.svg" class="in-active" />
          <img src="../../assets/images/icons/active_room.svg" class="active" />
          <!-- <mat-icon>chat</mat-icon> -->
          Chat Room</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/lawyer/conference" (click)="logoutCaseDiary()">
          <img src="../../assets/images/icons/inactive_conference.svg" class="in-active" />
          <img src="../../assets/images/icons/active_conference.svg" class="active" />
          <!-- <mat-icon>chat</mat-icon> -->
          Conference</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/lawyer/transaction" (click)="logoutCaseDiary()">
          <!-- <mat-icon>storefront</mat-icon> -->
          <img src="../../assets/images/icons/inactive_transaction.svg" class="in-active" />
          <img src="../../assets/images/icons/active_transaction.svg" class="active" />
          Transactions</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/lawyer/marketplace" (click)="logoutCaseDiary()">
          <!-- <mat-icon>storefront</mat-icon> -->
          <img src="../../assets/images/icons/marketplace.svg" class="in-active" />
          <img src="../../assets/images/icons/active_marketplace.svg" class="active" />
          Marketplace</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/lawyer/wallet" (click)="logoutCaseDiary()">
          <!-- <mat-icon>storefront</mat-icon> -->
          <img src="../../assets/images/icons/wallet.svg" class="in-active" />
          <img src="../../assets/images/icons/active_wallet.svg" class="active" />
          Wallet</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/lawyer/time-pass" (click)="logoutCaseDiary()">
          <!-- <mat-icon>storefront</mat-icon> -->
          <img src="../../assets/images/icons/time_pass.svg" class="in-active" />
          <img src="../../assets/images/icons/active_time_pass.svg" class="active" />
          Time Pass</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/lawyer/contact-us" (click)="logoutCaseDiary()">
          <!-- <mat-icon>storefront</mat-icon> -->
          <img src="../../assets/images/icons/inactive_contact_us.svg" class="in-active" />
          <img src="../../assets/images/icons/active_contact_us.svg" class="active" />
          Contact Us</a>
      </li>
      <li>
        <a (click)="logout()">
          <img src="../../assets/images/icons/power.svg" class="in-active" style="width:24px" />
          <img src="../../assets/images/icons/power_active.svg" class="active" style="width:24px" />
          Logout</a>
      </li>
    </ng-scrollbar>
  </div>

  <div class="scrollbar" *ngIf="userData.userType == 'SELLER'">
    <ng-scrollbar autoHeightDisabled="false" appearance="standard">
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/seller/user-profile">
          <!-- <mat-icon>storefront</mat-icon> -->
          <img src="../../assets/images/icons/inactive_profile.svg" class="in-active" />
          <img src="../../assets/images/icons/active_profile.svg" class="active" />
          Profile</a>
      </li>

      <li [routerLinkActive]="'active-link'">
        <a routerLink="/seller/marketplace/dashboard">
          <!-- <mat-icon>storefront</mat-icon> -->
          <img src="../../assets/images/icons/marketplace.svg" class="in-active" />
          <img src="../../assets/images/icons/active_marketplace.svg" class="active" />
          Marketplace</a>
      </li>

      <li [routerLinkActive]="'active-link'">
        <a routerLink="/seller/transactions">
          <!-- <mat-icon>storefront</mat-icon> -->
          <img src="../../assets/images/icons/inactive_transaction.svg" class="in-active" />
          <img src="../../assets/images/icons/active_transaction.svg" class="active" />
          Transactions</a>
      </li>

      <li [routerLinkActive]="'active-link'">
        <a routerLink="/seller/contact-us">
          <!-- <mat-icon>storefront</mat-icon> -->
          <img src="../../assets/images/icons/inactive_contact_us.svg" class="in-active" />
          <img src="../../assets/images/icons/active_contact_us.svg" class="active" />
          Contact Us</a>
      </li>

      <li>
        <a (click)="logout()">
          <img src="../../assets/images/icons/power.svg" class="in-active" style="width:24px" />
          <img src="../../assets/images/icons/power_active.svg" class="active" style="width:24px" />
          Logout</a>
      </li>
    </ng-scrollbar>
  </div>

  <div class="scrollbar" *ngIf="userData.userType == 'USER'">
    <ng-scrollbar autoHeightDisabled="false" appearance="standard">
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/user/activity-feed">
          <!-- <mat-icon>query_stats</mat-icon> -->
          <img src="../../assets/images/icons/activity_feed.svg" class="in-active" />
          <img src="../../assets/images/icons/active_feed.svg" class="active" />
          Activity Feed</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/user/news">
          <!-- <mat-icon>query_stats</mat-icon> -->
          <img src="../../assets/images/icons/inactive_news.svg" class="in-active" />
          <img src="../../assets/images/icons/active_news.svg" class="active" />
          News</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/user/advocates">
          <!-- <mat-icon>gavel</mat-icon> -->
          <img src="../../assets/images/icons/case_law.svg" class="in-active" />
          <img src="../../assets/images/icons/active_law.svg" class="active" />
          Advocates</a>
      </li>

      <li [routerLinkActive]="'active-link'">
        <a routerLink="/user/conference">
          <img src="../../assets/images/icons/inactive_conference.svg" class="in-active" />
          <img src="../../assets/images/icons/active_conference.svg" class="active" />
          <!-- <mat-icon>chat</mat-icon> -->
          Conference</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/user/transactions">
          <!-- <mat-icon>storefront</mat-icon> -->
          <img src="../../assets/images/icons/inactive_transaction.svg" class="in-active" />
          <img src="../../assets/images/icons/active_transaction.svg" class="active" />
          Transactions</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/user/marketplace">
          <!-- <mat-icon>storefront</mat-icon> -->
          <img src="../../assets/images/icons/marketplace.svg" class="in-active" />
          <img src="../../assets/images/icons/active_marketplace.svg" class="active" />
          Marketplace</a>
      </li>
      <li [routerLinkActive]="'active-link'">
        <a routerLink="/user/contact-us">
          <!-- <mat-icon>storefront</mat-icon> -->
          <img src="../../assets/images/icons/inactive_contact_us.svg" class="in-active" />
          <img src="../../assets/images/icons/active_contact_us.svg" class="active" />
          Contact Us</a>
      </li>
      <li>
        <a (click)="logout()">
          <img src="../../assets/images/icons/power.svg" class="in-active" style="width:24px" />
          <img src="../../assets/images/icons/power_active.svg" class="active" style="width:24px" />
          Logout</a>
      </li>
    </ng-scrollbar>
  </div>

  <!-- <div class="social-icon">
    <div class="me-2">
      <img src="../../assets/images/icons/facebook_icon.svg" class="in-active" />
      <img src="../../assets/images/icons/hover_facebook.svg" class="active" />
    </div>
    <div class="me-2">
      <img src="../../assets/images/icons/instagram_icon.svg" class="in-active" />
      <img src="../../assets/images/icons/hover_instagram.svg" class="active" />
    </div>
    <div class="me-2">
      <img src="../../assets/images/icons/twitter_icon.svg" class="in-active" />
      <img src="../../assets/images/icons/hover_twitter.svg" class="active" />
    </div>
    <div class="me-2">
      <img src="../../assets/images/icons/whatsapp_icon.svg" class="in-active" />
      <img src="../../assets/images/icons/hover_whatsapp.svg" class="active" />
    </div>
  </div> -->
</div>


<!-- notification popup start -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered notification-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Add Member Request</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mt-3">
          <span style="font-weight: 600">Amul Soni</span> has request to add you
          as member
        </div>

        <div class="text-center mt-3 mb-3">
          <button mat-raised-button color="primary" style="width: fit-content !important" data-bs-dismiss="modal">
            Accept
          </button>
          <button mat-stroked-button color="primary" style="width: fit-content !important; margin-left: 20px"
            data-bs-dismiss="modal">
            Reject
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- notification popup ends -->


<!-- Upgrade Popup Start  -->
<div class="modal fade" id="upgradeModal" tabindex="-1" aria-labelledby="upgradeModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl modal-dialog-centered upgrade-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="accountDeleteModalLabel">Plans</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-subscription-plan [toggleId]="'#scannerModal'"></app-subscription-plan>
        <!-- <app-subscription-plan [toggleId]="'d'"></app-subscription-plan> -->
      </div>
    </div>
  </div>
</div>
<!-- Upgrade Popup Ends  -->

<!-- QR payment popup start -->
<!-- <button id="scannerModalButton" mat-raised-button color="primary w-100" data-bs-toggle="modal"
  data-bs-target="#scannerModal" class="d-none"></button> -->
<div class="modal fade" id="scannerModal" tabindex="-1" aria-labelledby="scannerModalLabel" aria-hidden="true"
  style="width: 100%;">
  <div class="modal-dialog modal-md modal-dialog-centered qr-modal" style="width: 430px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="scannerModalLabel">Scan QR Code</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <p class="mt-4 mb-4" style="color: #8798AD;">
          All the details of the lawyer upon successful payment. For this you will be charged INR 500.
        </p> -->
        <div class="mt-2 mb-2 d-flex justify-content-center">
          <p style="background:#2E5BFF0D; max-width: 360px; padding: 10px 122px;font-size: 16px;border-radius: 12px;cursor: pointer;"
            data-bs-toggle="modal" data-bs-target="#paymentSuccessModal">
            Scan QR Code
          </p>
        </div>
        <div class="mt-4 mb-4">
          <!-- <img src="../../assets/images/image/QRtiger.png" width="236" alt=""> -->
          <qrcode [qrdata]="qrData" [width]="236" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Payment Successful popup start -->
<!-- <button id="paymentSuccessfullPopupButton" mat-raised-button color="primary w-100" data-bs-toggle="modal"
data-bs-target="#paymentSuccessModal" class="d-none"></button> -->
<div class="modal fade" id="paymentSuccessModal" tabindex="-1" aria-labelledby="paymentSuccessModalLabel"
  aria-hidden="true" style="width: 100%;">
  <div class="modal-dialog modal-md modal-dialog-centered  qr-modal" style="width: 430px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="paymentSuccessModalLabel">Payment Successfull</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mt-3 mb-3">
          <img src="../../assets/images/image/payment_successful.png" alt="">
        </div>
        <p class="mb-4">
          Payment Successfull
        </p>
        <p class="m-4" style="color:#8798AD">
          You have successfully paid to see the details of the lawyer.<br><br> These details will be shown to
          you only 48 hours after the payment is completed.
        </p>
        <div class="mt-4 mb-4 px-4 py-3" style="border:1px solid #0000001A;border-radius: 12px;">
          <div class="payment-detail">
            Payment Details
          </div>
          <div class="transaction-detail">
            <div class="d-flex mt-2 justify-content-between">
              <div class="col-lg-6 col-md-6 label">Client</div>
              <div class="col-lg-6 col-md-6 detail">Kapil Sibbal</div>
            </div>

            <div class="d-flex mt-1 justify-content-between">
              <div class="col-lg-6 col-md-6 label">Transaction ID</div>
              <div class="col-lg-6 col-md-6 detail">TTCNI022000800594</div>
            </div>

            <div class="d-flex mt-1 justify-content-between">
              <div class="col-lg-6 col-md-6 label">Payment Date</div>
              <div class="col-lg-6 col-md-6 detail">Feb 15 2024, 4:35 PM</div>
            </div>

            <div class="d-flex mt-1 justify-content-between">
              <div class="col-lg-6 col-md-6 label">Payment Method</div>
              <div class="col-lg-6 col-md-6 detail">Bank Account</div>
            </div>

            <div class="d-flex mt-1 justify-content-between">
              <div class="col-lg-6 col-md-6 label">Confirmation</div>
              <div class="col-lg-6 col-md-6 detail">Successful</div>
            </div>

            <hr>

            <div>
              <button mat-raised-button color="primary" class="m-2" data-bs-dismiss="modal">Done</button><br />
              <button mat-stroked-button color=" primary" class="m-2">
                Download Receipt
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>