.highlight {
    background-color: yellow;
    font-weight: bold;
}

.filter-bar {
    background-color: #F6F6F6;
    width: 100%;
    position: relative;
    display: flex;
    height: 47px;
    padding: 0 30px 0 30px;

    .pretext {
        display: flex;
        align-items: center;

        .records {
            font-size: 14px;
            font-family: Poppins;
            color: #8798AD;
        }
    }

    .posttext {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img {
            margin-left: 15px;
            cursor: pointer;
        }

        .search {
            // margin-right: 15px;
            cursor: pointer;
        }

        .searchBox {
            z-index: 5;
            display: flex;
            align-items: center;
            position: relative;
            width: 300px !important;

            input {
                width: 98%;
                padding: 0 50px;
                height: 45px;
                border: none;
                background: #f5f5f5;
                margin: 2px;
                font-size: 14px;
            }

            ::placeholder {
                color: #868585 !important;
            }

            .cancel {
                position: absolute;
                right: 1px;
                width: 18px;
                height: 18px;
            }

            .search {
                position: relative;
                margin: unset;
                margin-left: unset;
                position: absolute;
                margin-left: 22px;
                width: 25px;
                height: 25px;
                margin-top: 2px;
            }
        }
    }
}

.matched-text {
    background-color: yellow;
}


.case-law-detail {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 47px 2px 0 30px;
    font-family: Poppins;

    .header {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #8798ad;
        text-align: center;
    }

    .highlighted-text {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2E5BFF;
        width: 100%;
        margin-top: 68px;
    }

    .title {
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: black;
        width: 100%;
        text-align: center;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;

        .desc-head {
            max-width: 590px;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #282828;
        }

        .desc-body {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #282828;

            .bold {
                font-weight: bold;
            }
        }
    }
}

.add-member-popup {
    width: 420px !important;

    .add-member-body {
        display: flex;
        flex-direction: column;

        .search-input {
            width: 357px !important;
            cursor: pointer;
        }

        .funnel-image {
            padding-bottom: 12px;
            cursor: pointer;
            width: 20px;
        }
    }

    .add-member-details {
        // width: 338px !important;
        display: flex;
        justify-content: space-between;
        border: 1px solid #f5f5f5;
        border-radius: 12px;
        padding: 0 10px;
        margin-top: 10px;

        .member-img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }

        .member-detail {
            display: flex;
            flex-direction: column;
            font-family: Poppins;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 28px;
            letter-spacing: normal;
            text-align: left;
            color: #8798ad;
            white-space: nowrap;

            .member-name {
                font-weight: 600 !important;
                color: #282828;
            }

            .member-experience {
                font-size: 12px;
            }
        }

        .member-rating-btn {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: end;

            .star {
                text-align: right;
                font-size: 12px;
                margin-right: 10px;
            }

            button {
                width: 80px !important;
                height: 30px;
                font-size: 10px;
                color: #2e5bff;
                white-space: nowrap;
                border-color: #7d818e0d !important;
                background-color: #053bff0d;
            }
        }
    }

    //  add-member-popup styling start

    // filter popup styling start
    .modal-body {
        padding: 24px;

        .mat-label {
            text-align: left;
            font-size: 14px;
            font-family: Poppins;
            font-weight: 500 !important;
            color: #000000;
        }

        .mat-mdc-radio-group {
            text-align: left !important;
        }
    }

    // filter popup styling ends
}

.section-to-print {
    margin: 10px;
    text-align: justify;
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .root {
        .filter-bar {
            padding: 0 15px 0 15px;

            // .posttext{
            //     padding-right: 15px;
            // }
        }

        .case-law-detail {
            margin: 47px 0 0 15px;
        }
    }
}