<app-header [menuName]="'Case Law'"></app-header>
<div class="root" appPreventKeyboardEvents>
  <div class="filter-bar">
    <div class="pretext col-lg-6 col-md-6">
      <img src="../../../assets/images/icons/arrow-left.svg" style="cursor: pointer;" (click)="routeBack()" />
      <div class="records">Case Law</div>
    </div>
    <div class="posttext col-lg-6 col-md-6">
      <div class="search" (click)="searchStyle = { width: '100%', display: 'flex' };
      searchIcon = { width: '0px', display: 'none' };" [ngStyle]="searchIcon">
        <img src="../../../assets/images/icons/search-blue.svg" />
      </div>

      <div class="searchBox" [ngStyle]="searchStyle">
        <input type="search" placeholder="Search Here..." />
        <img class="cancel" (click)="
            searchStyle = { width: '0px', display: 'none' };
            searchIcon = { width: 'auto', display: 'block' };" src="../../../../assets/images/icons/cancel.svg" />
        <img class="search" src="../../../../assets/images/icons/search_grey.svg" />
      </div>

      <div><img src="../../../assets/images/icons/bookmark.svg" /></div>
      <div><img src="../../../assets/images/icons/person.svg" /></div>
      <!-- <div (click)="exportAsPDF('section-to-print')"><img src="../../../assets/images/icons/pdf.svg" /></div> -->
      <div><a [href]="getMailtoLink()" style="color: black; text-decoration: none;">
          <img src="../../../assets/images/icons/mailTo.svg" /></a></div>
      <div (click)="print()"><img src="../../../assets/images/icons/print.svg" /></div>
    </div>
  </div>
  <div style="height: calc(100vh - 175px)">
    <ng-scrollbar autoHeightDisabled="false" appearance="standard">
      <div id="section-to-print" #printableContent class="case-law-detail">
        <div class="logo">
          <img [src]="getBase64ImageFromUrl('../../../assets/images/icons/vidhiklogo.svg')" alt="" />
        </div>
        <p class="header mt-4">
          This Product is licenced to {{userName.name}},
          {{userName.email}}, {{userName.city}}
        </p>
        <div class="title mt-4">
          {{caseLawDetail.title}}<br />
        </div>
        <!-- <div class="description mt-4">
          <div class="desc-body mt-4" [innerHTML]="caseLawDetail.document"></div>
        </div> -->
        <div *ngIf="keyWord.keyWord" class="mt-4"
          [innerHTML]="removeDocidAndLicense(caseLawDetail.document)|highlighter:keyWord.keyWord|safeHTML">
        </div>
        <div *ngIf="!keyWord.keyWord" class="mt-4" [innerHTML]="removeDocidAndLicense(caseLawDetail.document)|safeHTML">
        </div>
      </div>
    </ng-scrollbar>
  </div>
</div>


<!-- share with member popup start -->
<div class="modal fade" id="shareMemberPopup" aria-hidden="true" aria-labelledby="shareMemberPopupLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable add-member-popup">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="shareMemberPopupLabel">
          Members
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="add-member-body">
          <div class="d-flex">
            <!-- <mat-form-field class="search-input" appearance="outline">
              <input matInput placeholder="Search Member" (keyup)="filterLawyers($event)" />
              <span matSuffix><img src="../../../assets/images/icons/search-blue.svg"
                  style="margin-right: 15px" /></span>
            </mat-form-field> -->
          </div>

          <ng-scrollbar style="height: 400px">
            <div class="add-member-details" *ngFor="let member of memberList">
              <div class="d-flex align-items-center">
                <div>
                  <img src="../../assets/images/image/add_member.png" alt="noImage" class="member-img" />
                </div>

                <div class="member-detail ms-2">
                  <div class="member-name">{{ member.lawyerName }}</div>
                  <div class="d-flex">
                    <img src="../../assets/images/icons/lawyer_type.svg" alt="" class="me-1" />
                    <div class="member-lawyer-type">
                      {{ member.practicingField[0] + '...' }}
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-left">
                    <img src="../../assets/images/icons/member_experience.svg" width="16" height="23.8" alt=""
                      class="me-1" />
                    <div class="member-experience">
                      {{ member.yearOfExperience }} Yrs
                    </div>
                  </div>
                </div>
              </div>

              <div class="member-rating-btn">
                <div class="star">
                  <img src="../../assets/images/icons/yellow_star.svg" alt="" class="me-1" />{{(member.rating)}}
                </div>
                <div>
                  <button mat-stroked-button color="primary" (click)="share(member)" data-bs-dismiss="modal">
                    Share
                  </button>
                </div>
              </div>
            </div>
          </ng-scrollbar>
        </div>
      </div>
    </div>
  </div>
</div>